// @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;400;500&family=Work+Sans&family=Montserrat:ital,wght@0,400;0,600;1,300;1,500;1,700&display=swap") ;

$base-color : #575757;
$primary-color : #000000;
$secondary-color : #ffffff;
$mercury : #e9e9e9;


// media queries
$desktop-breakpoint : 1200px;
$tab-breakpoint : 768px;
$mobile-breakpoint : 576px;