

.page--content {
	&--home {
		&__jumbo {
			flex-direction : column;
			@include interpolate("margin-bottom", 576px, 132px, 992px, 278px, "ease-in");
			@media(min-width: $tablet) {
				flex-direction : row;
				.section--content ,
				.section--image {
					flex : 0 0 50%;
					max-width : calc(50% - 0);
					width : auto;
				}
			}

			.section {
				&--image {
					width : 260px;
					margin-left : auto;
					margin-right : auto;

					@media(min-width: $tablet) {
						padding-left : 15px;
						width : auto;
						order : 1;
					}
					@media(min-width: $desktop) {
						padding-left : 126px;
					}
					svg {
						width : 100%;
						height : 100%;
					}
				}

				&--content {
					@media(min-width: $tablet) {
						padding-right : 15px;
					}

					.hero--text_title {
						font-family : var(--font);
						font-style : normal;
						font-weight : 700;
						color : var(--text-black);
						margin-bottom : 36px;
						display : block;

						@include interpolate("font-size", 576px, 24px, 992px, 48px, "ease-in");
						@include interpolate("line-height", 576px, 36px, 992px, 72px, "ease-in");
						// width : 300px;

						@media(min-width: $tablet) {
							// width : 558px;
						}

						span {
							display : block;
							overflow: hidden;

							@media(min-width: $tablet) {
								display : inline;
							}
							@media(min-width: $desktop) {
								display : block;
							}
						}
					}
				}
			}
		}

		&__recent-project {
			@include interpolate("margin-bottom", 576px, 60px, 992px, 100px, "ease-in");

			.section--header {
				@include interpolate("margin-bottom", 576px, 42px, 992px, 132px, "ease-in");

				&__title {
					span {
						display : block;
						overflow: hidden;
						color : var(--text-black);
						font-family : var(--font);
						font-weight : 700;
						@include interpolate("font-size", 576px, 20px, 992px, 32px, "ease-in");
						@include interpolate("line-height", 576px, 32px, 992px, 48px, "ease-in");
					}
				}
			}

			.section {
				&--content {
					&__slider {
						position : relative;
						padding-bottom : 50px;

						@media(min-width: $tablet) {
							// padding-top : 188px;
							// padding-bottom : 188px;

							@include interpolate("padding-top", 576px, 40px, 992px, 188px, "ease-in");
							@include interpolate("padding-bottom", 576px, 40px, 992px, 188px, "ease-in");
						}

						&--wrapper {
							background : var(--cultured);
							width : 469.74px;
							// height : 798px;
							@include interpolate("height", 576px, 40px, 992px, 798px, "ease-in");
							position : absolute;
							// top : -189px;
							// @include interpolate("top", 576px, -40px, 992px, -188px, "ease-in");
							top : 0;
							right : -120px;
							display : none;

							@media(min-width: $tablet) {
								display : block;
							}
						}

						&:after {
							content : "";

							@media(min-width: $tablet) {
								content : none;
							}

							display : block;
							position : absolute;
							background : var(--cultured);
							bottom : 0;
							left : -9999em;
							right : -9999em;
							z-index : -1;
							@include interpolate("height", 576px, 403px, 992px, 798px, "ease-in");
						}

						.swiper {
							&-container{
								overflow: visible;
							}
							 
						    &-slide{
								.section--content{
									visibility: hidden;
									pointer-events: none;
								}

								&-active{
									.section--content{
										visibility: visible;
										pointer-events: visible;
									}

									//adding animation
									.section--image{
										-webkit-animation-name: fade;
	                                    -webkit-animation-duration: 1s;
	                                    animation-name: fade;
	                                    animation-duration: 0.7s;
										// transform-origin: center;
									}
									@keyframes fade {
										from {opacity: .4; transform: scaleX(0)} 
										to {opacity: 1; transform: scaleX(1)}
									  }
								}
							}

							&-pagination {
								text-align : left;
								@media(min-width: $tablet) {
									bottom: -50px;
									left: 51.5%;
									display : flex;
									flex-direction : row;
									width: 100%;
									height: 3px;
								}

								&-custom {
									text-align : left;
								}
								
								&-bullet {
									html body & {
										margin : 0;
										margin-right : 10px;
										width : 24px;
										height : 3px;
										display : inline-block;
										border-radius : 0;
										background : var(--gray-light);
										opacity : 1;

										@media(min-width: $tablet) {
											margin : 0;
											margin-right: 10px;
											height : 3px;
											width : 36px;
										}
									}

									&-active {
										background : var(--red) !important;
									}

									&:last-child {
										margin-right : 0;

										@media(min-width: $tablet) {
											margin-bottom : 0;
										}
									}
								} 
							}

							&-slide {
								// > * {
								// 	outline : 1px solid blue;
								// }

								display : flex;
								flex-direction : column;
								@media(min-width: $tablet) {
									flex-direction : row;
									align-items : flex-end;
									justify-content : space-between;
								}

								.section {
									&--content {
										max-width : 407px;
										&__link {
											display : inline-block;
										}

										&__title {
											a {
												color : var(--text-black-light);
												font-family : var(--font);
												font-style : normal;
												font-weight : 700;
												@include interpolate("font-size", 576px, 18px, 992px, 32px, "ease-in");
												@include interpolate("line-height", 576px, 30px, 992px, 48px, "ease-in");
												margin-top : 34px;
												margin-bottom : 10px;

												@media(min-width: $tablet) {
													margin-top : 0;
												}
											}
										}

										&__tag {
											font-family : var(--font);
											font-style : normal;
											font-weight : 500;
											line-height : 24px;
											@include interpolate("font-size", 576px, 14px, 992px, 16px, "ease-in");
											color : var(--gray-dark);
											margin-bottom : 33px;

											@media(min-width: $tablet) {
												font-weight : 700;
											}
										}

										&__read-more {
											display : flex;
											align-items : center;
											margin-bottom : 58px;

											@media(min-width: $tablet) {
												margin-bottom : 0;
											}


											.link-text {
												font-family : var(--font);
												font-style : normal;
												font-weight : 700;
												font-size : 14px;
												line-height : 28px;
												color : var(--red);
												margin-right : 19px;
												
											}

											&:hover{
												.link-text{
													color:var(--text-black-light);
												}
												svg{
													animation-name: tonfro;
													animation-duration: 1s;
													animation-iteration-count: infinite;
													animation-timing-function: ease-in-out;
													animation-delay: 0.5;
													@keyframes tonfro {
														from{transform:translateX(10px)}
                                                        to {transform:translateX(0px)}														
													}
													path{
														stroke: var(--red);
													}
												}
											}
										}
									}

									&--image {
										a {
											width : 100%;
										}
										width : 100%;
										height : auto;
										@media(min-width: $tablet) {
											order : 1;
											@include interpolate("width", 576px, 300px, 992px, 558px, "ease-in");
											@include interpolate("height", 576px, 226px, 992px, 420px, "ease-in");
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&__service {
			.section--header {
				&__title {
					margin-bottom : 84px;
					display : block;

					span {
						overflow: hidden;
						@media(min-width: $tablet) {
							display : block;
						}
						font-family : var(--font);
						font-style : normal;
						font-weight : 700;
						// font-size : 32px;
						// line-height : 48px;
						@include interpolate("font-size", 520px, 20px, 992px, 32px, "ease-in");
						@include interpolate("line-height", 520px, 32px, 992px, 48px, "ease-in");
						color : var(--text-black);
					}
				}
			}

			.skill--lists {
				@include interpolate("margin-top", 520px, 55px, 992px, 82px, "ease-in");
				@include interpolate("margin-bottom", 520px, 50px, 992px, 190px, "ease-in");

				ol {
					counter-reset : my-awesome-counter;
					display : grid;
					row-gap : 60px;
					column-gap : 30px;
					grid-template-columns : 1fr;

					@media(min-width: 586px) {
						grid-template-columns : 1fr 1fr 1fr;
					}

					@media(min-width: 960px) {
						row-gap : 68px;
						grid-template-columns : repeat(3, 266px);
						grid-template-columns : repeat(4, 1fr);
						grid-template-areas : ". one two three";
					}
				}

				.skill--list {
					display : flex;
					flex-direction : column;
					justify-content : flex-start;
					overflow: hidden;

					@media(min-width: 960px) {
						&:nth-child(1) {
							grid-area : one;
						}

						&:nth-child(2) {
							grid-area : two;
						}

						&:nth-child(3) {
							grid-area : three;
						}
					}

					.image {
						display : block;
						margin-bottom : 50px;
						width : 60px;
						height : 60px;
						@media(min-width: $tablet) {
							width : 74px;
							height : 74px;
						}
						svg {
							width : 100%;
							height : 100%;
						}
					}

					strong {
						&:before {
							content : counter(my-awesome-counter, decimal-leading-zero) ".";
							display : block;
							font-weight : 500;
							font-size : 14px;

							@media(min-width: 768px) {
								font-size : 16px;
							}

							line-height : 24px;
							color : var(--gray);
							margin-bottom : 18px;
						}

						font-style : normal;
						font-weight : 700;
						font-size : 18px;
						line-height : 26px;

						@media(min-width: 768px) {
							font-size : 20px;
							line-height : 28px;
						}

						counter-increment : my-awesome-counter;
					}

					p {
						margin-top : 42px;
						font-weight : 500;
						font-size : 16px;
						line-height : 28px;
					}
				}
			}

			.readmoreLink {
				display : block;
				margin-top : 56px;
				@media(min-width: 960px) {
					display : grid;
				}
				grid-template-columns : repeat(4, 1fr);
				grid-template-areas : ". one";

				a {
					grid-area : one;
					display : inline-flex;
					align-items : center;
					font-weight : 700;
					font-size : 18px;
					line-height : 28px;
					color : var(--red);

					span {
						margin-left : 20px;
					}

					svg {
						display : inline-block;
					}
				}
				&:hover{
					a{
						color:var(--text-black-light);
					}
					svg{
						animation-name: tonfro;
						animation-duration: 1s;
						animation-iteration-count: infinite;
						animation-timing-function: ease-in-out;
						animation-delay: 0.5;
						@keyframes tonfro {
							from{transform:translateX(10px)}
							to {transform:translateX(0px)}														
						}
						path{
							stroke: var(--red);
						}
					}
				}
			}
		}


		&__focus-industries {
			.swiper-container {
				overflow : visible;
			}
			padding-top : 44px;
			@media(min-width: $tablet) {
				padding-top : 0;
			}
			@include interpolate("margin-bottom", 576px, 60px, 992px, 100px, "ease-in");

			.section--header {
				@include interpolate("margin-bottom", 576px, 42px, 992px, 132px, "ease-in");

				&__title {
					span {
						display : block;
						color : var(--text-black);
						font-family : var(--font);
						font-weight : 700;
						@include interpolate("font-size", 576px, 20px, 992px, 32px, "ease-in");
						@include interpolate("line-height", 576px, 32px, 992px, 48px, "ease-in");
					}
				}
			}

			.section {
				&--content {
					&__slider {
						position : relative;
						padding-bottom : 50px;

						@media(min-width: $tablet) {
							padding-top : 188px;
							padding-bottom : 188px;
						}

						&--wrapper {
							background : var(--cultured);
							width : 766px;
							height : 476px;
							position : absolute;
							top : -189px;
							top : 0;
							left : -120px;
							display : none;

							@media(min-width: $tablet) {
								display : block;
							}
						}

						&:after {
							content : "";

							@media(min-width: $tablet) {
								content : none;
							}

							display : block;
							position : absolute;
							background : var(--cultured);
							top : -120px;
							left : -9999em;
							right : -9999em;
							z-index : -1;
							@include interpolate("height", 576px, 403px, 992px, 798px, "ease-in");
						}

						.swiper {
							&-pagination {
								text-align : left;
								@media(min-width: $tablet) {
									top : 148px;
									left : initial;
									right : -62px;
									width : 4px;
									height : 126px;
									display : flex;
									flex-direction : column;
									align-items : center;
								}

								&-custom {
									text-align : left;
								}

								// &-bullet {
								// 	// margin : 0;
								// 	// margin-right : 10px;
								// 	// width : 24px;
								// 	// height : 3px;
								// 	// display : inline-block;
								// 	// border-radius : 0;
								// 	// background : var(--gray-light);
								// 	// opacity : 1;

								// 	// @media(min-width: $tablet) {
								// 	// 	margin : 0;
								// 	// 	margin-bottom : 10px;
								// 	// 	height : 24px;
								// 	// 	width : 3px;
								// 	// }

								// 	// &-active {
								// 	// 	background : var(--red);
								// 	// }

								// 	// &:last-child {
								// 	// 	margin-right : 0;

								// 	// 	@media(min-width: $tablet) {
								// 	// 		margin-bottom : 0;
								// 	// 	}
								// 	// }
								// }
							}
							&-wrapper {
								overflow : visible;
							}
							&-slide {
								// * {
								// 	outline : 1px solid red;
								// }

								// display : flex;
								// flex-wrap : wrap;
								// justify-content : space-between;
								// align-items : flex-end;
								opacity : 0;
								visibility : hidden;
								display : flex;
								flex-direction : column;
								@media(min-width: $tablet) {
									flex-direction : row;
									align-items : flex-end;
									justify-content : space-between;
								}


								&-active {
									opacity : 1;
									visibility : visible;
								}
								.section {
									&--content {
										max-width : 460px;

										&__link {
											display : inline-block;
										}

										&__title {
											a {
												color : var(--text-black-light);
												font-family : var(--font);
												font-style : normal;
												font-weight : 700;
												@include interpolate("font-size", 576px, 18px, 992px, 32px, "ease-in");
												@include interpolate("line-height", 576px, 30px, 992px, 48px, "ease-in");
												margin-top : 34px;
												margin-bottom : 10px;

												@media(min-width: $tablet) {
													margin-top : 0;
												}
											}
										}
										&__text {
											a {
												color : var(--text-black-light);
												font-family : var(--font);
												font-style : normal;
												font-weight : 500;

												@include interpolate("font-size", 576px, 18px, 992px, 16px, "ease-in");
												@include interpolate("line-height", 576px, 30px, 992px, 28px, "ease-in");
												margin-top : 20px;
												margin-bottom : 98px;
											}
										}

										&__tag {
											font-family : var(--font);
											font-style : normal;
											font-weight : 500;
											line-height : 24px;
											@include interpolate("font-size", 576px, 14px, 992px, 16px, "ease-in");
											color : var(--gray-dark);
											margin-bottom : 33px;

											@media(min-width: $tablet) {
												font-weight : 700;
											}
										}

										&__read-more {
											display : flex;
											align-items : center;
											margin-bottom : 58px;

											@media(min-width: $tablet) {
												margin-bottom : 48px;
											}

											.link-text {
												font-family : var(--font);
												font-style : normal;
												font-weight : 700;
												font-size : 14px;
												line-height : 28px;
												color : var(--red);
												margin-right : 19px;
											}
										}
									}

									&--image {
										a {
											width : 100%;
										}
										order : 1;
										@media(min-width: $tablet) {
											@include interpolate("width", 576px, 300px, 992px, 558px, "ease-in");
											@include interpolate("height", 576px, 226px, 992px, 420px, "ease-in");
										}
									}
								}
							}
						}
					}
				}
			}
		}


		&__client {
			margin-bottom : 122px;

			.section--header {
				&__title {
					margin-bottom : 66px;
					display : block;

					span {
						display : block;
						font-family : var(--font);
						font-style : normal;
						font-weight : 700;
						font-size : 32px;
						line-height : 48px;
						color : var(--text-black);
						overflow: hidden;
					}
				}
			}

			.client {
				&--lists {
					display : grid;
					row-gap : 90px;
					column-gap : 30px;
					grid-template-columns : repeat(2, 1fr);

					@media(min-width: 568px) {
						grid-template-columns : repeat(3, 1fr);
					}

					@media(min-width: 968px) {
						grid-template-columns : repeat(4, 1fr);
					}

					&_image {
						text-align : center;
						overflow: hidden;
						img {
							width : auto;
						}
					}
				}
			}
		}
	}
}


.swiper-container-horizontal > .swiper-pagination-bullets {
	.swiper {
		&-pagination {
			html & {
				text-align : left;
				@media(min-width: $tablet) {
					top : 0;
					// width : 4px;
					// height : 126px;
					display : flex;
					flex-direction : row;
				}

				&-custom {
					text-align : left;
				}

				&-bullet {
					margin : 0;
					margin-right : 10px;
					width : 24px;
					height : 3px;
					display : inline-block;
					border-radius : 0;
					background : var(--gray-light);
					opacity : 1;

					@media(min-width: $tablet) {
						margin : 0;
						margin-bottom : 10px;
						height : 36px;
						width : 3px;
					}


					&-active {
						background : var(--red);
					}

					&:last-child {
						margin-right : 0;

						@media(min-width: $tablet) {
							margin-bottom : 0;
						}
					}
				}
			}
		}
	}
}



  
  

  