@import "common/reset";
@import "common/common";
@import "common/nav";
@import "common/footer";

@import "page/home";
@import "page/project";
@import "page/about";
@import "page/industries";
@import "page/service";
@import "page/contact";
@import "page/privacy";

@import "page/project/avishkaram/avishkaram";
@import "page/project/gamooga/gamooga";
@import "page/project/motion-edu/motion-edu";
@import "page/project/revv-cars/revv-cars";
@import "page/project/sparsh/sparsh";
@import "page/project/wealth-fund/wealth-fund";
@import "page/project/zifo/zifo";


@keyframes arrowMove {
	0% {
		transform : translateX(0px);
	}

	50% {
		transform : translateX(17px);
	}

	100% {
		transform : translateX(0px);
	}
}