.dashboard{
    background-color: #2A75EC;
        position: relative;
    z-index: 0;
    @include interpolate("padding-top", 360px, 88px, 1200px, 146px);
    @include interpolate("padding-bottom", 360px, 85px, 1200px, 130px);
 
    .container{
        @include desktop{
            padding-left: 5%;
        }
    }

    .custom-content-display{
        align-items: unset;
    }
    .content-head{
        color: $white;

        @include mobile{
          width: 280px;
        }

    }

    .content-txt{
        max-width: 86%;
        color: $white;
        @include media-max(575px){
            margin-bottom: 62px;
            color: rgba(255, 255, 255, 0.8);
        }
        @include mobile{
            width: 270px;
            margin-right: 20px;
        }
    }
}

// .dashboard-banner{
//     // width: 100%;
    
//     // @include mobile{
//     //     width: 50%;
//     // }
//     // @include desktop{
//     //     width: 63%;
//     // }
// }