@font-face {
    font-family: "SpaceGrotesk";
    src: url(../fonts/otf/SpaceGrotesk-Regular.otf),
        url(../fonts/webfont/SpaceGrotesk-Regular.woff2) format('woff2'),
        url(../fonts/webfont/SpaceGrotesk-Regular.woff) format('woff');
}

@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url(../fonts/otf/SpaceGrotesk-Bold.otf),
        url(../fonts/webfont/SpaceGrotesk-Bold.woff2) format('woff2'),
        url(../fonts/webfont/SpaceGrotesk-Bold.woff) format('woff');
}

@font-face {
    font-family: "SpaceGrotesk-Light";
    src: url(../fonts/otf/SpaceGrotesk-Light.otf),
        url(../fonts/webfont/SpaceGrotesk-Light.woff2) format('woff2'),
        url(../fonts/webfont/SpaceGrotesk-Light.woff) format('woff');
}

@font-face {
    font-family: "SpaceGrotesk-SemiBold";
    src: url(../fonts/otf/SpaceGrotesk-SemiBold.otf),
        url(../fonts/webfont/SpaceGrotesk-SemiBold.woff2) format('woff2'),
        url(../fonts/webfont/SpaceGrotesk-SemiBold.woff) format('woff');
}