@font-face {
	font-family : "SpaceGrotesk";
	src : url("../fonts/gamooga/otf/SpaceGrotesk-Regular.otf"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-Regular.woff2") format("woff2"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
	font-family : "SpaceGrotesk-Bold";
	src : url("../fonts/gamooga/otf/SpaceGrotesk-Bold.otf"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-Bold.woff2") format("woff2"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-Bold.woff") format("woff");
}

@font-face {
	font-family : "SpaceGrotesk-Light";
	src : url("../fonts/gamooga/otf/SpaceGrotesk-Light.otf"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-Light.woff2") format("woff2"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
	font-family : "SpaceGrotesk-SemiBold";
	src : url("../fonts/gamooga/otf/SpaceGrotesk-SemiBold.otf"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-SemiBold.woff2") format("woff2"),
	url("../fonts/gamooga/webfont/SpaceGrotesk-SemiBold.woff") format("woff");
}