$primary-color: #000000;
$secondary-color: #4B6381;



//font family
// $font: "SpaceGrotesk", Sans-Serif;

//backgrounds
$bg-basic : #E5E5E5;
$bg-primary : #F1F9FD;
$black-squeeze: #F4F8FB;


// media queries
$desktop-breakpoint: 1200px;
$tab-breakpoint: 768px;
$mobile-breakpoint: 610px;