@font-face {
    font-family: "Metropolis";
    src: url(../fonts/otf/Metropolis-Regular.otf);
}

@font-face {
    font-family: "Metropolis Bold";
    src: url(../fonts/otf/Metropolis-Bold.otf);
}

@font-face {
    font-family: "Metropolis Light";
    src: url(../fonts/otf/Metropolis-Light.otf);
}

@font-face {
    font-family: "SpaceGrotesk SemiBold";
    src: url(../fonts/otf/SpaceGrotesk-SemiBold.otf);
}