@font-face {
	font-family : "Metropolis";
	src : url("../fonts/zifo/otf/Metropolis-Regular.otf");
}

@font-face {
	font-family : "Metropolis Bold";
	src : url("../fonts/zifo/otf/Metropolis-Bold.otf");
}

@font-face {
	font-family : "Metropolis Light";
	src : url("../fonts/zifo/otf/Metropolis-Light.otf");
}

@font-face {
	font-family : "SpaceGrotesk SemiBold";
	src : url("../fonts/zifo/otf/SpaceGrotesk-SemiBold.otf");
}