$primary-color: #000000;
$secondary-color: #4B6381;
$mystic : #EEF3F4;



//backgrounds
$bg-basic : #EAF3F9;



// media queries
$desktop-breakpoint: 1200px;
$tab-breakpoint: 768px;
$mobile-breakpoint: 610px;