
.blog {
	padding-top : 80px;
	// @include interpolate("padding-top", 576px, 80px, 1200px, 150px);
	@include interpolate("padding-bottom", 576px, 80px, 1200px, 150px);
	overflow : hidden;
	background-color : #2b5ab4;

	.content-icon {
		@include interpolate("max-width", 576px, 85px, 1200px, 126px);
	}
	.content-head {
		margin-top : 24px;
		margin-bottom : 24px;
		@include interpolate("max-width", 576px, 206px, 1200px, 355px);
		color : $secondary-color;
	}
	.content-txt {
		color : $secondary-color;
		max-width : 312px;
		@include tablet {
			max-width : 540px;
		}
		@include media-min(1101px) {
			max-width : 300px;
		}
		@include media-max(1100px) {
			margin-bottom : 46px;
		}
		span {
			display : block;
		}
	}

	.custom-right {
		@include interpolate("margin-right", 576px, -350px, 1200px, -438px);
	}

	.custom-content-display {
		@include media-max(1100px) {
			flex-direction : column;
			align-items : flex-start;
		}
	}

	.custom-underline::after {
		background-image : url("../images/project/motion-edu/motionedu-blog-underline.svg");
		@include desktop {
			right : 24px;
		}
	}
}

.blog_banners {
	@include flex;
	position : relative;
	
	.blog-custom-width-1 {
		@include interpolate("max-width", 576px, 132px, 1200px, 232px);
	}

	.blog-custom-width-2 {
		@include interpolate("max-width", 576px, 183px, 1200px, 535px);
	}
	@include media-min(1101px) {
		margin-top : 90px;
	}
}

.blog_banners_item {
	box-shadow : 0 0 200px rgba(0, 0, 0, 0.4);
}
.blog_banners_item + .blog_banners_item {
	margin-left : 21px;
	@include mobile {
		margin-left : 38px;
	}
}