%font-primary{
    font-family: $primary-font;
}


%font-primary-medium{
    font-family:  $font-primary-medium;
}

%font-montsrt{
    font-family: 'Montserrat', sans-serif;
}

%pos-abs{
    position: absolute;
}


%txt-center{
    text-align: center;
}


%m-x-auto{
    margin-right: auto;
    margin-left: auto;
}



%font-0{
    font-size: 0;
}