{{#> layouts/base  project="true"  title="Gamooga - Project | Rillusion" barbaNamesapce="gamooga"}}

  {{#*inline "content-block"}}


      <div class="casestudy-gamooga ">
        <section class="header">
          <div class="container">
            <h1 class="d-none">Gamooga</h1>
            <picture class="logo" data-aos="zoom-in">
              <source srcset="/images/project/gamooga/gamooga-logo.webp" />
              <img src="/images/project/gamooga/gamooga-logo.svg" alt="Gamoogalogo" />
            </picture>
            <picture class=" header-banner">
              <source srcset="/images/project/gamooga/gamooga-banner.webp" />
              <img src="/images/project/gamooga/gamooga-banner.png" alt="gamoogabanner" />
            </picture>
          </div>
        </section>

        <section class="brand container flex">
          <h2 class="page-main-head" data-aos="fade-up">Bringing power of AI to Marketing</h2>
          <div data-aos="fade-up">
            <p class="content-txt">
              Gamooga powers new age startups and fast growing businesses with AI
              powered marketing tools helping them to reach and engage with their
              customers. The platform delivers personalized experiences to users
              with push notification, in-app messaging, email, SMS and Web push
              notifications.
            </p>
            <h3>Our Role</h3>
            <p class="content-txt">
              Product thinking Workshop, Strategy, User flows, Information
              architecture, UI Design
            </p>
            <ul class="clearfix">
              <li class="float-l">
                <h3>Industry</h3>
                <span>Sass</span>
              </li>
              <li class="float-r">
                <h3>Platform</h3>
                <span>WebApp</span>
              </li>
            </ul>
          </div>
        </section>

        <section class="overview container flex">
          <div class="overview__content" data-aos="fade-up">
            <h2 class="content-head">Product Thinking Workshop</h2>
            <p class="content-txt">
              During the 2 day workshop we interacted with the founder, product head
              and core tech team to understand the business goals, their clients and
              functions of the product. It was intense interactive activity during
              which we identifying, discussed and ideated on multiple painpoints of
              users.
            </p>
          </div>
          <div class="overview__banners mr-neg-r " data-aos="fade-up">
            <picture class="overview__banners-hero">
              <source srcset="/images/project/gamooga/gamooga-overview1.webp" />
              <img src="/images/project/gamooga/gamooga-overview1.png" alt="gamoogaoverview" />
            </picture>
            <picture class="overview__banners-second">
              <img src="/images/project/gamooga/gamooga-overview3.png" alt="gamoogaoverview" />
            </picture>
            <picture>
              <img src="/images/project/gamooga/gamooga-overview2.png" alt="gamoogaoverview" />
            </picture>
          </div>
        </section>

        <section class=" blog container ">
          <h2 class="content-head" data-aos="fade-up">Evolution through Intutiveness</h2>
          <p class="content-txt" data-aos="fade-up">
            Existing system being very complicated to use, we came up with an
            intuitive navigation structure and userflows increasing usability and
            make the product self-sufficient.
          </p>
          <div class="blog_banner" data-aos="fade-up">
            <picture>
              <source srcset="/images/project/gamooga/gamooga-evolution.png" />
              <img src="/images/project/gamooga/gamooga-evolution.png" alt="gamoogablog" />
            </picture>
            <div class="blog_banner-overlap"></div>
          </div>
        </section>

        <section class="campaignBanner" data-aos="fade-up"></section>

        <section class="motive container cf">
          <div class="motive__banners float-l" data-aos="fade-up">
            <picture>
              <source srcset="/images/project/gamooga/gamooga-motive3.webp" />
              <img src="/images/project/gamooga/gamooga-motive1.jpg" alt="gamoogamotive" />
            </picture>
            <picture>
              <source srcset="/images/project/gamooga/gamooga-motive2.webp" />
              <img src="/images/project/gamooga/gamooga-motive2.png" alt="gamoogamotive" />
            </picture>
            <picture>
              <source srcset="/images/project/gamooga/gamooga-motive3.webp" />
              <img src="/images/project/gamooga/gamooga-motive3.jpg" alt="gamoogamotive" />
            </picture>
          </div>
          <div class="motive__content float-r" data-aos="fade-up">
            <h2 class="content-head">Simple Campaign creation</h2>
            <p class="content-txt">
              We broke the campaign creation to multiple steps making it easier to
              configure the settings of the campaign.
            </p>
          </div>
        </section>

        <section class="features">
          <div class="container flex">
            <div class="features__content" data-aos="fade-up">
              <h2 class="content-head">Extensive Journey builder</h2>
              <p class="content-txt">
                Journey builder is the core of the product, it is used to create
                custom user journeys and configure marketing activites accordingly.
                We have introduced multiple features into journey builder to keep it
                intuitive and easier.
              </p>
            </div>
            <div class="features__tags">
              <span>NEW FEATURES</span>
              <ul class="features__list flex">
                <li class="features__list_item" data-aos="zoom-in">Activity blocks</li>
                <li class="features__list_item" data-aos="zoom-in">Open Canvas with zoom</li>
                <li class="features__list_item" data-aos="zoom-in">Version History</li>
                <li class="features__list_item" data-aos="zoom-in">Keyboard shortcuts</li>
              </ul>
            </div>
          </div>
          <picture class="features-banner container">
            <source srcset="/images/project/gamooga/gamooga-features.webp" />
            <img src="/images/project/gamooga/gamooga-features.png" alt="gamoogafeatures" />
          </picture>
        </section>

        <section class="services">
          <ul class="services__list container">
            <li class="services__list_item">
              <div class="services__list_item-content" data-aos="fade-up">
                <h2 class="content-head">
                  Better decisions with campaigns overview
                </h2>
                <p class="content-txt">
                  With the Campaign overview screen, the users can not only monitor and control all the campaigns from one single screen but also quickly understand the performance and take better decisions.
                </p>
              </div>
              <div class="services__banner mr-neg-r" data-aos="fade-up">
                <picture>
                  <source srcset="/images/project/gamooga/gamooga-services1.webp" />
                  <img src="/images/project/gamooga/gamooga-services1.png" alt="gamoogaservices" />
                </picture>
              </div>
            </li>
            <li class="services__list_item">
              <div class="services__banner mr-neg-l" data-aos="fade-up">
                <picture>
                  <source srcset="/images/project/gamooga/gamooga-services2.webp" />
                  <img src="/images/project/gamooga/gamooga-services2.png" alt="gamoogaservices" />
                </picture>
              </div>
              <div class="services__list_item-content" data-aos="fade-up">
                <h2 class="content-head">Help-bites to configure easily</h2>
                <p class="content-txt">
                  We restructured settings to be intutive and self served so that
                  users can setup and configure the product to their needs. We
                  introduced help-bites; small block of text guiding users about the
                  module
                </p>
              </div>
            </li>
            <li class="services__list_item">
              <div class="services__list_item-content" data-aos="fade-up">
                <h2 class="content-head">Reduced information overload</h2>
                <p class="content-txt">
                  All the secondary information was pushed to be available only on-demand, hence helping to reduce the cognitive load on users and make the interface simpler to digest.
                </p>
              </div>
              <div class="services__banner services__banner-group mr-neg-r" data-aos="fade-up">
                <div class="services__banner_twin">
                  <picture class="services__banner-item-1">
                    <source srcset="/images/project/gamooga/gamooga-services31.webp" />
                    <img src="/images/project/gamooga/gamooga-services31.png" alt="gamoogaservices" />
                  </picture>
                  <picture class="services__banner-item-2">
                    <source srcset="/images/project/gamooga/gamooga-services33.webp" />
                    <img src="/images/project/gamooga/gamooga-services33.png" alt="gamoogaservices" />
                  </picture>

                </div>
                <div class="services__banner-item-3">
                  <picture>
                    <source srcset="/images/project/gamooga/gamooga-services32.webp" />
                    <img src="/images/project/gamooga/gamooga-services32.png" alt="gamoogaservices" />
                  </picture>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <section class="footer" data-aos="fade-up"></section>
      </div>


  {{/inline}}

  {{/layouts/base}}
