{{#> layouts/base  project="true"  title="Revv Car - Project | Rillusion" barbaNamesapce="revvcar"}}

  {{#*inline "content-block"}}


      <div class="casestudy-revvcars ">
        <section class="header container">
            <h1 class="h1">RevvCars</h1>
            <h2 class="header-title" data-aos="fade-up">Designing a <span class="word-break">new car buying</span> experience<span class="car-icon"><img class="lazyload" data-src="../images/project/revv-cars/revv-caricon.svg" alt=""></span></h2>

            <div class="banner_wrapper custom-content-display">
                <ul class="header_list flex-order-1" data-aos="fade-up" >
                    <li class="header_list_item">
                        <h5 class="list-head">Scope</h5>
                        <h5 class="list-txt">Web & Mobile App </h5>
                    </li>
                    <li class="header_list_item">
                      <h5 class="list-head">Client Name</h5>
                      <h5 class="list-txt">Revv Cars</h5>
                  </li>
                </ul>
                <div class="header_banner flex-order-0" data-aos="fade-up">
                  <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-header-mobile-v2.webp">
                      <img class="lazyload" data-src="../images/project/revv-cars/revv-header-mobile-v2.png" alt="Revv-cars">
                  </picture>
                  <div class="header_banner-tag" data-aos="zoom-in" data-aos-duration="1000">
                    <img class="lazyload" data-src="../images/project/revv-cars/revv-header-mobile-tag.svg" alt="RevvCars-rent-tag">
                  </div>
                </div>
            </div>

            <div class="header_item custom-content-display">
                <h3 class="content-head"  data-aos="fade-up">Envisioning a disruptor buying experience</h3>
               <div class="content-txt-wrapper border border-l"  data-aos="">
                  <p class="content-txt">Breaking through India’s typical car buying experience, Revv Cars approached us to create a digital journey for the present day car buyer.</p>
               </div>
            </div>

        </section>

        <section class="motive" data-aos="fade-up">
            <div class="container custom-content-display" >
              <div class="motive_banner flex-order-1" data-aos="fade-up" data-aos-delay="400">
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-motives-graph.svg" alt="RevvCars-motives">
              </div>
              <div class="content-wrapper flex-order-0">
                  <h2 class="content-head" data-aos="fade-up" data-aos-delay="400">Defining a new user journey</h2>
                  <p class="content-txt" data-aos="fade-up" data-aos-delay="500">Through initial discovery , we aligned with Revv Car’s vision to develop a car buying platform that gave the new age customer the power to buy cars on a renting model. </p>
              </div>
            </div>
        </section>

        <section class="services container" >
             <h2 class="page-head" data-aos="fade-up">Our approach</h2>
            <ul class="services_list"  >
              <li class="services_list_item custom-1" data-aos="fade-up" data-aos-delay="400">
                <div class="services_list-banner flex-order-1" >
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-services-userresearch.svg" alt="RevvCars-userresearch">
                </div>
                <h6 class="services_list-txt flex-order-0">1)user research</h6>
              </li>
              <li class="services_list_item custom-2" data-aos="fade-up" data-aos-delay="700">
                <div class="services_list-banner flex-order-1">
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-services-userflow.svg" alt="RevvCars-userflow">
                </div>
                <h6 class="services_list-txt flex-order-0">2)user flow & sitemap</h6>
              </li>
              <li class="services_list_item custom-3" data-aos="fade-up" data-aos-delay="1000">
                <div class="services_list-banner flex-order-1">
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-services-wireframes.svg" alt="RevvCars-wireframes">
                </div>
                <h6 class="services_list-txt flex-order-0">3)wireframes</h6>
              </li>
              <li class="services_list_item custom-4" data-aos="fade-up" data-aos-delay="1300">
                <div class="services_list-banner flex-order-1">
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-services-uidesign.svg" alt="RevvCars-uidesign">
                </div>
                <h6 class="services_list-txt flex-order-0">4)ui design</h6>
              </li>
            </ul>

            <div class="services_item custom-content-display services_item-1">
              <div class="content-wrapper" data-aos="fade-up">
                <h6 class="page-tag">home</h6>
                <h3 class="content-head">
                  Explore, <span>find & buy</span>
                </h3>
                <p class="content-txt">We want to create a hybrid layout where knowledge on the services available and the process of how to buy a car.</p>
              </div>
              <div class="services_item-banner border border-r" data-aos="fade-up" data-aos-delay="300">
                <picture>
                  <source class="lazyload" data-srcset="../images/project/revv-cars/revv-services-homepage.webp">
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-services-homepage.png" alt="RevvCars-homepage">
                </picture>
              </div>
            </div>

            <div class="services_item custom-content-display services_item-2">
              <div class="services_item-banner border border-r flex-order-1" data-aos="fade-up" data-aos-delay="300">
                <picture>
                  <source class="lazyload" data-srcset="../images/project/revv-cars/revv-services-detailspage.webp">
                  <img class="lazyload" data-src="../images/project/revv-cars/revv-services-detailspage.png" alt="RevvCars-detailspage">
                </picture>
              </div>
              <div class="content-wrapper flex-order-0" data-aos="fade-up">
                <h6 class="page-tag">pricing</h6>
                <h3 class="content-head">
                  Get upfront car details
                </h3>
                <p class="content-txt">In terms of car details and all the specific purchase details, we wanted the user to interactively understand the advantages of using Revv Cars.</p>
              </div>
            </div>

        </section>

        <section class="dashboard">
          <div class="container custom-content-display" data-aos="fade-up">
            <div class="content-wrapper ">
              <h6 class="page-tag">track</h6>
              <h3 class="content-head">
                Personal Dashboard
              </h3>
              <p class="content-txt">The dashboard allows buyers to track and maintain payments like insurance online that were once only possible offline.</p>
            </div>
            <div class="dashboard-banner" data-aos="fade-up" data-aos-delay="300">
              <picture>
                <source class="lazyload" data-srcset="../images/project/revv-cars/revv-dashboard-banner.webp">
                <img class="lazyload" data-src="../images/project/revv-cars/revv-dashboard-banner.png" alt="RevvCarsdashboard">
              </picture>
            </div>
          </div>
        </section>

        <section class="features container">
          <div class="features_item custom-content-display">
            <div class="content-wrapper" data-aos="fade-up">
              <h2 class="page-head">Style Guide</h2>
              <p class="content-txt">Defining the visual style of components to create a system that is flexible & expandable across several platforms.</p>
            </div>
            <div class="features_list_wrapper" data-aos="fade-up" data-aos-delay="300">
              <ul class="features_list" >
                <li class="features_list_item custom-col-1 border border-r">
                </li>
                <li class="features_list_item custom-col-2 border border-r">
                </li>
                <li class="features_list_item border border-r">
                </li>
            </ul>
            <ul class="features_list">
              <li class="features_list_item custom-col-3 border border-r">
              </li>
              <li class="features_list_item custom-col-4 border border-r">
              </li>
              <li class="features_list_item custom-col-5 border border-r">
              </li>
          </ul>
            </div>
            <div class="features_btn_wrapper" data-aos="fade-up" data-aos-delay="600">
              <h4 class="features_btn-head">Aa 123</h4>
              <button class="features_btn">SEARCH</button>
            </div>
          </div>

          <div class="features_banners-block">
              <h3 class="content-head" data-aos="fade-up">
                Purchase <span>+</span> <span>manage flow</span>
              </h3>
              <div class="features_banners-wrapper">
                <ul class="features_banners-list" >
                  <li class="features_banners-list-item border border-r" data-aos="fade-up">
                    <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-features-carlist.webp">
                        <img class="lazyload" data-src="../images/project/revv-cars/revv-features-carlist.png" alt="RevvCars-carlist">
                    </picture>
                  </li>
                  <li class="features_banners-list-item border border-r" data-aos="fade-up" data-aos-delay="400">
                    <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-features-paymentcard.webp">
                        <img class="lazyload" data-src="../images/project/revv-cars/revv-features-paymentcard.png" alt="RevvCars-payment">
                    </picture>
                  </li>
                </ul>
                <ul class="features_banners-list custom-pos">
                  <li class="features_banners-list-item border border-r" data-aos="fade-up" data-aos-delay="">
                    <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-features-documents.webp">
                        <img class="lazyload" data-src="../images/project/revv-cars/revv-features-documents.png" alt="RevvCars-features">
                    </picture>
                  </li>
                  <li class="features_banners-list-item border border-r" data-aos="fade-up" data-aos-delay="300">
                    <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-features-expensecard.webp">
                        <img class="lazyload" data-src="../images/project/revv-cars/revv-features-expensecard.png" alt="RevvCars-features">
                    </picture>
                  </li>
                </ul>
                <ul class="features_banners-list">
                  <li class="features_banners-list-item border border-r" data-aos="fade-up" data-aos-delay="">
                    <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-features-carcompare.webp">
                        <img class="lazyload" data-src="../images/project/revv-cars/revv-features-carcompare.png" alt="RevvCars-features">
                    </picture>
                  </li>
                  <li class="features_banners-list-item border border-r" data-aos="fade-up" data-aos-delay="300">
                    <picture>
                      <source class="lazyload" data-srcset="../images/project/revv-cars/revv-features-returncard.webp">
                        <img class="lazyload" data-src="../images/project/revv-cars/revv-features-returncard.png
                        " alt="RevvCars-features">
                    </picture>
                  </li>
                </ul>
              </div>
          </div>
        </section>

        <section class="goals">
          <div class="goals_list container">
            <div class="goals_list_item" data-aos="fade-up">
              <div class="content-wrapper">
                <h3 class="content-head">Details <span>about cars</span></h3>
                <p class="content-txt">Designing & presenting car and payment details through simple visualizations. </p>
              </div>
              <div class="goals_list_item-banner border border-l">
                <picture>
                  <source class="lazyload" data-srcset="../images/project/revv-cars/revvv-goals-details.webp">
                    <img class="lazyload" data-src="../images/project/revv-cars/revvv-goals-details.png" alt="RevvCars-goals">
                </picture>
              </div>
            </div>
            <div class="goals_list_item custom-pos-1" data-aos="fade-up" data-aos-delay="500">
              <div class="content-wrapper">
                <h3 class="content-head">Uploading <span>documents</span></h3>
                <p class="content-txt">To reduce friction, uploading necessary documents was made to be a one-click option.</p>
              </div>
              <div class="goals_list_item-banner border border-l">
                <picture>
                  <source class="lazyload" data-srcset="../images/project/revv-cars/revvv-goals-documents.webp">
                    <img class="lazyload" data-src="../images/project/revv-cars/revvv-goals-documents.png" alt="RevvCars-goals">
                </picture>
              </div>
            </div>
            <div class="goals_list_item custom-pos-2" data-aos="fade-up" data-aos-delay="1000">
              <div class="content-wrapper">
                <h3 class="content-head">Purchase <span>status</span></h3>
                <p class="content-txt">Users can make the initial & monthly payments right from anywhere & track their delivery. </p>
              </div>
              <div class="goals_list_item-banner border border-l">
                <picture>
                  <source class="lazyload" data-srcset="../images/project/revv-cars/revvv-goals-dashboard.webp">
                    <img class="lazyload" data-src="../images/project/revv-cars/revvv-goals-dashboard.png" alt="RevvCars-goals">
                </picture>
              </div>
            </div>
          </div>
        </section>

        <section class="footer container" data-aos="fade-up">
          <div class="footer_full-banner img-preloader">
            <picture>
              <source class="lazyload" data-srcset="../images/project/revv-cars/revv-footer-banner.webp">
              <img class="lazyload" data-src="../images/project/revv-cars/revv-footer-banner.jpg" alt="RevvCars-footer">
            </picture>
          </div>

        </section>

      </div>


  {{/inline}}

  {{/layouts/base}}
