{{#> layouts/base  project="true"  title="Sparsh - Project | Rillusion" barbaNamesapce="sparsh"}}

  {{#*inline "content-block"}}

        <div class="casestudy-sparsh">
            <section class="header">
                <h1 class="d-none">sparsh</h1>
                <div class="container custom-content-display">
                    <div class="content-wrapper" data-aos="fade-up">
                        <h5 class="page-tag">UX/UI Design</h5>
                        <div class="logo">
                            <picture>
                                <source srcset="/images/project/sparsh/sparsh-logo.webp">
                                <img src="/images/project/sparsh/sparsh-logo.png" alt="sparsh-logo">
                            </picture>
                        </div>
                        <p class="content-txt">Sparsh is an intranet portal that aims to engage with their employees within the
                            organisation, SRF
                            firm.</p>
                    </div>
                    <div class="header_banners" data-aos="fade-left">
                        <div class="custom-1">
                            <picture>
                                <source srcset="">
                                <img src="/images/project/sparsh/sparsh-header-mobile.png" alt="sparsh-header-img">
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source srcset="">
                                <img src="/images/project/sparsh/sparsh-header-macbook.png" alt="sparsh-header-img">
                            </picture>
                        </div>
                        <div class="bubble primary-bubble"></div>
                        <div class="bubble secondary-bubble"></div>
                    </div>
                </div>
                <div class="left-bow" data-aos="zoom-in">
                    <img src="/images/project/sparsh/sparsh-header-left-bow.png">
                </div>
                <div class="right-bow" data-aos="zoom-in">
                    <img src="/images/project/sparsh/sparsh-header-right-bow.png">
                </div>
            </section>

            <section class="overview container">
                <h2 class="page-head" data-aos="fade-up">Introduction</h2>
                <h4 class="content-head" data-aos="fade-up">Creating a strong community of employees with the organization</h4>
                <p class="content-txt" data-aos="fade-up">SRF, being one of the top manufacturing industries in India, approached us to create a
                    portal for their organization that helps them create a community of enthusiastic employees and make the
                    workplace activities more engaging and easier right from making attendances to exploring ideas that drive
                    the business.</p>

                <ul class="overview_list custom-content-display">
                    <li class="overview_list_item" data-aos="fade-up">
                        <div class="banner">
                            <img src="/images/project/sparsh/sparsh-overview-proffesional.svg" alt="sparsh-overview">
                        </div>
                        <h5 class="page-tag">Employee <span>Engagement </span></h5>
                        <div class="bubble primary-bubble"></div>
                    </li>
                    <li class="overview_list_item " data-aos="fade-up" data-aos-duration="900">
                        <div class="banner">
                            <img src="/images/project/sparsh/sparsh-overview-customer.svg" alt="sparsh-overview">
                        </div>
                        <h5 class="page-tag">Communication <span>within employees </span> </h5>
                        <div class="bubble primary-bubble"></div>
                    </li>
                    <li class="overview_list_item " data-aos="fade-up" data-aos-duration="1100">
                        <div class="banner">
                            <img src="/images/project/sparsh/sparsh-overview-operational.png" alt="sparsh-overview">
                        </div>
                        <h5 class="page-tag">Employee <span>Management</span></h5>
                        <div class="bubble primary-bubble"></div>
                    </li>
                </ul>

                <div class="overview_banner_full">
                    <picture data-aos="fade-up">
                        <source srcset="">
                        <img src="/images/project/sparsh/sparsh-overview-full-banner.png" alt="sparsh-overview">
                    </picture>
                    <div class="bubble secondary-bubble"></div>
                </div>
            </section>

            <section class="services">
                <div class="container">
                    <h2 class="page-head" data-aos="fade-up">Services </h2>
                    <h4 class="content-head" data-aos="fade-up">An end to end service from branding to development of the product. </h4>

                    <ul class="services_list custom-content-display">
                        <li class="services_list_item" data-aos="fade-up">
                            <div>
                                <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M59 2.88675C62.094 1.10042 65.906 1.10042 69 2.88675L114.426 29.1132C117.52 30.8996 119.426 34.2008 119.426 37.7735V90.2265C119.426 93.7992 117.52 97.1004 114.426 98.8867L69 125.113C65.906 126.9 62.094 126.9 59 125.113L13.5744 98.8867C10.4804 97.1004 8.57438 93.7992 8.57438 90.2265V37.7735C8.57438 34.2008 10.4804 30.8996 13.5744 29.1132L59 2.88675Z"
                                        fill="url(#paint0_linear)" />
                                    <path
                                        d="M64 80.0003C63.4726 80.0003 62.957 80.1567 62.5185 80.4497C62.0799 80.7428 61.7381 81.1592 61.5363 81.6465C61.3345 82.1338 61.2817 82.6699 61.3846 83.1872C61.4874 83.7045 61.7414 84.1797 62.1144 84.5526C62.4873 84.9255 62.9625 85.1795 63.4797 85.2824C63.997 85.3853 64.5332 85.3325 65.0205 85.1307C65.5077 84.9288 65.9242 84.587 66.2172 84.1485C66.5103 83.71 66.6666 83.1944 66.6666 82.667C66.6666 81.9597 66.3857 81.2815 65.8856 80.7814C65.3855 80.2813 64.7072 80.0003 64 80.0003ZM80 34.667H48C47.2927 34.667 46.6145 34.9479 46.1144 35.448C45.6143 35.9481 45.3333 36.6264 45.3333 37.3337V61.3337C45.3333 63.4554 46.1762 65.4902 47.6765 66.9905C49.1768 68.4908 51.2116 69.3337 53.3333 69.3337H56V75.6537C54.6422 77.1932 53.7575 79.0919 53.4521 81.1218C53.1466 83.1517 53.4334 85.2267 54.278 87.0977C55.1226 88.9686 56.4891 90.5562 58.2136 91.6697C59.938 92.7833 61.9472 93.3757 64 93.3757C66.0528 93.3757 68.0619 92.7833 69.7864 91.6697C71.5109 90.5562 72.8774 88.9686 73.722 87.0977C74.5666 85.2267 74.8533 83.1517 74.5479 81.1218C74.2425 79.0919 73.3578 77.1932 72 75.6537V69.3337H74.6666C76.7884 69.3337 78.8232 68.4908 80.3235 66.9905C81.8238 65.4902 82.6666 63.4554 82.6666 61.3337V37.3337C82.6666 36.6264 82.3857 35.9481 81.8856 35.448C81.3855 34.9479 80.7072 34.667 80 34.667ZM64 88.0003C62.9269 87.9922 61.8813 87.6606 60.9997 87.0488C60.1181 86.437 59.4416 85.5735 59.0585 84.5711C58.6754 83.5688 58.6036 82.4742 58.8524 81.4303C59.1013 80.3865 59.6592 79.442 60.4533 78.7203C60.7296 78.471 60.9506 78.1666 61.1021 77.8268C61.2537 77.4869 61.3324 77.1191 61.3333 76.747V69.3337H66.6666V76.747C66.6675 77.1191 66.7463 77.4869 66.8978 77.8268C67.0494 78.1666 67.2704 78.471 67.5466 78.7203C68.3408 79.442 68.8987 80.3865 69.1475 81.4303C69.3964 82.4742 69.3246 83.5688 68.9415 84.5711C68.5584 85.5735 67.8818 86.437 67.0002 87.0488C66.1187 87.6606 65.073 87.9922 64 88.0003ZM77.3333 61.3337C77.3333 62.0409 77.0524 62.7192 76.5523 63.2193C76.0522 63.7194 75.3739 64.0003 74.6666 64.0003H53.3333C52.6261 64.0003 51.9478 63.7194 51.4477 63.2193C50.9476 62.7192 50.6666 62.0409 50.6666 61.3337V58.667H77.3333V61.3337ZM77.3333 53.3337H50.6666V40.0003H77.3333V53.3337Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="10.5117" y1="121.576" x2="110.374" y2="-6.95495"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#E53121" />
                                            <stop offset="1" stop-color="#F57C14" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <p class="list-txt">Branding</p>
                        </li>
                        <li class="services_list_item" data-aos="fade-up">
                            <div>
                                <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M59 2.88675C62.094 1.10042 65.906 1.10042 69 2.88675L114.426 29.1132C117.52 30.8996 119.426 34.2008 119.426 37.7735V90.2265C119.426 93.7992 117.52 97.1004 114.426 98.8867L69 125.113C65.906 126.9 62.094 126.9 59 125.113L13.5744 98.8867C10.4804 97.1004 8.57438 93.7992 8.57438 90.2265V37.7735C8.57438 34.2008 10.4804 30.8996 13.5744 29.1132L59 2.88675Z"
                                        fill="url(#paint0_linear)" />
                                    <path
                                        d="M90.6666 72.0003H85.3333V64.0003C85.3333 63.2931 85.0523 62.6148 84.5522 62.1147C84.0521 61.6146 83.3739 61.3337 82.6666 61.3337H66.6666V56.0003H72C72.7072 56.0003 73.3855 55.7194 73.8856 55.2193C74.3857 54.7192 74.6666 54.0409 74.6666 53.3337V37.3337C74.6666 36.6264 74.3857 35.9481 73.8856 35.448C73.3855 34.9479 72.7072 34.667 72 34.667H56C55.2927 34.667 54.6144 34.9479 54.1143 35.448C53.6142 35.9481 53.3333 36.6264 53.3333 37.3337V53.3337C53.3333 54.0409 53.6142 54.7192 54.1143 55.2193C54.6144 55.7194 55.2927 56.0003 56 56.0003H61.3333V61.3337H45.3333C44.626 61.3337 43.9478 61.6146 43.4477 62.1147C42.9476 62.6148 42.6666 63.2931 42.6666 64.0003V72.0003H37.3333C36.626 72.0003 35.9478 72.2813 35.4477 72.7814C34.9476 73.2815 34.6666 73.9598 34.6666 74.667V90.667C34.6666 91.3742 34.9476 92.0525 35.4477 92.5526C35.9478 93.0527 36.626 93.3337 37.3333 93.3337H53.3333C54.0405 93.3337 54.7188 93.0527 55.2189 92.5526C55.719 92.0525 56 91.3742 56 90.667V74.667C56 73.9598 55.719 73.2815 55.2189 72.7814C54.7188 72.2813 54.0405 72.0003 53.3333 72.0003H48V66.667H80V72.0003H74.6666C73.9594 72.0003 73.2811 72.2813 72.781 72.7814C72.2809 73.2815 72 73.9598 72 74.667V90.667C72 91.3742 72.2809 92.0525 72.781 92.5526C73.2811 93.0527 73.9594 93.3337 74.6666 93.3337H90.6666C91.3739 93.3337 92.0521 93.0527 92.5522 92.5526C93.0523 92.0525 93.3333 91.3742 93.3333 90.667V74.667C93.3333 73.9598 93.0523 73.2815 92.5522 72.7814C92.0521 72.2813 91.3739 72.0003 90.6666 72.0003ZM50.6666 77.3337V88.0003H40V77.3337H50.6666ZM58.6666 50.667V40.0003H69.3333V50.667H58.6666ZM88 88.0003H77.3333V77.3337H88V88.0003Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="10.5117" y1="121.576" x2="110.374" y2="-6.95495"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#E53121" />
                                            <stop offset="1" stop-color="#F57C14" />
                                        </linearGradient>
                                    </defs>
                                </svg>

                            </div>
                            <p class="list-txt">UX Design</p>
                        </li>
                        <li class="services_list_item" data-aos="fade-up">
                            <div>
                                <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M59 2.88675C62.094 1.10042 65.906 1.10042 69 2.88675L114.426 29.1132C117.52 30.8996 119.426 34.2008 119.426 37.7735V90.2265C119.426 93.7992 117.52 97.1004 114.426 98.8867L69 125.113C65.906 126.9 62.094 126.9 59 125.113L13.5744 98.8867C10.4804 97.1004 8.57438 93.7992 8.57438 90.2265V37.7735C8.57438 34.2008 10.4804 30.8996 13.5744 29.1132L59 2.88675Z"
                                        fill="url(#paint0_linear)" />
                                    <path
                                        d="M94 41.333H46C45.2928 41.333 44.6145 41.614 44.1144 42.1141C43.6143 42.6142 43.3334 43.2924 43.3334 43.9997V91.9997C43.3334 92.7069 43.6143 93.3852 44.1144 93.8853C44.6145 94.3854 45.2928 94.6663 46 94.6663H62C62.7073 94.6663 63.3856 94.3854 63.8857 93.8853C64.3858 93.3852 64.6667 92.7069 64.6667 91.9997V62.6663H94C94.7073 62.6663 95.3856 62.3854 95.8857 61.8853C96.3858 61.3852 96.6667 60.7069 96.6667 59.9997V43.9997C96.6667 43.2924 96.3858 42.6142 95.8857 42.1141C95.3856 41.614 94.7073 41.333 94 41.333ZM91.3334 57.333H86V54.6663C86 53.9591 85.7191 53.2808 85.219 52.7807C84.7189 52.2806 84.0406 51.9997 83.3334 51.9997C82.6261 51.9997 81.9479 52.2806 81.4478 52.7807C80.9477 53.2808 80.6667 53.9591 80.6667 54.6663V57.333H75.3334V54.6663C75.3334 53.9591 75.0524 53.2808 74.5523 52.7807C74.0522 52.2806 73.374 51.9997 72.6667 51.9997C71.9595 51.9997 71.2812 52.2806 70.7811 52.7807C70.281 53.2808 70 53.9591 70 54.6663V57.333H64.6667V54.6663C64.6667 53.9591 64.3858 53.2808 63.8857 52.7807C63.3856 52.2806 62.7073 51.9997 62 51.9997C61.2928 51.9997 60.6145 52.2806 60.1144 52.7807C59.6143 53.2808 59.3334 53.9591 59.3334 54.6663V57.333H56.6667C55.9595 57.333 55.2812 57.614 54.7811 58.1141C54.281 58.6142 54 59.2924 54 59.9997C54 60.7069 54.281 61.3852 54.7811 61.8853C55.2812 62.3854 55.9595 62.6663 56.6667 62.6663H59.3334V67.9997H56.6667C55.9595 67.9997 55.2812 68.2806 54.7811 68.7807C54.281 69.2808 54 69.9591 54 70.6663C54 71.3736 54.281 72.0519 54.7811 72.552C55.2812 73.0521 55.9595 73.333 56.6667 73.333H59.3334V78.6663H56.6667C55.9595 78.6663 55.2812 78.9473 54.7811 79.4474C54.281 79.9475 54 80.6258 54 81.333C54 82.0402 54.281 82.7185 54.7811 83.2186C55.2812 83.7187 55.9595 83.9997 56.6667 83.9997H59.3334V89.333H48.6667V46.6663H91.3334V57.333Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="10.5117" y1="121.576" x2="110.374" y2="-6.95495"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#E53121" />
                                            <stop offset="1" stop-color="#F57C14" />
                                        </linearGradient>
                                    </defs>
                                </svg>

                            </div>
                            <p class="list-txt">UI Design</p>
                        </li>
                        <li class="services_list_item" data-aos="fade-up">
                            <div>
                                <svg width="128" height="128" viewBox="0 0 128 128" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M59 2.88675C62.094 1.10042 65.906 1.10042 69 2.88675L114.426 29.1132C117.52 30.8996 119.426 34.2008 119.426 37.7735V90.2265C119.426 93.7992 117.52 97.1004 114.426 98.8867L69 125.113C65.906 126.9 62.094 126.9 59 125.113L13.5744 98.8867C10.4804 97.1004 8.57438 93.7992 8.57438 90.2265V37.7735C8.57438 34.2008 10.4804 30.8996 13.5744 29.1132L59 2.88675Z"
                                        fill="url(#paint0_linear)" />
                                    <path
                                        d="M57.8933 48.7732C57.6454 48.5232 57.3505 48.3248 57.0255 48.1895C56.7005 48.0541 56.352 47.9844 56 47.9844C55.6479 47.9844 55.2994 48.0541 54.9744 48.1895C54.6495 48.3248 54.3545 48.5232 54.1066 48.7732L40.7733 62.1065C40.5234 62.3544 40.325 62.6493 40.1896 62.9743C40.0542 63.2993 39.9845 63.6478 39.9845 63.9998C39.9845 64.3519 40.0542 64.7004 40.1896 65.0254C40.325 65.3503 40.5234 65.6453 40.7733 65.8932L54.1066 79.2265C54.3545 79.4764 54.6495 79.6748 54.9744 79.8102C55.2994 79.9456 55.6479 80.0153 56 80.0153C56.352 80.0153 56.7005 79.9456 57.0255 79.8102C57.3505 79.6748 57.6454 79.4764 57.8933 79.2265C58.1432 78.9786 58.3416 78.6837 58.477 78.3587C58.6124 78.0338 58.6821 77.6852 58.6821 77.3332C58.6821 76.9811 58.6124 76.6326 58.477 76.3076C58.3416 75.9827 58.1432 75.6877 57.8933 75.4398L46.4266 63.9998L57.8933 52.5598C58.1432 52.3119 58.3416 52.017 58.477 51.692C58.6124 51.3671 58.6821 51.0185 58.6821 50.6665C58.6821 50.3145 58.6124 49.9659 58.477 49.641C58.3416 49.316 58.1432 49.0211 57.8933 48.7732ZM87.2266 62.1065L73.8933 48.7732C73.6447 48.5245 73.3495 48.3273 73.0246 48.1927C72.6998 48.0582 72.3516 47.9889 72 47.9889C71.2898 47.9889 70.6088 48.271 70.1066 48.7732C69.858 49.0218 69.6608 49.317 69.5262 49.6418C69.3916 49.9667 69.3224 50.3149 69.3224 50.6665C69.3224 51.3766 69.6045 52.0577 70.1066 52.5598L81.5733 63.9998L70.1066 75.4398C69.8567 75.6877 69.6583 75.9827 69.5229 76.3076C69.3875 76.6326 69.3178 76.9811 69.3178 77.3332C69.3178 77.6852 69.3875 78.0338 69.5229 78.3587C69.6583 78.6837 69.8567 78.9786 70.1066 79.2265C70.3545 79.4764 70.6495 79.6748 70.9744 79.8102C71.2994 79.9456 71.6479 80.0153 72 80.0153C72.352 80.0153 72.7005 79.9456 73.0255 79.8102C73.3505 79.6748 73.6454 79.4764 73.8933 79.2265L87.2266 65.8932C87.4766 65.6453 87.675 65.3503 87.8103 65.0254C87.9457 64.7004 88.0154 64.3519 88.0154 63.9998C88.0154 63.6478 87.9457 63.2993 87.8103 62.9743C87.675 62.6493 87.4766 62.3544 87.2266 62.1065Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="10.5117" y1="121.576" x2="110.374" y2="-6.95495"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#E53121" />
                                            <stop offset="1" stop-color="#F57C14" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <p class="list-txt">UI Development </p>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="solutions">
                <div class="container">
                    <h2 class="page-head" data-aos="fade-up">Solution</h2>
                    <div class="solutions_item custom-content-display">
                       <div class="content-wrapper" data-aos="fade-up">
                        <h4 class="content-head"> A separate dashboard to manage employee leaves.</h4>
                        <p class="content-txt">Managing leave for an individual and the administrator was achieved by showing the overview of the team and individual employees leave data which will help the employees to easily monitor and manage their leaves.</p>
                       </div>
                       <div class="solutions_item_banner primary-box-shadow custom-right" data-aos="fade-up">
                           <picture>
                               <source srcset="">
                               <img src="/images/project/sparsh/sparsh-solutions-dashboard.jpg" alt="sparsh-solutions">
                           </picture>
                           <div class="bubble primary-bubble"></div>
                           <div class="bubble secondary-bubble"></div>
                       </div>
                    </div>

                    <div class="solutions_item custom-content-display">
                        <div class="solutions_item_banner secondary-box-shadow custom-left flex-order-1" data-aos="fade-up" >
                            <picture>
                                <source srcset="">
                                <img src="/images/project/sparsh/sparsh-solutions-banner2.png" alt="sparsh-solutions">
                            </picture>
                            <div class="bubble primary-bubble"></div>
                           <div class="bubble secondary-bubble"></div>
                        </div>
                        <div class="content-wrapper flex-order-0" data-aos="fade-up">
                         <h4 class="content-head"> Community forum to engage & encourage users to create and work better</h4>
                         <p class="content-txt">The Community page, designed to engage their employees , allows them to not only post their ideas, problems, solutions but also seek comments, get votes and hence take it from concept to execution.</p>
                        </div>
                     </div>
                </div>

                <ul class="solutions_full_banners_list">
                    <li class="solutions_full_banners_list-item custom-ml">
                        <picture data-aos="fade-up">
                            <source srcset="">
                                <img src="/images/project/sparsh/sparsh-solutions-form.png" alt="">
                        </picture>
                    </li>
                    <li class="solutions_full_banners_list-item custom-m">
                        <picture data-aos="fade-up">
                            <source srcset="">
                                <img src="/images/project/sparsh/sparsh-solutions-poll.png" alt="">
                        </picture>
                    </li>
                    <li class="solutions_full_banners_list-item custom-mr">
                        <picture data-aos="fade-up">
                            <source srcset="">
                                <img src="/images/project/sparsh/sparsh-solutions-form.png" alt="">
                        </picture>
                    </li>
                </ul>

                 <div class="container">
                    <div class="solutions_item custom-content-display">
                       <div class="content-wrapper" data-aos="fade-up">
                        <h4 class="content-head">Maintaining a photo directory to easily view the employees details</h4>
                        <p class="content-txt">The photo directory is the database that contains details of all their employees. An employee can easily access this page to find the details of other employees inside their organization.</p>
                       </div>
                       <div data-aos="fade-up" class="solutions_item_banner primary-box-shadow custom-right">
                           <picture>
                               <source srcset="">
                               <img src="/images/project/sparsh/sparsh-solutions-photo-directory.png" alt="sparsh-solutions">
                           </picture>
                           <div class="bubble primary-bubble"></div>
                           <div class="bubble secondary-bubble"></div>
                       </div>
                    </div>

                    <div class="solutions_item custom-content-display">
                        <div data-aos="fade-up" class="solutions_item_banner custom-left-2 flex-order-1">
                            <picture>
                                <source srcset="">
                                <img src="/images/project/sparsh/sparsh-solutions-conference.png" alt="sparsh-solutions">
                            </picture>
                            <div class="bubble primary-bubble"></div>
                           <div class="bubble secondary-bubble"></div>
                        </div>
                        <div data-aos="fade-up" class="content-wrapper flex-order-0">
                         <h4 class="content-head"> Designing for collaboration by booking & scheduling meetings</h4>
                         <p class="content-txt">The flow of the module is easy and effective, helping the users to book meetings on scheduled timings, set goals & objectives and view availability of other employees and conference rooms.</p>
                        </div>
                     </div>

                     <div class="solutions_item custom-content-display">
                        <div class="content-wrapper" data-aos="fade-up">
                         <h4 class="content-head">Planning & managing travel plans across teams </h4>
                         <p class="content-txt">Keeping convenience in mind, this page is a one-stop solution to make travel plans , choosing date and mode of travel, and collaborating with travel mates.</p>
                        </div>
                        <div data-aos="fade-up" class="solutions_item_banner primary-box-shadow custom-right">
                            <picture>
                                <source srcset="">
                                <img src="/images/project/sparsh/sparsh-solutions-photo-directory.png" alt="sparsh-solutions">
                            </picture>
                            <div class="bubble primary-bubble"></div>
                           <div class="bubble secondary-bubble"></div>
                        </div>
                     </div>
                </div>
            </section>

            <section class="motive">
                <div class="container">
                    <h2 class="page-head" data-aos="fade-up">Branding</h2>
                    <h4 class="content-tag" data-aos="fade-up">From logo that reflects their moto to colors that reflects their emotions.</h4>

                    <ul class="motive_list">
                        <li class=" motive_list_item" data-aos="fade-up">
                          <h3 class="list-head">Making of Logo</h3>
                          <div class="list-banner">
                              <picture>
                                  <source srcset="">
                                    <img src="/images/project/sparsh/sparsh-motive-logos.png" alt="sparsh-motives">
                              </picture>
                          </div>
                        </li>
                        <li class=" motive_list_item" data-aos="fade-up">
                            <h3 class="list-head">Choice of Colors</h3>
                            <div class="list-banner">
                                <picture>
                                    <source srcset="">
                                      <img src="/images/project/sparsh/sparsh-motive-colors.png" alt="sparsh-motives">
                                </picture>
                            </div>
                          </li>
                          <li class=" motive_list_item" data-aos="fade-up">
                            <h3 class="list-head">Iconography</h3>
                            <div class="list-banner">
                                <picture>
                                    <source srcset="">
                                      <img src="/images/project/sparsh/sparsh-motive-icons.png" alt="sparsh-motives">
                                </picture>
                            </div>
                          </li>
                    </ul>
                </div>
            </section>

            <section class="features ">
                <div class="features_item">
                    <h2 class="page-head" data-aos="fade-up">Web-app Design</h2>
                    <h4 class="content-tag" data-aos="fade-up">
                        Finally, the UI part was introduced to enhance the usability interms of visual design and overall experience.
                    </h4>
                    <div data-aos="fade-up" class="features_item_banner custom-1 custom-bg-1">
                        <picture>
                            <source srcset="">
                                <img src="/images/project/sparsh/sparsh-features-web.png" alt="sparsh-features">
                        </picture>
                    </div>
                </div>

                <div class="features_item-wrapper custom-bg-2">
                    <div data-aos="fade-up" class="features_item">
                        <h2  class="page-head">Tablet <span>Design</span></h2>
                        <div class="features_item_banner custom-2">
                            <picture>
                                <source srcset="">
                                    <img src="/images/project/sparsh/sparsh-features-tablet.png" alt="sparsh-features">
                            </picture>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="features_item">
                        <h2 class="page-head">Mobile <span>Design</span> </h2>
                        <div class="features_item_banner custom-3">
                            <picture>
                                <source srcset="">
                                    <img src="/images/project/sparsh/sparsh-features-mobile.png" alt="sparsh-features">
                            </picture>
                        </div>
                    </div>
                </div>

                <div class="features_banners_full container">
                    <div data-aos="fade-up" class="features_banners_full_item">
                        <picture>
                            <source srcset="">
                                <img src="/images/project/sparsh/sparsh-features-mobile-banner.png" alt="sparsh-features">
                        </picture>
                    </div>
                    <div data-aos="fade-up" class="features_banners_full_item">
                        <picture>
                            <source srcset="">
                                <img src="/images/project/sparsh/sparsh-features-ipad-banner.png" alt="sparsh-features">
                        </picture>
                    </div>
                </div>

            </section>
        </div>

  {{/inline}}

  {{/layouts/base}}
