{{#> layouts/base  project="true"  title="Zifo - Project | Rillusion" barbaNamesapce="zifo"}}

  {{#*inline "content-block"}}

        <div class="casestudy-zifo ">
          <section class="header" >
            <div class="container ">
              <h1 class="d-none">Zifo</h1>
              <picture class="logo" data-aos="zoom-in">
                <source class="lazyload" data-srcset="../images/project/zifo/zifo-logo.webp" />
                <img class="lazyload" data-src="../images/project/zifo/zifo-logo.svg" alt="Zifologo" />
              </picture>
              <picture class="header-banner" data-aos="fade-left">
                <source class="lazyload" data-srcset="../images/project/zifo/zifo-header-banner.webp" />
                <img class="lazyload" data-src="../images/project/zifo/zifo-header-banner.png" alt="Zifobanner" />
              </picture>
            </div>
          </section>

          <section class="brand container custom-content-display">
            <h2 class="page-main-head" data-aos="fade-up">A new way of managing research labs</h2>
            <div class="brand_content">
              <p class="content-txt" data-aos="fade-up">
                Having a strong footprint with offices across the globe on drug
                research and manufacturing, <span class="txt-break"></span> Zifo was looking to streamline the
                experience of medical research labs in tasks like managing &
                monitoring across the research journey.
              </p>
              <h3 class="brand_content_list-item-head" data-aos="fade-up">Our Role</h3>
              <p class="content-txt" data-aos="fade-up">
                Product thinking Workshop, Strategy, User flows, Information Architecture, UI Design
              </p>
              <ul class="clearfix brand_content_list" data-aos="fade-up">
                <li class="float-l brand_content_list-item ">
                  <h3 class="brand_content_list-item-head">Industry</h3>
                  <span>HealthTech</span>
                </li>
                <li class="float-r brand_content_list-item">
                  <h3 class="brand_content_list-item-head">Platform</h3>
                  <span>Web App</span>
                </li>
              </ul>
            </div>
          </section>

          <section class="overview container">
            <div class="overview_wrapper" data-aos="fade-up">
              <h2 class="content-head" data-aos="fade-up">Collaborating on a Product Thinking Workshop</h2>
            <div>
              <p class="content-txt" data-aos="fade-up">
                With an intensive 4-day workshop with key stakeholders where the main aim was to understand product, industry and users,we gathered <span class="txt-break"></span> their goals to be the following:
              </p>
              <ul class="overview_list" >
                <li class="overview_list-item" data-aos="fade-up">a) Efficienct resource management</li>
                <li class="overview_list-item" data-aos="fade-up" data-aos-delay="200">b) Maximizing productivity</li>
                <li class="overview_list-item" data-aos="fade-up" data-aos-delay="400">c) Enable easier decision-making </li>
              </ul>
            </div>
            </div>
          </section>

          <section class="overview_banner" data-aos="fade-up" data-aos-delay="500"></section>

          <section class="features container">
            <ul class="features_list">
              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content flex-order-1" >
                  <h2 class="content-head" data-aos="fade-up">
                    Complex data made simples
                  </h2>
                  <p class="content-txt" data-aos="fade-up">
                    AIRA has to cater to a different set of users who demand data at different abstraction levels. For all the users, <span class="txt-break"></span> data consumption is very high and hence we structured the content to be simpler and easier to consume by disclosing the information on-demand.
                  </p>
                </div>
                <div class="features_list-item-banner custom_1 flex-order-0" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features1.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features1.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>

              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content" >
                  <h2 class="content-head" data-aos="fade-up">
                    Monitor projects effectively
                  </h2>
                  <p class="content-txt" data-aos="fade-up">
                    With a Gantt chart, we wanted to enable the users to easily interpret the timelines. In additon to this, with a Kanban format, we helped the users quickly identify the status of the task.
                  </p>
                </div>
                <div class="features_list-item-banner" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features2.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features2.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>

              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content flex-order-1">
                  <h2 class="content-head" data-aos="fade-up">
                    Resource availability at a glance
                  </h2>
                  <p class="content-txt" data-aos="fade-up">
                    From user research, we identified a major pain point: having to switch between multiple screens to check availability. Hence, the view was set to see the entire team schedule at a time whereas the available hours on-demand.
                  </p>
                </div>
                <div class="features_list-item-banner flex-order-0" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features3.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features3.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>

              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content">
                  <h2 class="content-head" data-aos="fade-up">
                    Everything about requests
                  </h2>
                  <p class="content-txt" data-aos="fade-up">
                    Requests are the key components of the entire system. So, data about a request had to be available easily to the user as opposed to viewing by switching between multiple screens. We made all the relevant request metadata accessible with a click.
                  </p>
                </div>
                <div class="features_list-item-banner" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features4.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features4.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>
            </ul>
            <div class="features_full_banners ">
              <div data-aos="fade-up">
                <picture>
                  <source class="lazyload" data-srcset="../images/project/zifo/zifo-features-full-banner1.webp" />
                  <img class="lazyload" data-src="../images/project/zifo/zifo-features-full-banner1.png" alt="Zifofeatures" />
                </picture>
              </div>
              <div class="custom-content-display" >
                <picture class="features_full_banners-item-twinsize" data-aos="fade-up">
                  <source class="lazyload" data-srcset="../images/project/zifo/zifo-features-full-banner2.webp" />
                  <img class="lazyload" data-src="../images/project/zifo/zifo-features-full-banner2.png" alt="Zifofeatures" />
                </picture>
                <picture class="features_full_banners-item-twinsize" data-aos="fade-up">
                  <source class="lazyload" data-srcset="../images/project/zifo/zifo-features-full-banner3.webp" />
                  <img class="lazyload" data-src="../images/project/zifo/zifo-features-full-banner3.png" alt="Zifofeatures" />
                </picture>

              </div>
            </div>
            <ul class="features_list">
              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content flex-order-1 "data-aos="fade-up">
                  <h2 class="content-head">
                    Discussions under the same roof
                  </h2>
                  <p class="content-txt">
                    Communication is crucial between <span class="txt-break"></span> users  working on a request. With chat as an overlay, we wanted to help the relevant players of a request to comment and communicate as <span class="txt-break"></span> easily as possible.
                  </p>
                </div>
                <div class="features_list-item-banner flex-order-0" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features5.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features5.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>

              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content" data-aos="fade-up">
                  <h2 class="content-head">
                    Milestones for maximum effect
                  </h2>
                  <p class="content-txt">
                    We made setting up milestones, a crucial & complex task, more simpler to define, link dependencies and hence manage the overall process efficiently.
                  </p>
                </div>
                <div class="features_list-item-banner" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features6.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features6.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>

              <li class="features_list-item custom-content-display">
                <div class="features_list-item-content flex-order-1" data-aos="fade-up">
                  <h2 class="content-head">
                    Assign requests to users with ease
                  </h2>
                  <p class="content-txt">
                    Though all the heavy lifting of scheduling is done automatically by the system, we wanted the users to remain in control. With this design, the users can easily check user & instrument availability, drag and drop the task and schedule flexibly.
                  </p>
                </div>
                <div class="features_list-item-banner flex-order-0" data-aos="fade-up">
                  <picture>
                    <source class="lazyload" data-srcset="../images/project/zifo/zifo-features7.webp" />
                    <img class="lazyload" data-src="../images/project/zifo/zifo-features7.png" alt="Zifofeatures" />
                  </picture>
                </div>
              </li>
            </ul>
          </section>

          <section class=" footer container">
            <picture data-aos="fade-up" >
              <source class="lazyload" data-srcset="../images/project/zifo/zifo-footer-banner.webp" />
              <img class="lazyload" data-src="../images/project/zifo/zifo-footer-banner.png" alt="Zifofooter" />
            </picture>
          </section>
         </div>

  {{/inline}}

  {{/layouts/base}}
