// @import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat:wght@300;400;500;600;700&display=swap');

$base-color : #5a5a5a;
$primary-color : #0066b3;
$secondary-color : #09192b;
$white : #ffffff;


// media queries
$desktop-breakpoint : 1200px;
$tab-breakpoint : 768px;
$mobile-breakpoint : 576px;