{{#> layouts/base  title="About | Rillusion" barbaNamesapce="about"}}

  {{#*inline "content-block"}}


    <section class="width-box page--content--about__project page--intro">
      <h1 class="section--header">
        <span data-aos="fade-up" class="section__header-text_kicker">About</span>
        <span class="section--header__title">
          <span><span data-aos="fade-up" data-aos-delay="">We are a creative powerhouse,</span></span>
          <span><span data-aos="fade-up" data-aos-delay="400">designing technology</span></span>
          <span><span data-aos="fade-up" data-aos-delay="800">for people.</span></span>
        </span>
      </h1>
    </section>


    <section class="width-box  page--content--about__studio">

      <h1 class="section--header">
        <span data-aos="fade-right" class="section__header-text_kicker">Studio</span>
        <span class="section--header__title">
          <span><span data-aos="fade-right">We are powered by our squad of</span></span>
          <span><span data-aos="fade-right" data-aos-delay="500">strategists, technologists & designers.</span></span>
        </span>
      </h1>

      <div class="about-us-statistics">
        <div class="statistics-list">
          <div  class="">
           <div data-aos="fade-down" data-aos-delay="600">
              <span class="statistics__count"><span class="counter">500</span>+</span>
              <span class="statistics__title">Products Launched</span>
           </div>
          </div>
          <div>
            <div data-aos="fade-down" data-aos-delay="700" class="">
            <span class="statistics__count"><span class="counter">10</span>+</span>
            <span class="statistics__title">Years in Business</span>
          </div>
          </div>
          <div>
            <div data-aos="fade-down" data-aos-delay="800" class="">
            <span class="statistics__count">2</span>
            <span class="statistics__title">Cities represented</span>
          </div>
          </div>
          <div>
            <div data-aos="fade-down" data-aos-delay="900" class="">
            <span class="statistics__count">$0</span>
            <span class="statistics__title">Funding Raised</span>
          </div>
          </div>
        </div>
        <div class="about-statistics">
          <div>
            <p data-aos="fade-down" data-aos-delay="700" >
               Rillusion is a diverse team of passionate strategists, UX
               visionaries & technology wizards whose combined energy will give
               your product the edge it needs.
            </p>
          </div>
          <div>
            <p data-aos="fade-down" data-aos-delay="800" >
            We love what we do and our 10+ years of observing, learning and
            evolving in the field has only made our drive stronger to help
            startups & enterprises build ideas to disrupt.
          </p>
          </div>
          <div>
            <p data-aos="fade-down" data-aos-delay="900" >
            People evolve. Technology outsmarts. We believe that our best
            work lies at the intersection of our expertise in understanding
            user needs and achieving them through the superpowers of
            technology.
          </p>
          </div>
        </div>
      </div>
    </section>

    <section class="width-box  page--content--about__philosophy">
      <h1 class="section--header">
        <span  data-aos="fade-right" class="section__header-text_kicker">Philosophy</span>
        <span class="section--header__title">
          <span><span data-aos="fade-right" >We are aligned with principles</span></span>
          <span><span data-aos="fade-right" data-aos-delay="500" >that make us industry experts</span></span>
        </span>
      </h1>

      <div class="philosophy--lists">
        <ol>
          <li>
           <div class="philosophy--list" data-aos="fade-down" data-aos-delay="600">
              <strong>
              <span>Put people</span>
              <span>first.</span>
            </strong>
            We respect & fight for the needs & goals of users who can make
            or break products.
           </div>
          </li>
          <li>
            <div class="philosophy--list" data-aos="fade-down" data-aos-delay="700" >
              <strong>
              <span>Embracing</span>
              <span>the process.</span>
            </strong>
            We love the process as much as the outcome and this helps us
            stay focused towards the goal.
            </div>
          </li>
          <li>
            <div class="philosophy--list" data-aos="fade-down" data-aos-delay="800">
              <strong>
              <span>Driving</span>
              <span>business goals.</span>
            </strong>
              We are champions of aligning UX Strategy with user's goals to
              create products that work.
            </div>
          </li>
          <li>
            <div class="philosophy--list" data-aos="fade-down" data-aos-delay="900">
              <strong>
              <span>Thinking</span>
              <span>big & global</span>
            </strong>
            We look beyond the scope to envision solutions that have a
            global impact.
            </div>
          </li>
          <li>
            <div class="philosophy--list" data-aos="fade-down" data-aos-delay="1000">
              <strong>
              <span>Running with</span>
              <span>creative confidence</span>
            </strong>
              With our power of creativity, we push forward & inspire crazy,
              daunting but exciting ideas.
            </div>
          </li>
          <li>
            <div class="philosophy--list" data-aos="fade-down" data-aos-delay="1200">
              <strong >
              <span>Evolving with</span>
              <span>mindfulness</span>
            </strong>
              We expand and evolve with new thoughts & ideas with a sense of
              responsibility.
            </div>
          </li>
        </ol>
      </div>
    </section>

    {{!-- <section class="width-box  page--content--about__team section--team">

      <h1 class="section--header">
        <span data-aos="fade-right" class="section__header-text_kicker">Team</span>
        <span class="section--header__title">
          <span><span data-aos="fade-right">Meet the minds</span></span>
          <span><span data-aos="fade-right" data-aos-delay="500">changing the game.</span></span>
        </span>
      </h1>

      <div class="team--lists">
        <div class="team--list">
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=58" alt="" />
            </div>
            <div class="team--name">
              <strong>Hussain</strong>
              <span class="team--tagline">Business</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=47" alt="" />
            </div>
            <div class="team--name">
              <strong>Nousheen</strong>
              <span class="team--tagline">Project</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=41" alt="" />
            </div>
            <div class="team--name">
              <strong>Minu</strong>
              <span class="team--tagline">Business Development</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=61" alt="" />
            </div>
            <div class="team--name">
              <strong>Yash</strong>
              <span class="team--tagline">UX & UI Designer</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=31" alt="" />
            </div>
            <div class="team--name">
              <strong>Suchitra</strong>
              <span class="team--tagline">UX & UI Designer</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=55" alt="" />
            </div>
            <div class="team--name">
              <strong>Lakshmi Narayanan</strong>
              <span class="team--tagline">UX & UI Designer</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=69" alt="" />
            </div>
            <div class="team--name">
              <strong>Kavin</strong>
              <span class="team--tagline">UI Developer</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=61" alt="" />
            </div>
            <div class="team--name">
              <strong>Raj</strong>
              <span class="team--tagline">UI Developer</span>
            </div>
          </div>
          <div data-aos="fade-up" class="team--card">
            <div class="team--image">
              <img src="https://i.pravatar.cc/360?img=3" alt="" />
            </div>
            <div class="team--name">
              <strong>Rambal</strong>
              <span class="team--tagline">CEO & Founder</span>
            </div>
          </div>
        </div>
      </div>
    </section> --}}



  {{/inline}}

  {{/layouts/base}}
