{{#> layouts/base  title="About | Rillusion" barbaNamesapce="about"}}

  {{#*inline "content-block"}}


        <section class="width-box page--content--about__project page--intro">
          <h1 class="section--header">
            <span class="section__header-text_kicker">About</span>
            <span class="section--header__title">
              <span>We are a creative powerhouse,</span>
              <span>designing technology</span>
              <span>for people.</span>
            </span>
          </h1>
        </section>


        <section class="width-box  page--content--about__studio">

          <h1 class="section--header">
            <span class="section__header-text_kicker">Studio</span>
            <span class="section--header__title">
              <span>We are powered by our squad of</span>
              <span>strategists, technologists & designers.</span>
            </span>
          </h1>

          <div class="about-us-statistics">
            <div class="statistics-list">
              <div class="">
                <span class="statistics__count"
                  ><span class="counter">500</span>+</span
                >
                <span class="statistics__title">Products Launched</span>
              </div>
              <div class="">
                <span class="statistics__count"
                  ><span class="counter">10</span>+</span
                >
                <span class="statistics__title">Years in Business</span>
              </div>
              <div class="">
                <span class="statistics__count">2</span>
                <span class="statistics__title">Cities represented</span>
              </div>
              <div class="">
                <span class="statistics__count">$0</span>
                <span class="statistics__title">Funding Raised</span>
              </div>
            </div>
            <div class="about-statistics">
              <p>
                Rillusion is a diverse team of passionate strategists, UX
                visionaries & technology wizards whose combined energy will give
                your product the edge it needs.
              </p>
              <p>
                We love what we do and our 10+ years of observing, learning and
                evolving in the field has only made our drive stronger to help
                startups & enterprises build ideas to disrupt.
              </p>
              <p>
                People evolve. Technology outsmarts. We believe that our best
                work lies at the intersection of our expertise in understanding
                user needs and achieving them through the superpowers of
                technology.
              </p>
            </div>
          </div>
        </section>

        <section class="width-box  page--content--about__philosophy">
          <h1 class="section--header">
            <span class="section__header-text_kicker">Philosophy</span>
            <span class="section--header__title">
              <span>We are aligned with principles</span>
              <span>that make us industry experts</span>
            </span>
          </h1>

          <div class="philosophy--lists">
            <ol>
              <li class="philosophy--list">
                <strong>
                  <span>Put people</span>
                  <span>first.</span>
                </strong>
                We respect & fight for the needs & goals of users who can make
                or break products.
              </li>
              <li class="philosophy--list">
                <strong>
                  <span>Embracing</span>
                  <span>the process.</span>
                </strong>
                We love the process as much as the outcome and this helps us
                stay focused towards the goal.
              </li>
              <li class="philosophy--list">
                <strong>
                  <span>Driving</span>
                  <span>business goals.</span>
                </strong>
                We are champions of aligning UX Strategy with users’ goals to
                create products that work.
              </li>
              <li class="philosophy--list">
                <strong>
                  <span>Thinking</span>
                  <span>big & global</span>
                </strong>
                We look beyond the scope to envision solutions that have a
                global impact.
              </li>
              <li class="philosophy--list">
                <strong>
                  <span>Running with</span>
                  <span>creative confidence</span>
                </strong>
                With our power of creativity, we push forward & inspire crazy,
                daunting but exciting ideas.
              </li>
              <li class="philosophy--list">
                <strong>
                  <span>Evolving with</span>
                  <span>mindfulness</span>
                </strong>
                We expand and evolve with new thoughts & ideas with a sense of
                responsibility.
              </li>
            </ol>
          </div>
        </section>

        <section class="width-box  page--content--about__team section--team">

          <h1 class="section--header">
            <span class="section__header-text_kicker">Team</span>
            <span class="section--header__title">
              <span>Meet the minds</span>
              <span>changing the game.</span>
            </span>
          </h1>

          <div class="team--lists">
            <div class="team--list">
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=58" alt="" />
                </div>
                <div class="team--name">
                  <strong>Hussain</strong>
                  <span class="team--tagline">Business</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=47" alt="" />
                </div>
                <div class="team--name">
                  <strong>Nousheen</strong>
                  <span class="team--tagline">Project</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=41" alt="" />
                </div>
                <div class="team--name">
                  <strong>Minu</strong>
                  <span class="team--tagline">Business Development</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=61" alt="" />
                </div>
                <div class="team--name">
                  <strong>Yash</strong>
                  <span class="team--tagline">UX & UI Designer</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=31" alt="" />
                </div>
                <div class="team--name">
                  <strong>Suchitra</strong>
                  <span class="team--tagline">UX & UI Designer</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=55" alt="" />
                </div>
                <div class="team--name">
                  <strong>Lakshmi Narayanan</strong>
                  <span class="team--tagline">UX & UI Designer</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=69" alt="" />
                </div>
                <div class="team--name">
                  <strong>Kavin</strong>
                  <span class="team--tagline">UI Developer</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=61" alt="" />
                </div>
                <div class="team--name">
                  <strong>Raj</strong>
                  <span class="team--tagline">UI Developer</span>
                </div>
              </div>
              <div class="team--card">
                <div class="team--image">
                  <img src="https://i.pravatar.cc/360?img=3" alt="" />
                </div>
                <div class="team--name">
                  <strong>Rambal</strong>
                  <span class="team--tagline">CEO & Founder</span>
                </div>
              </div>
            </div>
          </div>
        </section>



  {{/inline}}

  {{/layouts/base}}
