{{#> layouts/base  title="Avishkaram - Project | Rillusion" barbaNamesapce="avishkaram"}}

  {{#*inline "content-block"}}



        <div class="casestudy-avishkaram">
            <section class="header" >
             <div class="header_background"></div>
                <div class="container">
                 <h1 class="d-none">Avishkaram Case study</h1>
                 <h2 class="header-title page-head" data-aos="fade-up" >Creating the <span class="row-view">web identity <span class="col-view">&</span> <span class="txt-primary">style.</span></span> </h2>
                 <h6 class="page-tag" data-aos="fade-up" data-aos-duration="900">WEBSITE DESIGN</h6>
                 <ul class="header_list" data-aos="fade-up">
                     <li class="header_list_item">
                         <h6 class="list-head">Client Name</h6>
                         <span class="list-txt">Avishkaram</span>
                     </li>
                     <li class="header_list_item">
                         <h6 class="list-head">Industry</h6>
                         <span class="list-txt">IT Services</span>
                     </li>
                 </ul>
                </div>
             </section>

             <section class="motives container clearfix">
                 <ul class="motives_list" >
                     <li class="motives_list_item">
                         <div class="motives_list-icon"><img src="/images/project/avishkaram/avishkaram-contentstrategy-icon.svg" alt="Avishkaram-motives"></div>
                         <h2 class="motives_list-head">Content Strategy</h2>
                     </li>
                     <li class="motives_list_item">
                         <div class="motives_list-icon"><img src="/images/project/avishkaram/avishkaram-sitemap-icon.png" alt="Avishkaram-motives"></div>
                         <h2 class="motives_list-head">Sitemap</h2>
                     </li>
                     <li class="motives_list_item">
                         <div class="motives_list-icon custom-pos-2"><img src="/images/project/avishkaram/avishkaram-vocietone-icon.svg" alt="Avishkaram-motives"></div>
                         <h2 class="motives_list-head">Tone & voice</h2>
                     </li>
                     <li class="motives_list_item ">
                         <div class="motives_list-icon"><img src="/images/project/avishkaram/avishkaram-design-icon.svg" alt="Avishkaram-motives"></div>
                         <h2 class="motives_list-head">Design</h2>
                     </li>
                     <li class="motives_list_item  ">
                         <div class="motives_list-icon custom-pos-1"><img src="/images/project/avishkaram/avishkaram-development-icon.svg" alt="Avishkaram-motives"></div>
                         <h2 class="motives_list-head">Development</h2>
                     </li>

                 </ul>
             </section>

             <section class="goals">
                 <div class="goals_item">
                 <div class="content-wrapper container custom-content-display">
                     <div>
                         <h3 class="goals_content-head">Understanding</h3>
                         <h3 class="goals_content-outline-head">brand + industry</h3>
                     </div>
                     <p class="content-txt">Building the marketing website for a IT service provider ‘Avishkaram’ based in Nepal to help market their services, products and stand out as though leaders within the industry.</p>
                 </div>
                 </div>
                 <div class="goals_footer">
                     <div class="goals-arrow-icon">
                         <img src="/images/project/avishkaram/avishkaram-goals-arrows-icon.svg" alt="Avishkaram-goals">
                     </div>
                     <h5 class="page-tag">An extension of their marketing strategy</h5>
                     <h3 class="goals_footer-head">The goal was to help Avishkaram to <span>market their products & </span>  <span>services effectively</span></h3>
                 </div>
             </section>

             <section class="features">
                 <div class="features_item container custom-content-display" data-aos="fade-up">
                     <div class="content-wrapper" >
                         <h5 class="page-tag">Highlighting the essentials.</h5>
                         <h3 class="content-head">Creating a Landing Page that impacts</h3>
                         <p class="content-txt">Considering Avishkaram’s products & services, a landing page that positions them as an industry expert and achieve their goal of attracting clients.</p>
                     </div>
                     <div class="banner-item">
                        <img src="/images/project/avishkaram/avishkaram-features-consulting-page.png" alt="Avishkaram-features">
                     </div>
                 </div>

                 <div class="features_item_custom-1">
                   <div class="container custom-content-display">
                     <div class="custom-1-card-wrapper flex-order-1" >
                         <div class="custom-1-card" data-aos="fade-up" data-aos-duration="">
                             <img src="/images/project/avishkaram/avishkaram-features-roadmap.svg" alt="Avishkaram-features">
                         </div>
                         <div class="custom-1-card" data-aos="fade-up" data-aos-duration="">
                          <img src="/images/project/avishkaram/avishkaram-features-development.svg" alt="Avishkaram-features">
                      </div>
                      <div class="custom-1-card" data-aos="fade-up" >
                          <img src="/images/project/avishkaram/avishkaram-features-strategy.svg" alt="Avishkaram-features">
                      </div>
                      <div class="custom-1-card" data-aos="fade-up" >
                          <img src="/images/project/avishkaram/avishkaram-features-riskmanagement.svg" alt="Avishkaram-features">
                      </div>
                     </div>
                     <div class="custom-1-content-wrapper" data-aos="fade-up">
                         <h5 class="page-tag"> Promoting products + services</h5>
                         <h3 class="content-head">Clear, creative communication of services</h3>
                         <p class="content-txt">With tab-style layouts & card designs, we helped design their services pages that easily convey benefits and features of their offerings</p>
                     </div>
                     <div class="custom-1-full-banner" data-aos="fade-up" data-aos-duration="900">
                         <img src="/images/project/avishkaram/avishkaram-features-overview.svg" alt="Avishkaram-features">
                     </div>
                   </div>
                 </div>

                <div class="features_item_custom-2" >
                    <div class="" data-aos="fade-up">
                         <h5 class="page-tag"> Conveying values, culture & team</h5>
                         <h3 class="content-head">Building brand transparency</h3>
                         <p class="content-txt">With effective storytelling, we were able to capture the true essence of Avishkaram’s people & culture and help build trust with their potential clients.</p>
                     </div>
                     <div class="custom-2-full-banner-wrapper" data-aos="fade-up">
                         <div class="custom-2-full-banner">
                             <img src="/images/project/avishkaram/avishkaram-features-inovent.png" alt="Avishkaram-features">
                         </div>
                    </div>
                 </div>

                 <div class="features_item features_item_custom-3 container custom-content-display">
                     <div class="content-wrapper" data-aos="fade-up">
                         <h5 class="page-tag">Building the corporate blog</h5>
                         <h3 class="content-head">Helping to <span>engage ,</span> muse & inspire</h3>
                         <p class="content-txt">With their years of expertise in the field, we created an inspiring blog that highlighted Avishkaram’s thought leadership and hence help them engage better</p>
                     </div>
                     <div class="banner-item" data-aos="fade-up">
                        <img src="/images/project/avishkaram/avishkaram-features-cloudblog.png" alt="Avishkaram-features">
                     </div>
                 </div>
             </section>

             <section class="overview" data-aos="fade-up">
                 <div class="container custom-content-display" >
                     <div class="overview_banners flex-order-1">
                         <div class="overview_banners_item custom-pos-1" data-aos="zoom-in" data-aos-duration="900">
                             <picture>
                                 <source srcset="">
                                     <img src="/images/project/avishkaram/avishkaram-overview-desktop.png" alt="Avishkaram-overview">
                             </picture>
                         </div>
                         <div class="overview_banners_item" data-aos="zoom-in" data-aos-duration="900">
                             <picture>
                                 <source srcset="">
                                     <img src="/images/project/avishkaram/avishkaram-overview-tablet.png" alt="Avishkaram-overview">
                             </picture>
                         </div>
                         <div class="overview_banners_item overview_banner_twin custom-pos-2" data-aos="zoom-in" data-aos-duration="900">
                             <div class="overview_banner_twin-item">
                                 <picture>
                                     <source srcset="">
                                         <img src="/images/project/avishkaram/avishkaram-overview-mobile.png" alt="Avishkaram-overview">
                                 </picture>
                             </div>
                             <div class="overview_banner_twin-item">
                                 <picture>
                                     <source srcset="">
                                         <img src="/images/project/avishkaram/avishkaram-overview-tablet-2.png" alt="Avishkaram-overview">
                                 </picture>
                             </div>
                         </div>
                     </div>
                     <div class="content-wrapper flex-order-0">
                         <h2 class="page-head">Responsive+ <span>dynamic</span></h2>
                         <h5 class="page-tag">Tailored for devices</h5>
                         <h3 class="content-head">Functional across various touchpoints</h3>
                         <p class="content-txt">With cross-platform development, we were able to help Avishkaram take their business anywhere & market themselves at the touch of an ipad or the click of a mouse.</p>
                     </div>
                 </div>
             </section>

             <section class="footer container">
                 <div class="footer_banner_full" data-aos="fade-up" data-aos-duration="800">
                    <img src="/images/project/avishkaram/avishkaram-footer-services.png" alt="Avishkaram-footer">
                 </div>
                 <div class="footer_banner_twin-wrapper">
                     <div class="footer_banner_twin" data-aos="fade-up" data-aos-duration="900">
                         <img src="/images/project/avishkaram/avishkaram-footer-blog.png" alt="Avishkaram-  footer">
                     </div>
                     <div class="footer_banner_twin" data-aos="fade-up" data-aos-duration="1100">
                         <img src="/images/project/avishkaram/avishkaram-footer-contactform.png" alt="Avishkaram-footer">
                     </div>
                 </div>

             </section>

         </div>


  {{/inline}}

  {{/layouts/base}}
