{{#> layouts/base  project=false  title="Rillusion - Contact us for UI UX Design & Product Design Projects" barbaNamesapce="contact" hideCallToAction=true}}

  {{#*inline "head-block"}}
    <meta name="description"
      content="Contact us for your next UX Consulting, Digital Product Design, UI Design, UX Design, UI Development, E-Commerce, PWA and Mobile App Development Projects. " />

    <!-- Facebook Opengraph -->
    <meta property="og:title" content="Rillusion - Contact us for UI UX Design & Product Design Projects" />
    <meta property="og:description" content="Contact us for your next UX Consulting, Digital Product Design, UI Design, UX Design, UI Development, E-Commerce, PWA and Mobile App Development Projects. " />
    <meta property="og:url" content="https://rillusion.com/" />
    <meta property="og:url" content="https://www.rillusion.com/" />
    <meta property="og:site_name" content="Rillusion" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="./images/favicons/rillusion-1200.png" />
    <meta property="fb:app_id" content="546964375459684" />
    <meta property="fb:admins" content="100004519120778" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Rillusion - Contact us for UI UX Design & Product Design Projects">
    <meta itemprop="description" content="Contact us for your next UX Consulting, Digital Product Design, UI Design, UX Design, UI Development, E-Commerce, PWA and Mobile App Development Projects. " />
    <meta itemprop="image" content="./images/favicons/rillusion-1200.png" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@weareRillusion" />
    <meta name="twitter:creator" content="@weareRillusion" />
    <meta name="twitter:title" content="Rillusion - Contact us for UI UX Design & Product Design Projects" />
    <meta name="twitter:description" content="Contact us for your next UX Consulting, Digital Product Design, UI Design, UX Design, UI Development, E-Commerce, PWA and Mobile App Development Projects. " />
    <meta name="twitter:image" content="./images/favicons/rillusion-1200.png" />
  {{/inline}}

  {{#*inline "content-block"}}


    <section class="width-box section--contact-form">
      <div class="left">
        <div class="section--content">
          <h1 class="section--content__title">
            <span data-aos="fade-right" class="section__header-text_kicker">Contact</span>
            <span class="hero--text_title">
              <span><span data-aos="fade-right">Let’s work</span></span>
              <span><span data-aos="fade-right" data-aos-delay="500">together.</span></span>
            </span>
          </h1>
          <div class="section--content__text" data-aos="fade-right" data-aos-delay="800">
            <p>
              Nothing excites us more than great ideas. We’d love to hear from you.
            </p>
            <p>
              <a href="mailto:interact@rillusion.com">interact@rillusion.com</a><a href="tel:9500007094">+91 9500 007
                094</a></p>
          </div>
        </div>
      </div>
      <div class="right">
        <h1 class="hero--text" data-aos="fade-right" data-aos-delay="1100">
          <span class="section__header-text_kicker">Hire us</span>
        </h1>
        <form id="form" class="form" data-aos="fade-right" data-aos-delay="1100" method="post" autocomplete="off"
          name="myForm">
          <div class="form-group">
            <input type="text" class="form-group-control" name="name" id="name" placeholder="" autocomplete="off"
              required>
            <label for="name" class="form-group-label">Name</label>
          </div>
          <div class="form-group">
            <input type="email" class="form-group-control" name="email" id="email" placeholder="" autocomplete="off"
              required>
            <label for="email" class="form-group-label">Email</label>
          </div>
          <div class="form-group">
            <input type="tel" class="form-group-control" name="phoneNumber" id="phoneNumber" placeholder=""
              autocomplete="off" required minlength="10" maxlength="10" pattern="^\d{10}$">
            <label for="phoneNumber" class="form-group-label">Telephone</label>
          </div>
          <div class="form-group input-inline">
            <label for="">Select your Budget range for this project</label>
            <div class="form-check form-check-inline">
              <input required class="form-check-input" type="radio" name="budgetRange" id="inlineRadio1"
                value="$ 5,000 - $10,000">
              <label class="form-check-label" for="k5tok10">$ 5,000 - $ 10,000</label>
            </div>
            <div class="form-check form-check-inline">
              <input required class="form-check-input" type="radio" name="budgetRange" id="inlineRadio2"
                value="$ 10,000 - $20,000">
              <label class="form-check-label" for="k10tok20">$ 10,000 - $ 20,000</label>
            </div>
            <div class="form-check form-check-inline">
              <input required class="form-check-input" type="radio" name="budgetRange" id="inlineRadio3"
                value="$ 20,000 - $50,000">
              <label class="form-check-label" for="k20tok50">$ 20,000 - $ 50,000</label>
            </div>
            <div class="form-check form-check-inline">
              <input required class="form-check-input" type="radio" name="budgetRange" id="inlineRadio4"
                value="$ 50,000 - $100,000">
              <label class="form-check-label" for="k50tok100">$ 50,000 - $ 100,000</label>
            </div>
            <div class="form-check form-check-inline">
              <input required class="form-check-input" type="radio" name="budgetRange" id="inlineRadio5"
                value="More than $ 100,000">
              <label class="form-check-label" for="morek100">More than $ 100,000</label>
            </div>
            <div class="form-check form-check-inline">
              <input required class="form-check-input" type="radio" name="budgetRange" id="inlineRadio6"
                value="Can’t Disclose">
              <label class="form-check-label" for="cantdisclose">Can’t Disclose</label>
            </div>
            <div class="errorRadio"></div>
          </div>

          <div class="form-group">
            <textarea name="projectDescription" id="projectDescription" cols="30" rows="10" placeholder=""></textarea>
            <label for="projectDescription" class="form-group-label">Project Description</label>
          </div>
          <button type="submit" class="form-group btn-primary">Get started <i></i> </button>

        </form>

        <div class="form-status hidden">
          <div class="form-status-success">
          <div class="checkmark">
              <svg width="181" height="181" viewBox="0 0 181 181" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle id="circle" cx="90.1396" cy="90.624" r="88.5" stroke="#2E2E2E" stroke-width="3" />
                <path id="tick" d="M54 93L76 115L127 64" stroke="#2E2E2E" stroke-width="8"/>
              </svg>
          </div>
          <div class="message">
            <div class="message--title">
              Thank you!
            </div>
            <div class="message--content">
              <span>We will contact you shortly. </span>
              <span>Scroll down to see the next steps </span>
            </div>
          </div>
        </div>
      </div>
          </div>
    </section>

    <footer>
      <section class="page--content--contact__thankyou section--thankyou">
        <div class="width-box ">
          <h1 class="section--header">
            <span data-aos="fade-right" class="section__header-text_kicker">Thank you</span>
            <span class="section--header__title">
              <span><span data-aos="fade-right">Our team works out a swift</span></span>
              <span><span data-aos="fade-right" data-aos-delay="400">response with a 3-step process</span></span>
            </span>
          </h1>

          <div class="philosophy--lists">
            <ol>
              <li data-aos="fade-down" data-aos-delay="300" class="philosophy--list">
                <strong>
                  <span>A quick initial</span>
                  <span>call to get started.</span>
                </strong>
                We are thrilled if you left us a message. Look forward to a call from our business team soon.
              </li>
              <li data-aos="fade-down" data-aos-delay="700" class="philosophy--list">
                <strong>
                  <span>Understanding &amp;</span>
                  <span>gathering scope.</span>
                </strong>
                We take time over call or in person in trying to understand your needs and our role in it.
              </li>
              <li data-aos="fade-down" data-aos-delay="1100" class="philosophy--list">
                <strong>
                  <span>Delivery of</span>
                  <span>proposal.</span>
                </strong>
                Based on the discussion, we prepare a proposal, best suited for your project.
              </li>
            </ol>
          </div>
        </div>
      </section>

      <div class="width-box footer--nofollow">
        <ul>
          <li class="footer-logo:68"><a href="./">
              <svg width="211" height="56" viewBox="0 0 211 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M22.036 39.1937H16.766C16.766 33.2558 19.1248 27.561 23.3236 23.3623C27.5223 19.1635 33.2171 16.8047 39.155 16.8047V22.0727C34.6199 22.0906 30.2757 23.9002 27.0691 27.1072C23.8625 30.3142 22.0534 34.6586 22.036 39.1937Z"
                  fill="#ED1B2F"></path>
                <path
                  d="M28 56C8.376 56 0 47.874 0 28.8C0 10.971 8.4 8.152 23.706 3.016L27.658 1.7C30.5616 0.645372 33.6177 0.0711733 36.706 0C48.73 0 56 10.773 56 28.817C56 38.417 53.827 45.201 49.349 49.547C44.871 53.893 37.891 56 28 56ZM36.706 2.516C33.8838 2.5786 31.0904 3.09904 28.435 4.057L24.484 5.373C9.456 10.457 2.634 12.762 2.634 28.8C2.634 46.57 9.72 53.484 28 53.484C37.219 53.484 43.554 51.614 47.518 47.768C51.482 43.922 53.405 37.719 53.405 28.816C53.405 20.9 51.786 2.516 36.706 2.516Z"
                  fill="#ED1B2F"></path>
                <path
                  d="M89.386 13.9735C89.3433 14.6872 89.0298 15.3577 88.5093 15.8479C87.9889 16.3381 87.301 16.6111 86.586 16.6111C85.8711 16.6111 85.1831 16.3381 84.6627 15.8479C84.1423 15.3577 83.8287 14.6872 83.786 13.9735C83.8287 13.2599 84.1423 12.5894 84.6627 12.0992C85.1831 11.6089 85.8711 11.3359 86.586 11.3359C87.301 11.3359 87.9889 11.6089 88.5093 12.0992C89.0298 12.5894 89.3433 13.2599 89.386 13.9735ZM84.21 19.2415V38.5345H88.951V19.2945L84.21 19.2415Z"
                  fill="#231F20"></path>
                <path d="M98.909 11.3662V38.5362H94.194V11.3662H98.909Z" fill="#231F20"></path>
                <path d="M108.734 11.3662V38.5362H104.045V11.3662H108.734Z" fill="#231F20"></path>
                <path
                  d="M150.642 24.4701C150.005 23.8803 149.256 23.4248 148.439 23.1306C147.622 22.8365 146.755 22.7098 145.888 22.7581C143.636 22.7581 142.398 23.4581 142.398 24.6581C142.398 25.8581 143.517 26.6071 145.967 26.7651C149.589 27.0021 154.172 27.8051 154.172 32.9021C154.172 36.2871 151.406 39.2021 145.927 39.2021C144.29 39.3154 142.648 39.0688 141.117 38.4795C139.585 37.8902 138.202 36.9725 137.063 35.7911L139.394 32.4061C141.219 34.0187 143.546 34.9495 145.979 35.0401C147.77 35.0401 149.443 34.1401 149.443 32.7401C149.443 31.3401 148.35 30.8831 145.637 30.7251C142.015 30.4481 137.737 29.1311 137.737 24.7721C137.737 20.4131 142.32 18.7931 145.81 18.7931C147.16 18.7014 148.515 18.8776 149.797 19.3116C151.078 19.7457 152.261 20.429 153.278 21.3221L150.642 24.4701Z"
                  fill="#231F20"></path>
                <path
                  d="M163.311 13.9735C163.268 14.6872 162.955 15.3577 162.434 15.8479C161.914 16.3381 161.226 16.6111 160.511 16.6111C159.796 16.6111 159.108 16.3381 158.588 15.8479C158.067 15.3577 157.754 14.6872 157.711 13.9735C157.754 13.2599 158.067 12.5894 158.588 12.0992C159.108 11.6089 159.796 11.3359 160.511 11.3359C161.226 11.3359 161.914 11.6089 162.434 12.0992C162.955 12.5894 163.268 13.2599 163.311 13.9735ZM158.148 19.2415V38.5345H162.889V19.2945L158.148 19.2415Z"
                  fill="#231F20"></path>
                <path
                  d="M187.637 28.9696C187.637 31.6138 186.587 34.1497 184.717 36.0194C182.847 37.8892 180.311 38.9396 177.667 38.9396C175.023 38.9396 172.487 37.8892 170.617 36.0194C168.747 34.1497 167.697 31.6138 167.697 28.9696C167.671 27.6435 167.909 26.3254 168.398 25.0925C168.887 23.8597 169.617 22.7368 170.546 21.7895C171.474 20.8423 172.582 20.0898 173.805 19.5761C175.028 19.0624 176.341 18.7979 177.667 18.7979C178.993 18.7979 180.306 19.0624 181.529 19.5761C182.752 20.0898 183.86 20.8423 184.789 21.7895C185.717 22.7368 186.447 23.8597 186.936 25.0925C187.425 26.3254 187.664 27.6435 187.637 28.9696ZM172.437 28.9696C172.437 31.8806 174.189 34.6066 177.637 34.6066C181.085 34.6066 182.905 31.8806 182.905 28.9696C182.939 28.2494 182.828 27.5297 182.58 26.8527C182.333 26.1756 181.952 25.5547 181.462 25.0263C180.972 24.4978 180.381 24.0724 179.724 23.7749C179.067 23.4774 178.358 23.3138 177.637 23.2936C174.226 23.2936 172.437 26.0986 172.437 28.9696Z"
                  fill="#231F20"></path>
                <path
                  d="M69.802 29.6327V38.5327H74.57V29.8437C74.5717 28.4079 75.1151 27.0256 76.0918 25.9731C77.0684 24.9207 78.4063 24.2755 79.838 24.1667V19.3867C77.1743 19.4935 74.6521 20.6136 72.7867 22.5181C70.9213 24.4225 69.8537 26.9674 69.802 29.6327Z"
                  fill="#231F20"></path>
                <path
                  d="M133.533 28.4479C133.582 29.8006 133.357 31.1492 132.873 32.4132C132.389 33.6772 131.655 34.8306 130.715 35.8048C129.776 36.7789 128.649 37.5537 127.404 38.0829C126.158 38.612 124.818 38.8848 123.465 38.8848C122.111 38.8848 120.771 38.612 119.526 38.0829C118.28 37.5537 117.153 36.7789 116.214 35.8048C115.274 34.8306 114.54 33.6772 114.056 32.4132C113.572 31.1492 113.347 29.8006 113.396 28.4479V19.5479H118.164V28.2399C118.164 29.6493 118.724 31.0009 119.72 31.9975C120.717 32.9941 122.069 33.5539 123.478 33.5539C124.887 33.5539 126.239 32.9941 127.236 31.9975C128.232 31.0009 128.792 29.6493 128.792 28.2399V19.5449H133.546V28.4449L133.533 28.4479Z"
                  fill="#231F20"></path>
                <path
                  d="M210.923 29.4622C210.972 28.1096 210.747 26.761 210.263 25.497C209.779 24.233 209.045 23.0795 208.105 22.1054C207.166 21.1313 206.039 20.3565 204.794 19.8273C203.548 19.2981 202.208 19.0254 200.855 19.0254C199.501 19.0254 198.161 19.2981 196.916 19.8273C195.67 20.3565 194.543 21.1313 193.604 22.1054C192.664 23.0795 191.93 24.233 191.446 25.497C190.962 26.761 190.737 28.1096 190.786 29.4622V38.3622H195.54V29.6732C195.54 28.2639 196.1 26.9122 197.096 25.9157C198.093 24.9191 199.445 24.3592 200.854 24.3592C202.263 24.3592 203.615 24.9191 204.612 25.9157C205.608 26.9122 206.168 28.2639 206.168 29.6732V38.3652H210.936V29.4652L210.923 29.4622Z"
                  fill="#231F20"></path>
              </svg>
            </a></li>
          <li>&copy; 2020. <a href="./privacy.html">Privacy Policy</a></li>
          <li>
            <a href="https://dribbble.com/rillusion" target="_blank">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.1695 20.1445C4.64821 20.1445 0.156527 15.6587 0.15625 10.1445C0.156804 4.6304 4.64821 0.145085 10.1695 0.144531C15.6909 0.145085 20.1823 4.6304 20.1825 10.1445C20.1823 15.6587 15.6909 20.1445 10.1695 20.1445Z"
                  fill="#666666" />
                <path
                  d="M9.63024 7.34905C8.27537 4.95264 6.82723 2.93182 6.5355 2.53076C4.20607 3.64233 2.46148 5.78687 1.9021 8.36762C1.92535 8.36762 1.95303 8.36762 1.98486 8.36762C2.76429 8.36762 5.99383 8.30507 9.63024 7.34905Z"
                  fill="white" />
                <path
                  d="M15.7424 3.80813C14.2528 2.50225 12.3026 1.70898 10.1694 1.70898C9.51338 1.70898 8.87511 1.78455 8.26147 1.92737C8.60524 2.39182 10.0526 4.39076 11.3734 6.80738C14.2282 5.72792 15.5069 4.13031 15.7424 3.80813Z"
                  fill="white" />
                <path
                  d="M12.6155 9.34508C12.6731 9.48015 12.729 9.61494 12.7841 9.74891C13.4387 9.66836 14.0919 9.63709 14.7125 9.63709C16.6364 9.63709 18.2465 9.93823 18.6265 10.0149C18.5941 8.06827 17.8994 6.27995 16.7574 4.86475C16.462 5.24754 15.0333 6.94009 12.0728 8.15961C12.2629 8.54987 12.4453 8.94623 12.6155 9.34508Z"
                  fill="white" />
                <path
                  d="M10.7494 10.1844C10.8424 10.1545 10.9365 10.1271 11.0306 10.0995C10.8291 9.64747 10.6121 9.19493 10.3841 8.74902C6.62946 9.86364 2.98529 9.95083 1.936 9.95083C1.83912 9.95083 1.76522 9.95027 1.71429 9.94917C1.71263 10.0189 1.71069 10.0887 1.71069 10.1579C1.71097 12.3035 2.51614 14.2637 3.84001 15.7553C4.19734 15.1649 6.52179 11.5498 10.7494 10.1844Z"
                  fill="white" />
                <path
                  d="M13.3391 11.1842C14.3912 14.0861 14.847 16.4659 14.96 17.1163C16.8122 15.8409 18.1322 13.8472 18.5139 11.5416C18.1928 11.4436 16.8097 11.0566 15.0422 11.0566C14.5038 11.0566 13.9295 11.0935 13.3391 11.1842Z"
                  fill="white" />
                <path
                  d="M11.639 11.6024C7.00508 13.215 5.25137 16.3731 5.01001 16.8473C6.43933 17.9486 8.22848 18.6054 10.1699 18.6054C11.3277 18.6054 12.4317 18.3718 13.4376 17.9494C13.302 17.1625 12.8096 14.6244 11.6484 11.5991C11.6451 11.6002 11.6421 11.6013 11.639 11.6024Z"
                  fill="white" />
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.behance.net/Rillusion-ux-ui" target="_blank">
              <svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.3585 1.18293H26.6313V3.35354H19.3585V1.18293ZM15.6828 12.5679C15.6828 17.9479 10.0838 17.771 10.0838 17.771H4.9526H4.80193H0.911133V0.144531H4.80193H4.9526H10.0834C12.871 0.144531 15.0714 1.68344 15.0714 4.83758C15.0714 7.99212 12.3816 8.19209 12.3816 8.19209C15.9273 8.19209 15.6828 12.5679 15.6828 12.5679ZM23.2541 15.3479C26.184 15.3479 26.0803 13.4516 26.0803 13.4516H29.1823C29.1823 18.4842 23.1507 18.1395 23.1507 18.1395C15.9126 18.1395 16.3781 11.4011 16.3781 11.4011C16.3781 11.4011 16.3726 4.62927 23.15 4.62927C30.2847 4.62927 29.2857 12.2801 29.2857 12.2801H20.152C20.152 15.5555 23.2541 15.3479 23.2541 15.3479Z"
                  fill="#666666" />
                <path
                  d="M11.3305 5.11092C11.3305 3.27783 10.0834 3.27783 10.0834 3.27783H9.42306H4.95264V7.21117H9.76535C10.597 7.21077 11.3305 6.94481 11.3305 5.11092Z"
                  fill="white" />
                <path
                  d="M10.0838 9.92823H4.95264V14.6392H9.84685C10.5831 14.6181 11.9419 14.3875 11.9419 12.3493C11.9419 9.90358 10.0838 9.92823 10.0838 9.92823Z"
                  fill="white" />
                <path
                  d="M23.2196 7.21143C20.4968 7.21143 20.1172 9.92866 20.1172 9.92866H25.9075C25.9079 9.92866 25.9425 7.21143 23.2196 7.21143Z"
                  fill="white" />
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/rillusion_ux_ui_design/" target="_blank">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17.4943 20.1445H2.62875C1.2163 20.1445 0.0615234 19.0991 0.0615234 17.5779V2.71148C0.0615234 1.18964 1.2163 0.144531 2.62875 0.144531H17.4943C18.9065 0.144531 20.0615 1.18964 20.0615 2.71148V17.5779C20.0615 19.0991 18.9062 20.1445 17.4943 20.1445Z"
                  fill="#666666" />
                <path
                  d="M10.0803 13.9929C12.2984 13.9929 14.0966 12.2504 14.0966 10.1009C14.0966 7.95146 12.2984 6.20898 10.0803 6.20898C7.86214 6.20898 6.06396 7.95146 6.06396 10.1009C6.06396 12.2504 7.86214 13.9929 10.0803 13.9929Z"
                  fill="white" />
                <path
                  d="M16.2971 10.318C16.2971 13.6446 13.5139 16.3409 10.0806 16.3409C6.64737 16.3409 3.86412 13.6446 3.86412 10.318C3.86412 9.72185 3.95408 9.14598 4.12068 8.60205H2.28369V17.0504C2.28369 17.4879 2.64131 17.8453 3.07863 17.8453H17.0057C17.4433 17.8453 17.8012 17.4879 17.8012 17.0504V8.60205H16.0405C16.2069 9.14598 16.2971 9.72185 16.2971 10.318Z"
                  fill="white" />
                <path
                  d="M14.6312 6.32249H16.8916C17.3869 6.32249 17.7917 5.91767 17.7917 5.42233V3.26714C17.7917 2.77152 17.3869 2.3667 16.8916 2.3667H14.6312C14.1355 2.3667 13.7307 2.77152 13.7307 3.26714V5.42233C13.7304 5.91739 14.1355 6.32249 14.6312 6.32249Z"
                  fill="white" />
              </svg>
            </a>
          </li>
          <li>
            <a href="http://www.facebook.com/Rillusion/" target="_blank">
              <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.1751 3.46459L9.29238 3.46542C7.81602 3.46542 7.53055 4.16698 7.53055 5.19633V7.46615H11.0511L11.0495 11.0213H7.53083V20.1445H3.85874V11.0213H0.789062V7.46615H3.85874V4.8443C3.85874 1.80164 5.71777 0.144531 8.4318 0.144531L11.1753 0.148709L11.1751 3.46459Z"
                  fill="#666666" />
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/rillusion" target="_blank">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.38665 20.1445H1.23452V6.78521H5.38665V20.1445ZM3.31149 4.95906C1.98064 4.95906 0.90332 3.88023 0.90332 2.55119C0.903623 1.22336 1.98064 0.144531 3.31149 0.144531C4.63872 0.144531 5.71755 1.22336 5.71755 2.55119C5.71755 3.88054 4.63842 4.95906 3.31149 4.95906ZM20.9378 20.1445H16.789V13.6477C16.789 12.0984 16.7603 10.1057 14.6307 10.1057C12.4712 10.1057 12.1391 11.7931 12.1391 13.5356V20.1442H7.99064V6.78521H11.9729V8.61075H12.0288C12.5834 7.56033 13.9372 6.4531 15.9573 6.4531C20.1617 6.4531 20.9378 9.21997 20.9378 12.817V20.1445Z"
                  fill="#666666" />
              </svg>
            </a>
          </li>
          <li>
            <a href="https://medium.com/@rillusionagency" target="_blank">
              <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M23.298 18.1445V17.7639L21.5294 16.0277C21.374 15.9095 21.2962 15.7135 21.3286 15.5208V2.76825C21.2962 2.57552 21.374 2.37955 21.5294 2.26132L23.3401 0.525133V0.144531H17.074L12.6072 11.2872L7.52493 0.144531H0.951062V0.525133L3.06947 3.07597C3.27678 3.26222 3.38367 3.53755 3.35452 3.81612V13.8381C3.41606 14.1992 3.30269 14.5685 3.04842 14.8325L0.666016 17.7218V18.1024H7.41966V17.7218L5.03726 14.8325C4.78137 14.5685 4.6599 14.2025 4.7101 13.8381V5.17008L10.6378 18.1024H11.3261L16.4164 5.17008V15.4787C16.4164 15.754 16.4164 15.8059 16.2366 15.9856L14.4065 17.7639V18.1445H23.298Z"
                  fill="#666666" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>

  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
    <script>
      $(".form").validate({
        errorPlacement: function (error, element) {
          if (element.attr("name") == "budgetRange") {
            $(".errorRadio").html(error);
          } else {
            // the default error placement for the rest
            error.insertAfter(element);
          }
        },
        messages: {
          name: { required: 'Your Name is required' },
          email: { required: 'Your Email is required' },
          phoneNumber: { required: 'Your telephone is required' },
          budgetRange: { required: 'Kindly select the budget' },
        },
        rules: {
          name: {
            required: true,
          },
          email: {
            required: true,
            email: true,
          },
          phoneNumber: {
            required: true,
            number: true,
          },
        },
        submitHandler: function (form) {
          $.ajax({
            type: "POST",
            url: "./tryme.php",
            data: $(form).serialize(),
            success: function (data) {
              $("#form")[0].reset();
              $(".form").toggleClass('hidden');
              $(".form-status").toggleClass('hidden');
            },
          });
          return false; // required to block normal submit since you used ajax
        },
      });
    </script>
  {{/inline}}

  {{/layouts/base}}
