{{#> layouts/base  title="Home | Rillusion" barbaNamesapce="home"}}

  {{#*inline "head-block"}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.0/css/swiper.min.css" rel="stylesheet" />
  {{/inline}}

  {{#*inline "content-block"}}


    <section class="width-box page--content--home__jumbo d-flex">
      <div data-aos="zoom-in" class="section--image">
        <svg width="367" height="367" viewBox="0 0 367 367" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M323.925 140.925L366.679 183.679C265.779 284.579 101.607 284.607 0.70698 183.707L43.4893 140.925C120.801 218.237 246.599 218.251 323.925 140.925Z"
            fill="url(#paint0_linear)" />
          <defs>
            <linearGradient id="paint0_linear" x1="0.70698" y1="183.707" x2="366.679" y2="183.735"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1B2F" />
              <stop offset="1" stop-color="#FF2300" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <h1 class="section--content">
        <span data-aos="fade-up" class="section__header-text_kicker">Hello !</span>
        <span class="hero--text_title">
          <span><span data-aos="fade-up" data-aos-delay="">We Strategize and</span></span>
          <span><span data-aos="fade-up" data-aos-delay="400">Craft Delightful User</span></span>
          <span><span data-aos="fade-up" data-aos-delay="800">Experiences</span></span>
        </span>
      </h1>
    </section>

    <section class="width-box page--content--home__recent-project">
      <h1 class="section--header">
        <span class="section__header-text_kicker" data-aos="fade-right">Recent Projects</span>
        <span class="section--header__title">
          <span><span data-aos="fade-right">Every month, millions of people</span></span>
          <span><span data-aos="fade-right"  data-aos-delay="500">use the product we’ve built.</span></span>
        </span>
      </h1>
      <div class="section--content__slider">
        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="section--image" data-aos="fade-right" >
                <a href="./projects/sparsh.html" target="_blank">
                  <img class="image" src="./images/project/sparsh.jpg" />
                </a>
              </div>
              <div class="section--content" data-aos="fade-right">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="./projects/sparsh.html" target="_blank">
                      Increasing employee engagement with Intranet portal
                    </a>
                  </div>
                  <div class="section--content__tag">
                    <span>E-commerce,</span>
                    <span>UX & UI Design</span>
                  </div>
                </div>
                <a data-aos="" href="./projects/sparsh.html" target="_blank" class="section--content__read-more">
                  <span class="link-text">View Case Study</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="swiper-slide"> 
              <div class="section--image ">
                <a href="./projects/avishkaram.html" target="_blank">
                  <img class="image" src="./images/project/avishkaram-new.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="./projects/avishkaram.html" target="_blank">
                      Defining the web identity for a IT Services company
                    </a>
                  </div>
                  <div class="section--content__tag">
                    <span>Fin Tech,</span>
                    <span>UX Design &</span>
                    <span>Development</span>
                  </div>
                </div>
                <a href="./projects/avishkaram.html" target="_blank" class="section--content__read-more">
                  <span class="link-text">View Case Study</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="section--image ">
                <a href="./projects/motion-edu.html" target="_blank">
                  <img class="image" src="./images/project/vidyarthi-new.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="./projects/motion-edu.html" target="_blank">
                      Personalizing the <br> e-learning experiences for school students
                    </a>
                  </div>
                  <div class="section--content__tag">
                    <span>EdTech,</span>
                    <span>UX & UI Design</span>
                  </div>
                </div>
                <a href="./projects/motion-edu.html" target="_blank" class="section--content__read-more">
                  <span class="link-text">View Case Study</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="section--image ">
                <a href="./projects/gamooga.html">
                  <img class="image" src="./images/project/gamooga-new.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="./projects/gamooga.html">
                      Powering businesses with a smart way of marketing
                    </a>
                  </div>
                  <div class="section--content__tag">
                    <span>SaaS,</span>
                    <span> UX & UI Design</span>
                  </div>
                </div>
                <a href="./projects/gamooga.html" target="_blank" class="section--content__read-more">
                  <span class="link-text">View Case Study</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>

          </div>

          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
        
        <div class="section--content__slider--wrapper"></div>
      </div>
    </section>

    <section class="width-box page--content--home__service">
      <h1 class="section--header">
        <span class="section__header-text_kicker" data-aos="fade-right">Our Services</span>
        <span class="section--header__title">
          <span><span data-aos="fade-right">From strategy, across design to development,</span></span>
          <span><span data-aos="fade-right" data-aos-delay="500">we help launch products that impact.</span></span>
        </span>
      </h1>
      <div class="skill--lists">
        <ol>
          <li class="skill--list" >
            <div data-aos="fade-down" data-aos-delay="900">
              <span  class="image">
              <svg width="80" height="68" viewBox="0 0 80 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.6582 60C49.6732 60 71.4632 27.2883 71.4632 0" stroke="#FF2300" stroke-width="16" />
                <path d="M39.6942 19.3394C18.2775 19.3394 6 37.7694 6 53.1435" stroke="#FF2300" stroke-width="12" />
              </svg>
            </span>
            <strong>
              UX Consulting
            </strong>
            <p>
              We lead through Strategy that plans &nbsp; defines the best user
              experience for your product.
            </p>
            </div>
          </li>
          <li class="skill--list">
            <div data-aos="fade-down" data-aos-delay="1400" >
              <span class="image">
              <svg width="74" height="72" viewBox="0 0 74 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.5703 6C51.6086 25.0383 46.1403 52.3328 32.4731 66" stroke="#FF2300" stroke-width="16" />
                <path d="M14.8701 21.4043C24.2081 30.7423 21.5252 44.1308 14.8224 50.8336" stroke="#FF2300"
                  stroke-width="12" />
              </svg>
            </span>
            <strong>
              UX &nbsp; UI Design
            </strong>
            <p>
              Through design, we solve complex problems and build beautiful &nbsp; relavant interfaces.
            </p>
            </div>
          </li>
          <li class="skill--list" >
            <div data-aos="fade-down" data-aos-delay="1900">
              <span class="image">
              <svg width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M60.1316 42.0262C33.6574 42.0262 18.4824 19.2412 18.4824 0.241211" stroke="#FF2300"
                  stroke-width="16" />
                <path d="M20.495 60.2412C20.495 47.2562 9.32083 39.8129 0 39.8129" stroke="#FF2300" stroke-width="12" />
              </svg>
            </span>
            <strong >
              UI Development
            </strong>
            <p >
              We help launch across various platforms and devices in the
              fastest and most resilient way.
            </p>
            </div>
          </li>
        </ol>
        <div class="readmoreLink">
          <a href="/service.html">
            See all our services
            <span>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
    </section>

    {{!-- <section class="width-box page--content--home__focus-industries">
      <h1 class="section--header">
        <span class="section__header-text_kicker">Focus Industries</span>
      </h1>
      <div class="section--content__slider">
        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="section--image">
                <a href="#">
                  <img class="image" src="./images/project/project-image-0.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="#">
                      Full spectrum of Finance Service Industry
                    </a>
                  </div>
                  <div class="section--content__text">
                    <a href="#">It’s our design philosophy, and the way we approach
                      our work, our team and our clients.</a>
                  </div>
                </div>
                <a href="#" class="section--content__read-more">
                  <span class="link-text">View All Industries</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="section--image">
                <a href="#">
                  <img class="image" src="./images/project/project-image-0.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="#">
                      Full spectrum of Finance Service Industry
                    </a>
                  </div>
                  <div class="section--content__text">
                    <a href="#">It’s our design philosophy, and the way we approach
                      our work, our team and our clients.</a>
                  </div>
                </div>
                <a href="#" class="section--content__read-more">
                  <span class="link-text">View All Industries</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="section--image">
                <a href="#">
                  <img class="image" src="./images/project/project-image-0.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="#">
                      Full spectrum of Finance Service Industry
                    </a>
                  </div>
                  <div class="section--content__text">
                    <a href="#">It’s our design philosophy, and the way we approach
                      our work, our team and our clients.</a>
                  </div>
                </div>
                <a href="#" class="section--content__read-more">
                  <span class="link-text">View All Industries</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="section--image">
                <a href="#">
                  <img class="image" src="./images/project/project-image-0.jpg" />
                </a>
              </div>
              <div class="section--content">
                <div class="section--content__link">
                  <div class="section--content__title">
                    <a href="#">
                      Full spectrum of Finance Service Industry
                    </a>
                  </div>
                  <div class="section--content__text">
                    <a href="#">It’s our design philosophy, and the way we approach
                      our work, our team and our clients.</a>
                  </div>
                </div>
                <a href="#" class="section--content__read-more">
                  <span class="link-text">View All Industries</span>
                  <span class="link-icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8H15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M8 1L15 8L8 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
        <div class="section--content__slider--wrapper"></div>
      </div>
    </section> --}}

    <section class="width-box page--content--home__client">
      <h1 class="section--header">
        <span class="section__header-text_kicker" data-aos="fade-right" >Our Partners</span>
        <span class="section--header__title">
          <span><span data-aos="fade-right" >Game-changers</span></span>
          <span><span data-aos="fade-right" data-aos-delay="400" >who trust us</span></span>
        </span>
      </h1>
      <div class="client--lists">
        <div class="client--lists_image">
          <img data-aos="fade-down"  data-aos-delay="500" src="./images/client/saint-gobain.png" alt="saint-gobain" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="600" src="./images/client/lulu.png" alt="lulu" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="700" src="./images/client/hdfc-bank.png" alt="hdfc-bank" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down"  data-aos-delay="800" src="./images/client/cloudcherry.png" alt="cloudcherry" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="900" src="./images/client/zifo.png" alt="zifo" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1000" src="./images/client/motion.png" alt="motion" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1100" src="./images/client/firesec.png" alt="firesec" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1200" src="./images/client/axis-bank.png" alt="axis-bank" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1300" src="./images/client/wegot.png" alt="wegot" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1400" src="./images/client/ovenfresh.png" alt="ovenfresh" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1500" src="./images/client/brain-valley.png" alt="brain-valley" />
        </div>
        <div class="client--lists_image">
          <img data-aos="fade-down" data-aos-delay="1600" src="./images/client/avishkaram.png" alt="avishkaram" />
        </div>
      </div>
    </section>

  {{/inline}}
  {{#*inline "scripts-block"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.0/js/swiper.min.js"></script>
    <script>
      var swiper = new Swiper(".swiper-container", {
        spaceBetween: 30,
        effect: "fade",
        centeredSlides: true,
       autoplay: {
         delay: 2500,
         disableOnInteraction: false,
       },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  {{/inline}}
  {{/layouts/base}}
