{{#> layouts/base  project=false  title="Industries | Rillusion" barbaNamesapce="project"}}


  {{#*inline "head-block"}}
    <meta name="description"
      content="Rillusion is a Chennai based user interface (UI) and user experience (UX) design studio | company where we specialise on digital experiences for mobile and web." />
    <meta name="keywords"
      content="User Interface design, user experience design, user experience design company, Design company India, Mobile App Design, Web Design company, UX Design company, UI Design company, UX company, UI company, UX company in India, UI company in India, Rillusion, Chennai, Delhi, UX Design company in India, Best Design company, UI Design Agency" />

    <!-- Facebook Opengraph -->
    <meta property="og:title"
      content="Rillusion is an UX/UI design company that specialise on desktop/mobile/tablet digital experiences of all sorts and flavors." />
    <meta property="og:description"
      content="Rillusion is an UX/UI design company based in Chennai  that craft digital experiences of all flavors and sorts. Just about anything that demands a simple stunning interface." />
    <meta property="og:url" content="https://rillusion.com/" />
    <meta property="fb:app_id" content="546964375459684" />
    <meta property="fb:admins" content="100004519120778" />
    <meta property="og:url" content="https://www.rillusion.com/" />
    <meta property="og:site_name" content="Rillusion" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="./images/favicons/rillusion-1200.png" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Home">
    <meta itemprop="description" content="RIllusion &#8211; A creative UI/UX Design Company based in Chennai, India" />
    <meta itemprop="image" content="./images/favicons/rillusion-1200.png" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@weareRillusion" />
    <meta name="twitter:creator" content="@weareRillusion" />
    <meta name="twitter:title" content="Rillusion - Creative UI / UX Design Company in Chennai, India" />
    <meta name="twitter:description"
      content="Rillusion is an UX/UI design company based in Chennai  that craft digital experiences of all flavors and sorts. Just about anything that demands a simple stunning interface." />
    <meta name="twitter:image" content="./images/favicons/rillusion-1200.png" />
  {{/inline}}


  {{#*inline "content-block"}}


    <section class="width-box page--content--home__project page--intro">
      <h1 class="section--header">
        <span class="section__header-text_kicker">Industries</span>
        <span class="section--header__title">
          <span>We are mastering </span>
          <span>in 10+ Industries</span>
        </span>
      </h1>
    </section>


  {{/inline}}

  {{/layouts/base}}
