{{#> layouts/base  project=false  title="Industries | Rillusion" barbaNamesapce="project"}}

  {{#*inline "content-block"}}


    <section class="width-box page--content--home__project page--intro">
      <h1 class="section--header">
        <span class="section__header-text_kicker">Industries</span>
        <span class="section--header__title">
          <span>We are mastering </span>
          <span>in 10+ Industries</span>
        </span>
      </h1>
    </section>


  {{/inline}}

  {{/layouts/base}}
