{{#> layouts/base  title="Project | Rillusion" barbaNamesapce="project"}}

  {{#*inline "content-block"}}


    <section class="width-box page--content--home__project page--intro">
      <h1 class="section--header">
        <span data-aos="fade-up"  class="section__header-text_kicker">Projects</span>
        <span class="section--header__title">
          <span data-aos="fade-up"  >Every month,</span>
          <span data-aos="fade-up"  >millions of people use</span>
          <span data-aos="fade-up"  >the products we’ve built.</span>
        </span>
      </h1>
    </section>

    <div class="width-box">
      <!-- <div class="project--lists"> -->
      <div class="grid grid-template-column:1fr">
        <div class="project--list project--list-highlight">
          <div class="project--card">
            <div class="text">
              <div data-aos="fade-up" class="block-tag section__header-text_kicker">
                <span>UX &amp;UI Design</span>
                <span>UX Design</span>
              </div>
              <div data-aos="fade-up" class="block-title">
                <a href="./motion-edu.html">Personalizing the e-learning experiences for school
                  students</a>
              </div>
              <div data-aos="fade-up" class="block-text">
                <a href="./motion-edu.html">Explore how we equipped school students with a easy and
                  effective
                  learning journey.</a>
              </div>
              <div data-aos="fade-up" class="block-link">
                <a href="./motion-edu.html">
                  View Case Study
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.37109 8H15.3711" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M8.37109 1L15.3711 8L8.37109 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
            <div data-aos="fade-up"  class="image">
              <a href="./motion-edu.html"><img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/vidyarthi.jpg" alt="vidyarthi" /></a>
              <div class="cover" style="background-color: #fec746;"></div>
            </div>
          </div>
          <span data-aos="fade-up" class="block_bg" style="background-color: #f2aa00;"></span>
        </div>
      </div>

      <div class="grid grid-template-column:3fr project-colum:3">
        <div class="project--list">
          <div class="project--card">
            <div data-aos="fade-up" class="project--card_image">
              <a href="./zifo.html"> <img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/lulu.jpg" alt="lulu" /> </a>
            </div>
            <div data-aos="fade-up" class="project--card_title">
              <a href="./zifo.html">Building a one-stop shopping experience for Tablez</a>
            </div>
            <div data-aos="fade-up" class="project--card_tags">
              <span>Lulu Group</span>
              <span>UX &amp;UI Design</span>
            </div>
          </div>
        </div>
        <div class="project--list">
          <div class="project--card">
            <div data-aos="fade-up" class="project--card_image">
              <a href="./zifo.html"><img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/zifo.jpg" alt="Zifo" /></a>
            </div>
            <div data-aos="fade-up" class="project--card_title">
              <a href="./zifo.html">Helping manage the complex research lab system for Zifo</a>
            </div>
            <div data-aos="fade-up" class="project--card_tags">
              <span>Zifo</span>
              <span>UX &amp;UI Design</span>
            </div>
          </div>
        </div>
        <div class="project--list">
          <div class="project--card">
            <div data-aos="fade-up" class="project--card_image">
              <a href="./sparsh.html"><img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/sparsh.jpg" alt="Sparsh" /></a>
            </div>
            <div data-aos="fade-up" class="project--card_title">
              <a href="./sparsh.html">Increasing employee engagement with Intranet portal</a>
            </div>
            <div data-aos="fade-up" class="project--card_tags">
              <span>Sparsh</span>
              <span>UX &amp;UI Design</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-template-column:1fr">
        <div class="project--list project--list-highlight">
          <div class="project--card">
            <div class="text">
              <div data-aos="fade-up" class="block-tag section__header-text_kicker">
                <span>UX &amp;UI Design</span>
                <span>Development</span>
              </div>
              <div data-aos="fade-up" class="block-title">
                <a href="./wealth-fund.html"> Two line simplified text should goes here </a>
              </div>
              <div data-aos="fade-up" class="block-text">
                <a href="./wealth-fund.html"> It’s our design philosophy, and the way we approach our work,
                  our
                  team and our clients. </a>
              </div>
              <div data-aos="fade-up" class="block-link">
                <a href="./wealth-fund.html">
                  View Case Study
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.37109 8H15.3711" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M8.37109 1L15.3711 8L8.37109 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
            <div data-aos="fade-up" class="image">
              <a href="./wealth-fund.html"> <img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/wealthfund.jpg" alt="wealthfund" /> </a>
              <div class="cover" style="background: #522ba8;"></div>
            </div>
          </div>
          <span data-aos="fade-up" class="block_bg" style="background-color: #330b8c;"></span>
        </div>
      </div>

      <div class="grid grid-template-column:3fr project-colum:3">
        <div class="project--list">
          <div class="project--card">
            <div data-aos="fade-up" class="project--card_image">
              <a href="./gamooga.html"> <img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/gamooga.jpg" alt="Gamooga" /> </a>
            </div>
            <div data-aos="fade-up" class="project--card_title">
              <a href="./gamooga.html"> Powering businesses with a smarter way to marketing </a>
            </div>
            <div data-aos="fade-up" class="project--card_tags">
              <span>Gamooga</span>
              <span>UX &amp; UI Design</span>
            </div>
          </div>
        </div>
        <div class="project--list">
          <div class="project--card">
            <div data-aos="fade-up" class="project--card_image">
              <a href="./avishkaram.html"><img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/avishkaram.jpg" alt="Avishkaram" /></a>
            </div>
            <div data-aos="fade-up" class="project--card_title">
              <a href="./avishkaram.html">Defining the web identity for a IT Services company</a>
            </div>
            <div data-aos="fade-up" class="project--card_tags">
              <span>Avishkaram</span>
              <span>Website Design</span>
            </div>
          </div>
        </div>
        <div class="project--list">
          <div class="project--card">
            <div data-aos="fade-up" class="project--card_image">
              <a href="./revv-car.html"><img loading="lazy" class="lazyload"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
                  data-src="./images/project/revv-cars.jpg" alt="Revv Cars" /></a>
            </div>
            <div data-aos="fade-up" class="project--card_title">
              <a href="./revv-car.html">Envisioning a new disruptor car buying experience for
                Revv-cars.</a>
            </div>
            <div data-aos="fade-up" class="project--card_tags">
              <span>Revv Cars</span>
              <span>UX &amp;UI Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>


  {{/inline}}

  {{/layouts/base}}
