{{#> layouts/base  title="Service | Rillusion" barbaNamesapce="service"}}

  {{#*inline "content-block"}}

    <section class="width-box page--intro">
      <h1 class="section--header">
        <span class="section__header-text_kicker">Services</span>
        <span class="section--header__title">
          <span>We envision & design</span>
          <span>digital interactions that</span>
          <span>put you on the map.</span>
        </span>
      </h1>
    </section>

    <section class="width-box section--master_skill page--content--home__project page--second-header">
      <h1 class="section--header">
        <span class="section__header-text_kicker">Master Skills</span>
        <span class="section--header__title">
          <span>Our focus lies at the intersection of user needs,</span>
          <span>business goals & technology</span>
        </span>
      </h1>
    </section>

    <section>
      <div class="width-box content-text-image">
        <ul class="section--indicator">
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
          </ul>
        <div class="showcase row no-gutter">
          <div class="col-sm-6 text-side">
            <div class="text-container">
              <article id="one">
                <div class="text-inner innerS1">
                  <div class="content">
                    <h2>UX Consulting</h2>
                    <p>
                      We lead through Strategy that plans & defines the best
                      user experience for your product.
                    </p>
                    <ul>
                      <li>UX Research</li>
                      <li>UX Audit Insight</li>
                      <li>Insight Workshop</li>
                    </ul>
                    <ul>
                      <li>Idea Validation</li>
                      <li>Service Design</li>
                    </ul>
                  </div>
                </div>
              </article>

              <article id="two">
                <div class="text-inner innerS2">
                  <div class="content">
                    <h2>UX & UI Design</h2>
                    <p>
                      Through design, we solve complex problems and build
                      beautiful & relavant interfaces.
                    </p>
                    <ul>
                      <li>Website Design</li>
                      <li>Mobile Apps</li>
                      <li>Web Apps</li>
                    </ul>
                    <ul>
                      <li>AR/MR/VR Design</li>
                      <li>IoT Apps</li>
                      <li>Wearable Tech</li>
                    </ul>
                  </div>
                </div>
              </article>

              <article id="three">
                <div class="text-inner innerS3">
                  <div class="content">
                    <h2>UI Development</h2>
                    <p>
                      We help launch across various platforms and devices in
                      the fastest and most resilient way.
                    </p>
                    <ul>
                      <li>PWA</li>
                      <li>AMP</li>
                      <li>Responsive Design</li>
                    </ul>
                    <ul>
                      <li>E-commerce</li>
                      <li>Service Design</li>
                      <li>Idea Validation</li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <div class="col-sm-6 image-side">
            <div class="image-container">
              <div class="screenA">
                <svg width="254" height="210" viewBox="0 0 254 210" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M44.5721 185.504C162.1 185.504 229.466 84.3727 229.466 0.0078125" stroke="#FF2300"
                    stroke-width="48" />
                  <path d="M126.703 57.5703C60.4905 57.5703 22.5333 114.549 22.5333 162.08" stroke="#FF2300"
                    stroke-width="44" />
                </svg>
              </div>
            </div>
            <div class="image-container">
              <div class="screenB">
                <svg width="268" height="259" viewBox="0 0 268 259" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M121.639 17.479C192.647 88.4876 172.252 190.29 121.276 241.265" stroke="#FF2300"
                    stroke-width="48" />
                  <path d="M55.6208 74.9335C90.4493 109.762 80.4428 159.698 55.4428 184.698" stroke="#FF2300"
                    stroke-width="44" />
                </svg>
              </div>
            </div>
            <div class="image-container">
              <div class="screenC">
                <svg width="214" height="213" viewBox="0 0 214 213" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M213.232 147.648C119.69 147.648 66.072 67.1411 66.072 0.0078125" stroke="#FF2300"
                    stroke-width="48" />
                  <path d="M73.1831 212.008C73.1831 166.127 33.701 139.828 0.767395 139.828" stroke="#FF2300"
                    stroke-width="44" />
                </svg>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="width-box section--our_approach page--second-header">
      <h1 class="section--header">
        <span class="section__header-text_kicker">Our Approach</span>
        <span class="section--header__title">
          <span>Backed by industry process, we tailor</span>
          <span>project steps based on your needs.</span>
        </span>
      </h1>
      <div class="our-approach-list-circle">
        <svg width="896" height="245" viewBox="0 0 896 245" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="694.5" cy="123.044" r="119" stroke="#999999" stroke-width="2" stroke-dasharray="2 3" />
          <circle cx="215.5" cy="123.045" r="119" stroke="#999999" stroke-width="2" stroke-dasharray="2 3" />
          <circle cx="813.5" cy="123.046" r="15" fill="white" stroke="#999999" stroke-width="2" />
          <circle cx="813.5" cy="123.045" r="5" fill="#E21E26" />
          <path
            d="M837.828 115.844H842.916C844.132 115.844 845.204 116.079 846.132 116.548C847.071 117.007 847.796 117.658 848.308 118.5C848.831 119.343 849.092 120.324 849.092 121.444C849.092 122.564 848.831 123.546 848.308 124.388C847.796 125.231 847.071 125.887 846.132 126.356C845.204 126.815 844.132 127.044 842.916 127.044H837.828V115.844ZM842.788 124.916C843.908 124.916 844.799 124.607 845.46 123.988C846.132 123.359 846.468 122.511 846.468 121.444C846.468 120.378 846.132 119.535 845.46 118.916C844.799 118.287 843.908 117.972 842.788 117.972H840.42V124.916H842.788ZM859.303 122.772C859.303 122.804 859.287 123.028 859.255 123.444H852.743C852.86 123.978 853.137 124.399 853.575 124.708C854.012 125.018 854.556 125.172 855.207 125.172C855.655 125.172 856.049 125.108 856.391 124.98C856.743 124.842 857.068 124.628 857.367 124.34L858.695 125.78C857.884 126.708 856.7 127.172 855.143 127.172C854.172 127.172 853.313 126.986 852.567 126.612C851.82 126.228 851.244 125.7 850.839 125.028C850.433 124.356 850.231 123.594 850.231 122.74C850.231 121.898 850.428 121.14 850.823 120.468C851.228 119.786 851.777 119.258 852.471 118.884C853.175 118.5 853.959 118.308 854.823 118.308C855.665 118.308 856.428 118.49 857.111 118.852C857.793 119.215 858.327 119.738 858.711 120.42C859.105 121.092 859.303 121.876 859.303 122.772ZM854.839 120.196C854.273 120.196 853.799 120.356 853.415 120.676C853.031 120.996 852.796 121.434 852.711 121.988H856.951C856.865 121.444 856.631 121.012 856.247 120.692C855.863 120.362 855.393 120.196 854.839 120.196ZM866.053 118.308C866.853 118.308 867.578 118.495 868.229 118.868C868.89 119.231 869.407 119.748 869.781 120.42C870.154 121.082 870.341 121.855 870.341 122.74C870.341 123.626 870.154 124.404 869.781 125.076C869.407 125.738 868.89 126.255 868.229 126.628C867.578 126.991 866.853 127.172 866.053 127.172C864.954 127.172 864.09 126.826 863.461 126.132V130.148H860.965V118.436H863.349V119.428C863.967 118.682 864.869 118.308 866.053 118.308ZM865.621 125.124C866.261 125.124 866.783 124.911 867.189 124.484C867.605 124.047 867.812 123.466 867.812 122.74C867.812 122.015 867.605 121.439 867.189 121.012C866.783 120.575 866.261 120.356 865.621 120.356C864.981 120.356 864.453 120.575 864.036 121.012C863.631 121.439 863.429 122.015 863.429 122.74C863.429 123.466 863.631 124.047 864.036 124.484C864.453 124.911 864.981 125.124 865.621 125.124ZM872.011 115.172H874.507V127.044H872.011V115.172ZM880.92 127.172C880.013 127.172 879.197 126.986 878.472 126.612C877.757 126.228 877.197 125.7 876.792 125.028C876.387 124.356 876.184 123.594 876.184 122.74C876.184 121.887 876.387 121.124 876.792 120.452C877.197 119.78 877.757 119.258 878.472 118.884C879.197 118.5 880.013 118.308 880.92 118.308C881.827 118.308 882.637 118.5 883.352 118.884C884.067 119.258 884.627 119.78 885.032 120.452C885.437 121.124 885.64 121.887 885.64 122.74C885.64 123.594 885.437 124.356 885.032 125.028C884.627 125.7 884.067 126.228 883.352 126.612C882.637 126.986 881.827 127.172 880.92 127.172ZM880.92 125.124C881.56 125.124 882.083 124.911 882.488 124.484C882.904 124.047 883.112 123.466 883.112 122.74C883.112 122.015 882.904 121.439 882.488 121.012C882.083 120.575 881.56 120.356 880.92 120.356C880.28 120.356 879.752 120.575 879.336 121.012C878.92 121.439 878.712 122.015 878.712 122.74C878.712 123.466 878.92 124.047 879.336 124.484C879.752 124.911 880.28 125.124 880.92 125.124ZM895.618 118.436L891.73 127.572C891.335 128.564 890.845 129.263 890.258 129.668C889.682 130.074 888.983 130.276 888.162 130.276C887.714 130.276 887.271 130.207 886.834 130.068C886.397 129.93 886.039 129.738 885.762 129.492L886.674 127.716C886.866 127.887 887.085 128.02 887.33 128.116C887.586 128.212 887.837 128.26 888.082 128.26C888.423 128.26 888.701 128.175 888.914 128.004C889.127 127.844 889.319 127.572 889.49 127.188L889.522 127.108L885.794 118.436H888.37L890.786 124.276L893.218 118.436H895.618Z"
            fill="#2E2E2E" />
          <circle cx="96.5" cy="123.044" r="15" fill="white" stroke="#FF2300" stroke-width="2" />
          <path
            d="M1.828 115.844H6.916C8.132 115.844 9.204 116.079 10.132 116.548C11.0707 117.007 11.796 117.658 12.308 118.5C12.8307 119.343 13.092 120.324 13.092 121.444C13.092 122.564 12.8307 123.546 12.308 124.388C11.796 125.231 11.0707 125.887 10.132 126.356C9.204 126.815 8.132 127.044 6.916 127.044H1.828V115.844ZM6.788 124.916C7.908 124.916 8.79867 124.607 9.46 123.988C10.132 123.359 10.468 122.511 10.468 121.444C10.468 120.378 10.132 119.535 9.46 118.916C8.79867 118.287 7.908 117.972 6.788 117.972H4.42V124.916H6.788ZM14.8708 118.436H17.3668V127.044H14.8708V118.436ZM16.1188 117.236C15.6601 117.236 15.2868 117.103 14.9988 116.836C14.7108 116.57 14.5668 116.239 14.5668 115.844C14.5668 115.45 14.7108 115.119 14.9988 114.852C15.2868 114.586 15.6601 114.452 16.1188 114.452C16.5774 114.452 16.9508 114.58 17.2388 114.836C17.5268 115.092 17.6708 115.412 17.6708 115.796C17.6708 116.212 17.5268 116.559 17.2388 116.836C16.9508 117.103 16.5774 117.236 16.1188 117.236ZM22.5793 127.172C21.8646 127.172 21.1659 127.087 20.4833 126.916C19.8006 126.735 19.2566 126.511 18.8513 126.244L19.6833 124.452C20.0673 124.698 20.5313 124.9 21.0753 125.06C21.6193 125.21 22.1526 125.284 22.6753 125.284C23.7313 125.284 24.2593 125.023 24.2593 124.5C24.2593 124.255 24.1153 124.079 23.8273 123.972C23.5393 123.866 23.0966 123.775 22.4993 123.7C21.7953 123.594 21.2139 123.471 20.7553 123.332C20.2966 123.194 19.8966 122.948 19.5553 122.596C19.2246 122.244 19.0592 121.743 19.0592 121.092C19.0592 120.548 19.2139 120.068 19.5233 119.652C19.8433 119.226 20.3019 118.895 20.8993 118.66C21.5073 118.426 22.2219 118.308 23.0433 118.308C23.6513 118.308 24.2539 118.378 24.8513 118.516C25.4593 118.644 25.9606 118.826 26.3553 119.06L25.5233 120.836C24.7659 120.41 23.9393 120.196 23.0433 120.196C22.5099 120.196 22.1099 120.271 21.8433 120.42C21.5766 120.57 21.4433 120.762 21.4433 120.996C21.4433 121.263 21.5873 121.45 21.8753 121.556C22.1633 121.663 22.6219 121.764 23.2513 121.86C23.9553 121.978 24.5313 122.106 24.9793 122.244C25.4273 122.372 25.8166 122.612 26.1473 122.964C26.4779 123.316 26.6433 123.807 26.6433 124.436C26.6433 124.97 26.4833 125.444 26.1633 125.86C25.8433 126.276 25.3739 126.602 24.7553 126.836C24.1473 127.06 23.4219 127.172 22.5793 127.172ZM32.3433 127.172C31.4259 127.172 30.5993 126.986 29.8633 126.612C29.1379 126.228 28.5673 125.7 28.1513 125.028C27.7459 124.356 27.5433 123.594 27.5433 122.74C27.5433 121.887 27.7459 121.124 28.1513 120.452C28.5673 119.78 29.1379 119.258 29.8633 118.884C30.5993 118.5 31.4259 118.308 32.3433 118.308C33.2499 118.308 34.0393 118.5 34.7113 118.884C35.3939 119.258 35.8899 119.796 36.1993 120.5L34.2633 121.54C33.8153 120.751 33.1699 120.356 32.3273 120.356C31.6766 120.356 31.1379 120.57 30.7113 120.996C30.2846 121.423 30.0713 122.004 30.0713 122.74C30.0713 123.476 30.2846 124.058 30.7113 124.484C31.1379 124.911 31.6766 125.124 32.3273 125.124C33.1806 125.124 33.8259 124.73 34.2633 123.94L36.1993 124.996C35.8899 125.679 35.3939 126.212 34.7113 126.596C34.0393 126.98 33.2499 127.172 32.3433 127.172ZM41.623 127.172C40.7163 127.172 39.9003 126.986 39.175 126.612C38.4603 126.228 37.9003 125.7 37.495 125.028C37.0897 124.356 36.887 123.594 36.887 122.74C36.887 121.887 37.0897 121.124 37.495 120.452C37.9003 119.78 38.4603 119.258 39.175 118.884C39.9003 118.5 40.7163 118.308 41.623 118.308C42.5297 118.308 43.3403 118.5 44.055 118.884C44.7697 119.258 45.3297 119.78 45.735 120.452C46.1403 121.124 46.343 121.887 46.343 122.74C46.343 123.594 46.1403 124.356 45.735 125.028C45.3297 125.7 44.7697 126.228 44.055 126.612C43.3403 126.986 42.5297 127.172 41.623 127.172ZM41.623 125.124C42.263 125.124 42.7857 124.911 43.191 124.484C43.607 124.047 43.815 123.466 43.815 122.74C43.815 122.015 43.607 121.439 43.191 121.012C42.7857 120.575 42.263 120.356 41.623 120.356C40.983 120.356 40.455 120.575 40.039 121.012C39.623 121.439 39.415 122.015 39.415 122.74C39.415 123.466 39.623 124.047 40.039 124.484C40.455 124.911 40.983 125.124 41.623 125.124ZM56.321 118.436L52.689 127.044H50.113L46.497 118.436H49.073L51.457 124.292L53.921 118.436H56.321ZM65.5371 122.772C65.5371 122.804 65.5211 123.028 65.4891 123.444H58.9771C59.0945 123.978 59.3718 124.399 59.8091 124.708C60.2465 125.018 60.7905 125.172 61.4411 125.172C61.8891 125.172 62.2838 125.108 62.6251 124.98C62.9771 124.842 63.3025 124.628 63.6011 124.34L64.9291 125.78C64.1185 126.708 62.9345 127.172 61.3771 127.172C60.4065 127.172 59.5478 126.986 58.8011 126.612C58.0545 126.228 57.4785 125.7 57.0731 125.028C56.6678 124.356 56.4651 123.594 56.4651 122.74C56.4651 121.898 56.6625 121.14 57.0571 120.468C57.4625 119.786 58.0118 119.258 58.7051 118.884C59.4091 118.5 60.1931 118.308 61.0571 118.308C61.8998 118.308 62.6625 118.49 63.3451 118.852C64.0278 119.215 64.5611 119.738 64.9451 120.42C65.3398 121.092 65.5371 121.876 65.5371 122.772ZM61.0731 120.196C60.5078 120.196 60.0331 120.356 59.6491 120.676C59.2651 120.996 59.0305 121.434 58.9451 121.988H63.1851C63.0998 121.444 62.8651 121.012 62.4811 120.692C62.0971 120.362 61.6278 120.196 61.0731 120.196ZM69.5829 119.572C69.8815 119.156 70.2815 118.842 70.7829 118.628C71.2949 118.415 71.8815 118.308 72.5429 118.308V120.612C72.2655 120.591 72.0789 120.58 71.9829 120.58C71.2682 120.58 70.7082 120.783 70.3029 121.188C69.8975 121.583 69.6949 122.18 69.6949 122.98V127.044H67.1989V118.436H69.5829V119.572Z"
            fill="#231F20" />
          <circle cx="96.5" cy="123.046" r="5" fill="#FF2300" />
          <line x1="100.884" y1="106.005" x2="691.769" y2="1.81603" stroke="#999999" stroke-width="2"
            stroke-dasharray="2 3" />
          <line x1="408.5" y1="123.896" x2="559.5" y2="123.896" stroke="#CCCCCC" stroke-width="2"
            stroke-dasharray="2 3" />
          <line x1="115.5" y1="123.896" x2="268.759" y2="123.896" stroke="#CCCCCC" stroke-width="2"
            stroke-dasharray="2 3" />
          <rect x="319.5" y="68.3042" width="21" height="108.427" fill="white" />
          <line x1="101.231" y1="139.817" x2="692.116" y2="244.006" stroke="#999999" stroke-width="2"
            stroke-dasharray="2 3" />
          <circle cx="323.5" cy="123.044" r="15" fill="white" stroke="#999999" stroke-width="2" />
          <circle cx="323.5" cy="123.043" r="5" fill="#FF2300" />
          <circle cx="575.5" cy="123.046" r="15" fill="white" stroke="#999999" stroke-width="2" />
          <circle cx="575.5" cy="123.045" r="5" fill="#FF2300" />
          <circle cx="323.5" cy="123.045" r="53.741" stroke="#999999" stroke-width="2" stroke-dasharray="2 3" />
          <path
            d="M599.828 116.844H604.916C606.132 116.844 607.204 117.079 608.132 117.548C609.071 118.007 609.796 118.658 610.308 119.5C610.831 120.343 611.092 121.324 611.092 122.444C611.092 123.564 610.831 124.546 610.308 125.388C609.796 126.231 609.071 126.887 608.132 127.356C607.204 127.815 606.132 128.044 604.916 128.044H599.828V116.844ZM604.788 125.916C605.908 125.916 606.799 125.607 607.46 124.988C608.132 124.359 608.468 123.511 608.468 122.444C608.468 121.378 608.132 120.535 607.46 119.916C606.799 119.287 605.908 118.972 604.788 118.972H602.42V125.916H604.788ZM621.303 123.772C621.303 123.804 621.287 124.028 621.255 124.444H614.743C614.86 124.978 615.137 125.399 615.575 125.708C616.012 126.018 616.556 126.172 617.207 126.172C617.655 126.172 618.049 126.108 618.391 125.98C618.743 125.842 619.068 125.628 619.367 125.34L620.695 126.78C619.884 127.708 618.7 128.172 617.143 128.172C616.172 128.172 615.313 127.986 614.567 127.612C613.82 127.228 613.244 126.7 612.839 126.028C612.433 125.356 612.231 124.594 612.231 123.74C612.231 122.898 612.428 122.14 612.823 121.468C613.228 120.786 613.777 120.258 614.471 119.884C615.175 119.5 615.959 119.308 616.823 119.308C617.665 119.308 618.428 119.49 619.111 119.852C619.793 120.215 620.327 120.738 620.711 121.42C621.105 122.092 621.303 122.876 621.303 123.772ZM616.839 121.196C616.273 121.196 615.799 121.356 615.415 121.676C615.031 121.996 614.796 122.434 614.711 122.988H618.951C618.865 122.444 618.631 122.012 618.247 121.692C617.863 121.362 617.393 121.196 616.839 121.196ZM631.352 119.436L627.72 128.044H625.144L621.528 119.436H624.104L626.488 125.292L628.952 119.436H631.352ZM640.568 123.772C640.568 123.804 640.552 124.028 640.52 124.444H634.008C634.126 124.978 634.403 125.399 634.84 125.708C635.278 126.018 635.822 126.172 636.472 126.172C636.92 126.172 637.315 126.108 637.656 125.98C638.008 125.842 638.334 125.628 638.632 125.34L639.96 126.78C639.15 127.708 637.966 128.172 636.408 128.172C635.438 128.172 634.579 127.986 633.832 127.612C633.086 127.228 632.51 126.7 632.104 126.028C631.699 125.356 631.496 124.594 631.496 123.74C631.496 122.898 631.694 122.14 632.088 121.468C632.494 120.786 633.043 120.258 633.736 119.884C634.44 119.5 635.224 119.308 636.088 119.308C636.931 119.308 637.694 119.49 638.376 119.852C639.059 120.215 639.592 120.738 639.976 121.42C640.371 122.092 640.568 122.876 640.568 123.772ZM636.104 121.196C635.539 121.196 635.064 121.356 634.68 121.676C634.296 121.996 634.062 122.434 633.976 122.988H638.216C638.131 122.444 637.896 122.012 637.512 121.692C637.128 121.362 636.659 121.196 636.104 121.196ZM642.23 116.172H644.726V128.044H642.23V116.172ZM651.139 128.172C650.232 128.172 649.416 127.986 648.691 127.612C647.976 127.228 647.416 126.7 647.011 126.028C646.605 125.356 646.403 124.594 646.403 123.74C646.403 122.887 646.605 122.124 647.011 121.452C647.416 120.78 647.976 120.258 648.691 119.884C649.416 119.5 650.232 119.308 651.139 119.308C652.045 119.308 652.856 119.5 653.571 119.884C654.285 120.258 654.845 120.78 655.251 121.452C655.656 122.124 655.859 122.887 655.859 123.74C655.859 124.594 655.656 125.356 655.251 126.028C654.845 126.7 654.285 127.228 653.571 127.612C652.856 127.986 652.045 128.172 651.139 128.172ZM651.139 126.124C651.779 126.124 652.301 125.911 652.707 125.484C653.123 125.047 653.331 124.466 653.331 123.74C653.331 123.015 653.123 122.439 652.707 122.012C652.301 121.575 651.779 121.356 651.139 121.356C650.499 121.356 649.971 121.575 649.555 122.012C649.139 122.439 648.931 123.015 648.931 123.74C648.931 124.466 649.139 125.047 649.555 125.484C649.971 125.911 650.499 126.124 651.139 126.124ZM662.615 119.308C663.415 119.308 664.14 119.495 664.791 119.868C665.452 120.231 665.97 120.748 666.343 121.42C666.716 122.082 666.903 122.855 666.903 123.74C666.903 124.626 666.716 125.404 666.343 126.076C665.97 126.738 665.452 127.255 664.791 127.628C664.14 127.991 663.415 128.172 662.615 128.172C661.516 128.172 660.652 127.826 660.023 127.132V131.148H657.527V119.436H659.911V120.428C660.53 119.682 661.431 119.308 662.615 119.308ZM662.183 126.124C662.823 126.124 663.346 125.911 663.751 125.484C664.167 125.047 664.375 124.466 664.375 123.74C664.375 123.015 664.167 122.439 663.751 122.012C663.346 121.575 662.823 121.356 662.183 121.356C661.543 121.356 661.015 121.575 660.599 122.012C660.194 122.439 659.991 123.015 659.991 123.74C659.991 124.466 660.194 125.047 660.599 125.484C661.015 125.911 661.543 126.124 662.183 126.124ZM679.598 119.308C680.675 119.308 681.529 119.628 682.158 120.268C682.798 120.898 683.118 121.847 683.118 123.116V128.044H680.622V123.5C680.622 122.818 680.478 122.311 680.19 121.98C679.913 121.639 679.513 121.468 678.99 121.468C678.403 121.468 677.939 121.66 677.598 122.044C677.257 122.418 677.086 122.978 677.086 123.724V128.044H674.59V123.5C674.59 122.146 674.046 121.468 672.958 121.468C672.382 121.468 671.923 121.66 671.582 122.044C671.241 122.418 671.07 122.978 671.07 123.724V128.044H668.574V119.436H670.958V120.428C671.278 120.066 671.667 119.788 672.126 119.596C672.595 119.404 673.107 119.308 673.662 119.308C674.27 119.308 674.819 119.431 675.31 119.676C675.801 119.911 676.195 120.258 676.494 120.716C676.846 120.268 677.289 119.922 677.822 119.676C678.366 119.431 678.958 119.308 679.598 119.308ZM693.881 123.772C693.881 123.804 693.865 124.028 693.833 124.444H687.321C687.438 124.978 687.716 125.399 688.153 125.708C688.59 126.018 689.134 126.172 689.785 126.172C690.233 126.172 690.628 126.108 690.969 125.98C691.321 125.842 691.646 125.628 691.945 125.34L693.273 126.78C692.462 127.708 691.278 128.172 689.721 128.172C688.75 128.172 687.892 127.986 687.145 127.612C686.398 127.228 685.822 126.7 685.417 126.028C685.012 125.356 684.809 124.594 684.809 123.74C684.809 122.898 685.006 122.14 685.401 121.468C685.806 120.786 686.356 120.258 687.049 119.884C687.753 119.5 688.537 119.308 689.401 119.308C690.244 119.308 691.006 119.49 691.689 119.852C692.372 120.215 692.905 120.738 693.289 121.42C693.684 122.092 693.881 122.876 693.881 123.772ZM689.417 121.196C688.852 121.196 688.377 121.356 687.993 121.676C687.609 121.996 687.374 122.434 687.289 122.988H691.529C691.444 122.444 691.209 122.012 690.825 121.692C690.441 121.362 689.972 121.196 689.417 121.196ZM700.775 119.308C701.841 119.308 702.7 119.628 703.351 120.268C704.012 120.908 704.343 121.858 704.343 123.116V128.044H701.847V123.5C701.847 122.818 701.697 122.311 701.399 121.98C701.1 121.639 700.668 121.468 700.103 121.468C699.473 121.468 698.972 121.666 698.599 122.06C698.225 122.444 698.039 123.02 698.039 123.788V128.044H695.543V119.436H697.927V120.444C698.257 120.082 698.668 119.804 699.159 119.612C699.649 119.41 700.188 119.308 700.775 119.308ZM712.157 127.628C711.912 127.81 711.608 127.948 711.245 128.044C710.893 128.13 710.52 128.172 710.125 128.172C709.101 128.172 708.306 127.911 707.741 127.388C707.186 126.866 706.909 126.098 706.909 125.084V121.548H705.581V119.628H706.909V117.532H709.405V119.628H711.549V121.548H709.405V125.052C709.405 125.415 709.496 125.698 709.677 125.9C709.869 126.092 710.136 126.188 710.477 126.188C710.872 126.188 711.208 126.082 711.485 125.868L712.157 127.628Z"
            fill="#231F20" />
          <rect x="373.104" y="116.99" width="8.30109" height="12.5114" fill="white" />
          <path
            d="M350.828 115.844H355.916C357.132 115.844 358.204 116.079 359.132 116.548C360.071 117.007 360.796 117.658 361.308 118.5C361.831 119.343 362.092 120.324 362.092 121.444C362.092 122.564 361.831 123.546 361.308 124.388C360.796 125.231 360.071 125.887 359.132 126.356C358.204 126.815 357.132 127.044 355.916 127.044H350.828V115.844ZM355.788 124.916C356.908 124.916 357.799 124.607 358.46 123.988C359.132 123.359 359.468 122.511 359.468 121.444C359.468 120.378 359.132 119.535 358.46 118.916C357.799 118.287 356.908 117.972 355.788 117.972H353.42V124.916H355.788ZM372.303 122.772C372.303 122.804 372.287 123.028 372.255 123.444H365.743C365.86 123.978 366.137 124.399 366.575 124.708C367.012 125.018 367.556 125.172 368.207 125.172C368.655 125.172 369.049 125.108 369.391 124.98C369.743 124.842 370.068 124.628 370.367 124.34L371.695 125.78C370.884 126.708 369.7 127.172 368.143 127.172C367.172 127.172 366.313 126.986 365.567 126.612C364.82 126.228 364.244 125.7 363.839 125.028C363.433 124.356 363.231 123.594 363.231 122.74C363.231 121.898 363.428 121.14 363.823 120.468C364.228 119.786 364.777 119.258 365.471 118.884C366.175 118.5 366.959 118.308 367.823 118.308C368.665 118.308 369.428 118.49 370.111 118.852C370.793 119.215 371.327 119.738 371.711 120.42C372.105 121.092 372.303 121.876 372.303 122.772ZM367.839 120.196C367.273 120.196 366.799 120.356 366.415 120.676C366.031 120.996 365.796 121.434 365.711 121.988H369.951C369.865 121.444 369.631 121.012 369.247 120.692C368.863 120.362 368.393 120.196 367.839 120.196ZM376.861 127.172C376.146 127.172 375.447 127.087 374.765 126.916C374.082 126.735 373.538 126.511 373.133 126.244L373.965 124.452C374.349 124.698 374.813 124.9 375.357 125.06C375.901 125.21 376.434 125.284 376.957 125.284C378.013 125.284 378.541 125.023 378.541 124.5C378.541 124.255 378.397 124.079 378.109 123.972C377.821 123.866 377.378 123.775 376.781 123.7C376.077 123.594 375.495 123.471 375.037 123.332C374.578 123.194 374.178 122.948 373.837 122.596C373.506 122.244 373.34 121.743 373.34 121.092C373.34 120.548 373.495 120.068 373.805 119.652C374.125 119.226 374.583 118.895 375.181 118.66C375.789 118.426 376.503 118.308 377.325 118.308C377.933 118.308 378.535 118.378 379.133 118.516C379.741 118.644 380.242 118.826 380.637 119.06L379.805 120.836C379.047 120.41 378.221 120.196 377.325 120.196C376.791 120.196 376.391 120.271 376.125 120.42C375.858 120.57 375.725 120.762 375.725 120.996C375.725 121.263 375.869 121.45 376.157 121.556C376.445 121.663 376.903 121.764 377.533 121.86C378.237 121.978 378.813 122.106 379.261 122.244C379.709 122.372 380.098 122.612 380.429 122.964C380.759 123.316 380.925 123.807 380.925 124.436C380.925 124.97 380.765 125.444 380.445 125.86C380.125 126.276 379.655 126.602 379.037 126.836C378.429 127.06 377.703 127.172 376.861 127.172ZM382.465 118.436H384.961V127.044H382.465V118.436ZM383.713 117.236C383.254 117.236 382.881 117.103 382.593 116.836C382.305 116.57 382.161 116.239 382.161 115.844C382.161 115.45 382.305 115.119 382.593 114.852C382.881 114.586 383.254 114.452 383.713 114.452C384.171 114.452 384.545 114.58 384.833 114.836C385.121 115.092 385.265 115.412 385.265 115.796C385.265 116.212 385.121 116.559 384.833 116.836C384.545 117.103 384.171 117.236 383.713 117.236ZM396.157 118.436V125.604C396.157 127.183 395.746 128.356 394.925 129.124C394.104 129.892 392.904 130.276 391.325 130.276C390.493 130.276 389.704 130.175 388.957 129.972C388.21 129.77 387.592 129.476 387.101 129.092L388.093 127.3C388.456 127.599 388.914 127.834 389.469 128.004C390.024 128.186 390.578 128.276 391.133 128.276C391.997 128.276 392.632 128.079 393.037 127.684C393.453 127.3 393.661 126.714 393.661 125.924V125.556C393.01 126.271 392.104 126.628 390.941 126.628C390.152 126.628 389.426 126.458 388.765 126.116C388.114 125.764 387.597 125.274 387.213 124.644C386.829 124.015 386.637 123.29 386.637 122.468C386.637 121.647 386.829 120.922 387.213 120.292C387.597 119.663 388.114 119.178 388.765 118.836C389.426 118.484 390.152 118.308 390.941 118.308C392.189 118.308 393.138 118.719 393.789 119.54V118.436H396.157ZM391.437 124.58C392.098 124.58 392.637 124.388 393.053 124.004C393.48 123.61 393.693 123.098 393.693 122.468C393.693 121.839 393.48 121.332 393.053 120.948C392.637 120.554 392.098 120.356 391.437 120.356C390.776 120.356 390.232 120.554 389.805 120.948C389.378 121.332 389.165 121.839 389.165 122.468C389.165 123.098 389.378 123.61 389.805 124.004C390.232 124.388 390.776 124.58 391.437 124.58ZM403.712 118.308C404.779 118.308 405.637 118.628 406.288 119.268C406.949 119.908 407.28 120.858 407.28 122.116V127.044H404.784V122.5C404.784 121.818 404.635 121.311 404.336 120.98C404.037 120.639 403.605 120.468 403.04 120.468C402.411 120.468 401.909 120.666 401.536 121.06C401.163 121.444 400.976 122.02 400.976 122.788V127.044H398.48V118.436H400.864V119.444C401.195 119.082 401.605 118.804 402.096 118.612C402.587 118.41 403.125 118.308 403.712 118.308Z"
            fill="#231F20" />
        </svg>
      </div>
      <div class="our_approach--lists">
        <ol>
          <li class="our_approach--list">
            <strong>
              Discover
            </strong>
            Great things are done together. With discovery phase, we
            collaborate with a diverse team of stakeholders to share
            business goals & strategies.
          </li>
          <li class="our_approach--list">
            <strong>
              Design
            </strong>
            During the design phase, our designers set out to understand
            user goals and articulate their needs through empowering
            interfaces.
          </li>
          <li class="our_approach--list">
            <strong>
              Development
            </strong>
            Armed with design, our dev team collaborates with designers to
            furnish a pixel-perfect product across all relevant devices.
          </li>
          <li class="our_approach--list">
            <strong>
              Deploy
            </strong>
            We go miles further to not only launch but also continuously
            test,monitor & iterate on product experience and functionality.
          </li>
        </ol>
      </div>
    </section>


  {{/inline}}
  {{#*inline "scripts-block"}}
    <script>
      (function ($) {
        var wh = window.innerHeight,
          $iphone = $(".image-side"),
          $innerS1 = $(".innerS1"),
          $innerS2 = $(".innerS2"),
          $innerS3 = $(".innerS3"),
          $innerS4 = $(".innerS4"),
          $screenA = $(".screenA"),
          $screenB = $(".screenB"),
          $screenC = $(".screenC");

        // init
        var ctrl = new ScrollMagic.Controller({
          globalSceneOptions: {
            triggerHook: 0.3,
          },
        }); // Create scene

        $("article").each(function () {
          new ScrollMagic.Scene({
            triggerElement: this,
            duration: "100%",

          })
            .setPin(this)
            .addIndicators("section")
            .addTo(ctrl);
        });


        $(".image-container").each(function () {
          new ScrollMagic.Scene({
            triggerElement: this,
            duration: "100%",

          })
            .setPin(this)
            .addIndicators("section")
            .addTo(ctrl);
        });


      })(jQuery);
    </script>
  {{/inline}}

  {{/layouts/base}}
