.container {
  padding-left: 24px;
  padding-right: 24px;

  @include desktop {
    max-width: 1170px;
    margin: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}


// text classes

.page-head {
   @extend %font-oswald;
   font-weight: 500;
   letter-spacing: -0.01em;
}

.content-head {
  @extend %font-oswald;
  color: $primary-color;
  @include interpolate("font-size", 600px, 28px, 1200px, 48px);
  @include interpolate("line-height", 600px, 38px, 1200px, 60px);
  letter-spacing: 0.01em;
  @include media-max(576px){
    margin-bottom: 20px;
  }
}

.content-txt {
  color: $base-color;
  line-height: 24px;
}



//picture tag

picture {
  max-width: 100%;
  display: inline-block;
  width: 100%;
}

//display

.d-none {
  display: none
}

//custom-content-display

.custom-content-display {
  @include flex($jcontent: center, $aitems: center);
  flex-direction: column;
  @include mobile {
    flex-direction: row;
    justify-content: space-between;
  }
}

//custom-flex-order

.flex-order-0 {
  @include media-max(575px) {
    order: 0;
  }
}

.flex-order-1 {
  @include media-max(575px) {
    order: 1;
  }
}

//colors

.col-curiousblue{
  color: #2E8DDF !important;
}

.col-electviolet{
  color: #C905FF !important;
}

.col-mysin{
  color: #FDAD22 !important;
}

//custom-underline

.custom-underline{
  display: inline !important;
  position: relative;
  font-weight: inherit;
  &::after{
  content: "";
  position: absolute;
    height: 15px;
    bottom: -11px;
    @include media-min(1000px){
      bottom: -6px;
    }
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

