
.footer--page {
    background: #F5F5F5;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
  
  @media screen and (min-width: 520px) {
    .footer--page {
      margin-top: calc(20.10358vw - 44.53861px);
    }
  }
  
  @media screen and (min-width: 677.33333px) {
    .footer--page {
      margin-top: calc(37.33522vw - 161.25424px);
    }
  }
  
  @media screen and (min-width: 834.66667px) {
    .footer--page {
      margin-top: calc(20.10358vw - 17.4275px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer--page {
      margin-top: 182px;
    }
  }
  
  @media screen and (min-width: 520px) {
    .footer--page {
      padding-top: calc(-0.9887vw + 85.14124px);
    }
  }
  
  @media screen and (min-width: 677.33333px) {
    .footer--page {
      padding-top: calc(-1.83616vw + 90.88136px);
    }
  }
  
  @media screen and (min-width: 834.66667px) {
    .footer--page {
      padding-top: calc(-0.9887vw + 83.80791px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer--page {
      padding-top: 74px;
    }
  }
  
  @media screen and (min-width: 520px) {
    .footer--page {
      padding-bottom: calc(9.88701vw + 8.58757px);
    }
  }
  
  @media screen and (min-width: 677.33333px) {
    .footer--page {
      padding-bottom: calc(18.36158vw - 48.81356px);
    }
  }
  
  @media screen and (min-width: 834.66667px) {
    .footer--page {
      padding-bottom: calc(9.88701vw + 21.9209px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer--page {
      padding-bottom: 120px;
    }
  }
  
  .footer--page:before {
    content: "";
    content: none;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999em;
    right: -9999em;
    z-index: -1;
    background: #F5F5F5;
  }
  
  .footer--page > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .footer--page > div {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  
  .footer--page > div .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  
  @media (min-width: 768px) {
    .footer--page > div .text {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
    }
  }
  
  .footer--page > div .image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-bottom: 70px;
  }
  
  @media screen and (min-width: 520px) {
    .footer--page > div .image {
      padding-bottom: calc(8.23917vw + 27.15631px);
    }
  }
  
  @media screen and (min-width: 677.33333px) {
    .footer--page > div .image {
      padding-bottom: calc(15.30132vw - 20.67797px);
    }
  }
  
  @media screen and (min-width: 834.66667px) {
    .footer--page > div .image {
      padding-bottom: calc(8.23917vw + 38.26742px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer--page > div .image {
      padding-bottom: 120px;
    }
  }
  
  @media (min-width: 768px) {
    .footer--page > div .image {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      padding-bottom: 0;
    }
  }
  
  .footer--page > div .image svg {
    width: 100%;
  }
  
  .footer--page > div .box--text_title {
    display: block;
    line-height: 150%;
    color: var(--text-black);
    margin-bottom: 56px;
  }
  
  .footer--page > div .box--text_title_kicker {
    margin-bottom: 50px;
  }
  
  @media screen and (min-width: 520px) {
    .footer--page > div .box--text_title_kicker {
      margin-bottom: calc(1.9774vw + 39.71751px);
    }
  }
  
  @media screen and (min-width: 677.33333px) {
    .footer--page > div .box--text_title_kicker {
      margin-bottom: calc(3.67232vw + 28.23729px);
    }
  }
  
  @media screen and (min-width: 834.66667px) {
    .footer--page > div .box--text_title_kicker {
      margin-bottom: calc(1.9774vw + 42.38418px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer--page > div .box--text_title_kicker {
      margin-bottom: 62px;
    }
  }
  
  @media screen and (min-width: 520px) {
    .footer--page > div .box--text_title {
      margin-bottom: calc(2.30697vw + 44.00377px);
    }
  }
  
  @media screen and (min-width: 677.33333px) {
    .footer--page > div .box--text_title {
      margin-bottom: calc(4.28437vw + 30.61017px);
    }
  }
  
  @media screen and (min-width: 834.66667px) {
    .footer--page > div .box--text_title {
      margin-bottom: calc(2.30697vw + 47.11488px);
    }
  }
  
  @media screen and (min-width: 992px) {
    .footer--page > div .box--text_title {
      margin-bottom: 70px;
    }
  }
  
  .footer--page > div .box--text_title span {
    display: block;
  }
  
  .footer--page > div .link--button {
    position: relative;
    color: var(--red);
    padding: 12px 26px;
    border: 2px solid var(--red);
    display: inline-block;
    cursor: url("https://image.flaticon.com/icons/png/32/599/599335.png"), pointer;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .footer--page > div .link--button:before {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0px;
    right: 00px;
    background: inherit;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
            transform: scale3d(0.8, 0.5, 1);
  }
  
  .footer--page > div .link--button:hover {
    background-color: var(--red);
    color: var(--white);
    -webkit-animation: buttonHover 0.3s forwards;
            animation: buttonHover 0.3s forwards;
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  }
  
  @-webkit-keyframes buttonHover {
    60% {
      -webkit-transform: scale3d(0.8, 0.8, 1);
              transform: scale3d(0.8, 0.8, 1);
    }
    85% {
      -webkit-transform: scale3d(1.1, 1.1, 1);
              transform: scale3d(1.1, 1.1, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes buttonHover {
    60% {
      -webkit-transform: scale3d(0.8, 0.8, 1);
              transform: scale3d(0.8, 0.8, 1);
    }
    85% {
      -webkit-transform: scale3d(1.1, 1.1, 1);
              transform: scale3d(1.1, 1.1, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  .footer--nofollow ul {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  @media (min-width: 768px) {
    .footer--nofollow ul {
      padding-top: 33px;
    }
  }
  
  .footer--nofollow ul li {
    margin-right: 30px;
    margin-bottom: 40px;
  }
  
  @media (min-width: 768px) {
    .footer--nofollow ul li {
      margin-bottom: 33px;
    }
  }
  
  @media (max-width: 768px) {
    .footer--nofollow ul li {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }
  }
  
  .footer--nofollow ul li:nth-child(1) {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 30px);
            flex: 0 0 calc(50% - 30px);
  }
  
  @media (min-width: 768px) {
    .footer--nofollow ul li:nth-child(1) {
      -webkit-box-flex: initial;
          -ms-flex: initial;
              flex: initial;
    }
  }
  
  .footer--nofollow ul li:nth-child(1) a {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-black);
    margin-right: 0;
  }
  
  .footer--nofollow ul li:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% + 30px);
            flex: 0 0 calc(50% + 30px);
    margin-right: 0;
    text-align: right;
  }
  
  @media (min-width: 768px) {
    .footer--nofollow ul li:nth-child(2) {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: center;
    }
  }
  
  .footer--nofollow ul li:nth-child(2),
  .footer--nofollow ul li:nth-child(2) a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray);
  }
  
  .footer--nofollow ul li:nth-child(2) a:hover {
    text-decoration: underline;
  }
  
  .footer--nofollow ul li:last-child {
    margin-right: 0;
  }
  