<footer>
  <div class="footer--page">
    <div class="width-box">
      <div class="text">
        <div class="box--text">
          <span class="section__header-text_kicker box--text_title_kicker">
            Let's begin
          </span>
          <span class="box--text_title">
            <span>We make</span> <span>conversations matter.</span>
          </span>
        </div>
        <a class="link link--button" href="./contact.html">
          Say Hello
        </a>
      </div>
      <div class="image">
        <svg id="footer-logo" width="399" height="135" viewBox="0 0 399 135" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="399" height="135">
            <path d="M2 0V41" stroke="url(#paint0_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M11 0V41" stroke="url(#paint1_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M21 0V41" stroke="url(#paint2_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M31 0V41" stroke="url(#paint3_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M40 0V41" stroke="url(#paint4_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M50 0V41" stroke="url(#paint5_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M60 0V41" stroke="url(#paint6_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M70 0V41" stroke="url(#paint7_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M79 0V41" stroke="url(#paint8_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M89 0V41" stroke="url(#paint9_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M301.957 36.9146H398.202" stroke="url(#paint10_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M301.957 27.1782H398.202" stroke="url(#paint11_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M301.957 17.4541H398.202" stroke="url(#paint12_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M301.957 7.72852H398.202" stroke="url(#paint13_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 111.469H96.4222" stroke="url(#paint14_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 101.732H96.4222" stroke="url(#paint15_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 92.0073H96.4222" stroke="url(#paint16_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 82.2832H96.4222" stroke="url(#paint17_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 72.5469H96.4222" stroke="url(#paint18_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 62.8203H96.4222" stroke="url(#paint19_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M0.164062 53.0972H96.4222" stroke="url(#paint20_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M106 49V135" stroke="url(#paint21_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M116 49V135" stroke="url(#paint22_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M125 49V135" stroke="url(#paint23_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M135 49V135" stroke="url(#paint24_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M145 49V135" stroke="url(#paint25_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M155 49V135" stroke="url(#paint26_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M164 49V135" stroke="url(#paint27_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M174 49V135" stroke="url(#paint28_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M184 49V135" stroke="url(#paint29_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M194 49V135" stroke="url(#paint30_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M309 49V135" stroke="url(#paint31_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M319 49V135" stroke="url(#paint32_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M329 49V135" stroke="url(#paint33_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M338 49V135" stroke="url(#paint34_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M348 49V135" stroke="url(#paint35_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M358 49V135" stroke="url(#paint36_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M368 49V135" stroke="url(#paint37_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M377 49V135" stroke="url(#paint38_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M387 49V135" stroke="url(#paint39_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M397 49L397 135" stroke="url(#paint40_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 130.931H299.521" stroke="url(#paint41_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 121.192H299.521" stroke="url(#paint42_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 111.469H299.521" stroke="url(#paint43_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 101.732H299.521" stroke="url(#paint44_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 92.0073H299.521" stroke="url(#paint45_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 82.2832H299.521" stroke="url(#paint46_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 72.5469H299.521" stroke="url(#paint47_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 62.8203H299.521" stroke="url(#paint48_linear)" stroke-width="3" stroke-miterlimit="10" />
            <path d="M203.262 53.0972H299.521" stroke="url(#paint49_linear)" stroke-width="3" stroke-miterlimit="10" />
          </mask>
          <g mask="url(#mask0)">
            <path
              d="M354.378 3.81614L401.693 51.1317C290.022 162.803 108.293 162.829 -3.32666 51.1317L44.0785 3.79053C129.638 89.3505 268.869 89.3633 354.442 3.79053"
              fill="#999999" />
          </g>
          <defs>
            <linearGradient id="paint0_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint1_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint2_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint3_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint4_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint5_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint6_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint7_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint8_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint9_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint10_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint11_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint12_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint13_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint14_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint15_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint16_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint17_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint18_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint19_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint20_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint21_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint22_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint23_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint24_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint25_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint26_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint27_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint28_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint29_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint30_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint31_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint32_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint33_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint34_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint35_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint36_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint37_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint38_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint39_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint40_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint41_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint42_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint43_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint44_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint45_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint46_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint47_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint48_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
            <linearGradient id="paint49_linear" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E21E26" />
              <stop offset="1" stop-color="#EE3324" />
            </linearGradient>
          </defs>
        </svg>

      </div>
    </div>
  </div>
  <div class="width-box footer--nofollow">
    <ul>
      <li><a href="./index.html">rillusion</a></li>
      <li>&copy; 2020. <a href="./privacy.html" target="_blank">Privacy Policy</a></li>
      <li>
        <a href="https://dribbble.com/rillusion" target="_blank">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.1695 20.1445C4.64821 20.1445 0.156527 15.6587 0.15625 10.1445C0.156804 4.6304 4.64821 0.145085 10.1695 0.144531C15.6909 0.145085 20.1823 4.6304 20.1825 10.1445C20.1823 15.6587 15.6909 20.1445 10.1695 20.1445Z"
              fill="#666666" />
            <path
              d="M9.63024 7.34905C8.27537 4.95264 6.82723 2.93182 6.5355 2.53076C4.20607 3.64233 2.46148 5.78687 1.9021 8.36762C1.92535 8.36762 1.95303 8.36762 1.98486 8.36762C2.76429 8.36762 5.99383 8.30507 9.63024 7.34905Z"
              fill="white" />
            <path
              d="M15.7424 3.80813C14.2528 2.50225 12.3026 1.70898 10.1694 1.70898C9.51338 1.70898 8.87511 1.78455 8.26147 1.92737C8.60524 2.39182 10.0526 4.39076 11.3734 6.80738C14.2282 5.72792 15.5069 4.13031 15.7424 3.80813Z"
              fill="white" />
            <path
              d="M12.6155 9.34508C12.6731 9.48015 12.729 9.61494 12.7841 9.74891C13.4387 9.66836 14.0919 9.63709 14.7125 9.63709C16.6364 9.63709 18.2465 9.93823 18.6265 10.0149C18.5941 8.06827 17.8994 6.27995 16.7574 4.86475C16.462 5.24754 15.0333 6.94009 12.0728 8.15961C12.2629 8.54987 12.4453 8.94623 12.6155 9.34508Z"
              fill="white" />
            <path
              d="M10.7494 10.1844C10.8424 10.1545 10.9365 10.1271 11.0306 10.0995C10.8291 9.64747 10.6121 9.19493 10.3841 8.74902C6.62946 9.86364 2.98529 9.95083 1.936 9.95083C1.83912 9.95083 1.76522 9.95027 1.71429 9.94917C1.71263 10.0189 1.71069 10.0887 1.71069 10.1579C1.71097 12.3035 2.51614 14.2637 3.84001 15.7553C4.19734 15.1649 6.52179 11.5498 10.7494 10.1844Z"
              fill="white" />
            <path
              d="M13.3391 11.1842C14.3912 14.0861 14.847 16.4659 14.96 17.1163C16.8122 15.8409 18.1322 13.8472 18.5139 11.5416C18.1928 11.4436 16.8097 11.0566 15.0422 11.0566C14.5038 11.0566 13.9295 11.0935 13.3391 11.1842Z"
              fill="white" />
            <path
              d="M11.639 11.6024C7.00508 13.215 5.25137 16.3731 5.01001 16.8473C6.43933 17.9486 8.22848 18.6054 10.1699 18.6054C11.3277 18.6054 12.4317 18.3718 13.4376 17.9494C13.302 17.1625 12.8096 14.6244 11.6484 11.5991C11.6451 11.6002 11.6421 11.6013 11.639 11.6024Z"
              fill="white" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.behance.net/Rillusion-ux-ui" target="_blank">
          <svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.3585 1.18293H26.6313V3.35354H19.3585V1.18293ZM15.6828 12.5679C15.6828 17.9479 10.0838 17.771 10.0838 17.771H4.9526H4.80193H0.911133V0.144531H4.80193H4.9526H10.0834C12.871 0.144531 15.0714 1.68344 15.0714 4.83758C15.0714 7.99212 12.3816 8.19209 12.3816 8.19209C15.9273 8.19209 15.6828 12.5679 15.6828 12.5679ZM23.2541 15.3479C26.184 15.3479 26.0803 13.4516 26.0803 13.4516H29.1823C29.1823 18.4842 23.1507 18.1395 23.1507 18.1395C15.9126 18.1395 16.3781 11.4011 16.3781 11.4011C16.3781 11.4011 16.3726 4.62927 23.15 4.62927C30.2847 4.62927 29.2857 12.2801 29.2857 12.2801H20.152C20.152 15.5555 23.2541 15.3479 23.2541 15.3479Z"
              fill="#666666" />
            <path
              d="M11.3305 5.11092C11.3305 3.27783 10.0834 3.27783 10.0834 3.27783H9.42306H4.95264V7.21117H9.76535C10.597 7.21077 11.3305 6.94481 11.3305 5.11092Z"
              fill="white" />
            <path
              d="M10.0838 9.92823H4.95264V14.6392H9.84685C10.5831 14.6181 11.9419 14.3875 11.9419 12.3493C11.9419 9.90358 10.0838 9.92823 10.0838 9.92823Z"
              fill="white" />
            <path
              d="M23.2196 7.21143C20.4968 7.21143 20.1172 9.92866 20.1172 9.92866H25.9075C25.9079 9.92866 25.9425 7.21143 23.2196 7.21143Z"
              fill="white" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/rillusion_ux_ui_design/" target="_blank">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.4943 20.1445H2.62875C1.2163 20.1445 0.0615234 19.0991 0.0615234 17.5779V2.71148C0.0615234 1.18964 1.2163 0.144531 2.62875 0.144531H17.4943C18.9065 0.144531 20.0615 1.18964 20.0615 2.71148V17.5779C20.0615 19.0991 18.9062 20.1445 17.4943 20.1445Z"
              fill="#666666" />
            <path
              d="M10.0803 13.9929C12.2984 13.9929 14.0966 12.2504 14.0966 10.1009C14.0966 7.95146 12.2984 6.20898 10.0803 6.20898C7.86214 6.20898 6.06396 7.95146 6.06396 10.1009C6.06396 12.2504 7.86214 13.9929 10.0803 13.9929Z"
              fill="white" />
            <path
              d="M16.2971 10.318C16.2971 13.6446 13.5139 16.3409 10.0806 16.3409C6.64737 16.3409 3.86412 13.6446 3.86412 10.318C3.86412 9.72185 3.95408 9.14598 4.12068 8.60205H2.28369V17.0504C2.28369 17.4879 2.64131 17.8453 3.07863 17.8453H17.0057C17.4433 17.8453 17.8012 17.4879 17.8012 17.0504V8.60205H16.0405C16.2069 9.14598 16.2971 9.72185 16.2971 10.318Z"
              fill="white" />
            <path
              d="M14.6312 6.32249H16.8916C17.3869 6.32249 17.7917 5.91767 17.7917 5.42233V3.26714C17.7917 2.77152 17.3869 2.3667 16.8916 2.3667H14.6312C14.1355 2.3667 13.7307 2.77152 13.7307 3.26714V5.42233C13.7304 5.91739 14.1355 6.32249 14.6312 6.32249Z"
              fill="white" />
          </svg>
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/Rillusion/" target="_blank">
          <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.1751 3.46459L9.29238 3.46542C7.81602 3.46542 7.53055 4.16698 7.53055 5.19633V7.46615H11.0511L11.0495 11.0213H7.53083V20.1445H3.85874V11.0213H0.789062V7.46615H3.85874V4.8443C3.85874 1.80164 5.71777 0.144531 8.4318 0.144531L11.1753 0.148709L11.1751 3.46459Z"
              fill="#666666" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/rillusion" target="_blank">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.38665 20.1445H1.23452V6.78521H5.38665V20.1445ZM3.31149 4.95906C1.98064 4.95906 0.90332 3.88023 0.90332 2.55119C0.903623 1.22336 1.98064 0.144531 3.31149 0.144531C4.63872 0.144531 5.71755 1.22336 5.71755 2.55119C5.71755 3.88054 4.63842 4.95906 3.31149 4.95906ZM20.9378 20.1445H16.789V13.6477C16.789 12.0984 16.7603 10.1057 14.6307 10.1057C12.4712 10.1057 12.1391 11.7931 12.1391 13.5356V20.1442H7.99064V6.78521H11.9729V8.61075H12.0288C12.5834 7.56033 13.9372 6.4531 15.9573 6.4531C20.1617 6.4531 20.9378 9.21997 20.9378 12.817V20.1445Z"
              fill="#666666" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://medium.com/@rillusionagency" target="_blank">
          <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M23.298 18.1445V17.7639L21.5294 16.0277C21.374 15.9095 21.2962 15.7135 21.3286 15.5208V2.76825C21.2962 2.57552 21.374 2.37955 21.5294 2.26132L23.3401 0.525133V0.144531H17.074L12.6072 11.2872L7.52493 0.144531H0.951062V0.525133L3.06947 3.07597C3.27678 3.26222 3.38367 3.53755 3.35452 3.81612V13.8381C3.41606 14.1992 3.30269 14.5685 3.04842 14.8325L0.666016 17.7218V18.1024H7.41966V17.7218L5.03726 14.8325C4.78137 14.5685 4.6599 14.2025 4.7101 13.8381V5.17008L10.6378 18.1024H11.3261L16.4164 5.17008V15.4787C16.4164 15.754 16.4164 15.8059 16.2366 15.9856L14.4065 17.7639V18.1445H23.298Z"
              fill="#666666" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
