<header>
  <div class="header--mobile-logo">
    <svg width="151" height="40" viewBox="0 0 151 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15.7399 27.996H11.9756C11.9756 23.7547 13.6605 19.687 16.6596 16.6879C19.6587 13.6888 23.7263 12.0039 27.9677 12.0039V15.7668C24.7284 15.7796 21.6254 17.0721 19.335 19.3629C17.0445 21.6536 15.7523 24.7567 15.7399 27.996Z"
        fill="#ED1B2F" />
      <path
        d="M20 40C5.98286 40 0 34.1957 0 20.5714C0 7.83643 6 5.82286 16.9329 2.15429L19.7557 1.21429C21.8297 0.46098 24.0126 0.0508381 26.2186 0C34.8071 0 40 7.695 40 20.5836C40 27.4407 38.4479 32.2864 35.2493 35.3907C32.0507 38.495 27.065 40 20 40ZM26.2186 1.79714C24.2027 1.84186 22.2074 2.2136 20.3107 2.89786L17.4886 3.83786C6.75429 7.46929 1.88143 9.11571 1.88143 20.5714C1.88143 33.2643 6.94286 38.2029 20 38.2029C26.585 38.2029 31.11 36.8671 33.9414 34.12C36.7729 31.3729 38.1464 26.9421 38.1464 20.5829C38.1464 14.9286 36.99 1.79714 26.2186 1.79714Z"
        fill="#ED1B2F" />
      <path
        d="M63.8472 9.98165C63.8167 10.4914 63.5927 10.9703 63.221 11.3205C62.8493 11.6706 62.3578 11.8656 61.8472 11.8656C61.3365 11.8656 60.8451 11.6706 60.4734 11.3205C60.1016 10.9703 59.8776 10.4914 59.8472 9.98165C59.8776 9.47188 60.1016 8.99299 60.4734 8.64282C60.8451 8.29266 61.3365 8.09766 61.8472 8.09766C62.3578 8.09766 62.8493 8.29266 63.221 8.64282C63.5927 8.99299 63.8167 9.47188 63.8472 9.98165ZM60.15 13.7445V27.5252H63.5365V13.7824L60.15 13.7445Z"
        fill="#231F20" />
      <path d="M70.6491 8.11914V27.5263H67.2812V8.11914H70.6491Z" fill="#231F20" />
      <path d="M77.6672 8.11914V27.5263H74.3179V8.11914H77.6672Z" fill="#231F20" />
      <path
        d="M107.602 17.4791C107.147 17.0578 106.612 16.7324 106.028 16.5223C105.445 16.3122 104.825 16.2217 104.206 16.2562C102.597 16.2562 101.713 16.7562 101.713 17.6134C101.713 18.4705 102.512 19.0055 104.262 19.1184C106.849 19.2877 110.123 19.8612 110.123 23.502C110.123 25.9198 108.147 28.002 104.234 28.002C103.065 28.0829 101.892 27.9067 100.798 27.4857C99.7041 27.0648 98.7157 26.4094 97.9023 25.5655L99.5673 23.1477C100.871 24.2995 102.533 24.9643 104.271 25.0291C105.55 25.0291 106.745 24.3862 106.745 23.3862C106.745 22.3862 105.964 22.0598 104.027 21.947C101.439 21.7491 98.3838 20.8084 98.3838 17.6948C98.3838 14.5812 101.657 13.4241 104.15 13.4241C105.115 13.3586 106.082 13.4844 106.998 13.7944C107.913 14.1045 108.758 14.5925 109.484 15.2305L107.602 17.4791Z"
        fill="#231F20" />
      <path
        d="M116.651 9.98165C116.62 10.4914 116.396 10.9703 116.025 11.3205C115.653 11.6706 115.162 11.8656 114.651 11.8656C114.14 11.8656 113.649 11.6706 113.277 11.3205C112.905 10.9703 112.681 10.4914 112.651 9.98165C112.681 9.47188 112.905 8.99299 113.277 8.64282C113.649 8.29266 114.14 8.09766 114.651 8.09766C115.162 8.09766 115.653 8.29266 116.025 8.64282C116.396 8.99299 116.62 9.47188 116.651 9.98165ZM112.963 13.7445V27.5252H116.349V13.7824L112.963 13.7445Z"
        fill="#231F20" />
      <path
        d="M134.027 20.6932C134.027 22.582 133.276 24.3933 131.941 25.7289C130.605 27.0644 128.794 27.8147 126.905 27.8147C125.016 27.8147 123.205 27.0644 121.869 25.7289C120.534 24.3933 119.784 22.582 119.784 20.6932C119.765 19.746 119.935 18.8046 120.284 17.9239C120.634 17.0433 121.155 16.2412 121.818 15.5647C122.481 14.8881 123.273 14.3506 124.146 13.9837C125.02 13.6167 125.958 13.4277 126.905 13.4277C127.852 13.4277 128.79 13.6167 129.664 13.9837C130.537 14.3506 131.329 14.8881 131.992 15.5647C132.655 16.2412 133.177 17.0433 133.526 17.9239C133.875 18.8046 134.045 19.746 134.027 20.6932ZM123.169 20.6932C123.169 22.7725 124.421 24.7197 126.884 24.7197C129.347 24.7197 130.647 22.7725 130.647 20.6932C130.67 20.1788 130.592 19.6648 130.415 19.1812C130.238 18.6976 129.966 18.2541 129.616 17.8766C129.265 17.4991 128.843 17.1953 128.374 16.9828C127.905 16.7703 127.398 16.6534 126.884 16.639C124.447 16.639 123.169 18.6425 123.169 20.6932Z"
        fill="#231F20" />
      <path
        d="M49.8584 21.1662V27.5234H53.2641V21.3169C53.2653 20.2914 53.6535 19.304 54.3511 18.5522C55.0487 17.8005 56.0043 17.3397 57.027 17.2619V13.8477C55.1244 13.924 53.3227 14.724 51.9903 16.0843C50.6579 17.4446 49.8953 19.2624 49.8584 21.1662Z"
        fill="#231F20" />
      <path
        d="M95.3809 20.3202C95.4156 21.2864 95.2553 22.2497 94.9095 23.1525C94.5637 24.0554 94.0396 24.8793 93.3683 25.5751C92.6971 26.2709 91.8925 26.8243 91.0027 27.2023C90.1128 27.5803 89.1559 27.7751 88.1891 27.7751C87.2223 27.7751 86.2654 27.5803 85.3756 27.2023C84.4857 26.8243 83.6811 26.2709 83.0099 25.5751C82.3386 24.8793 81.8145 24.0554 81.4687 23.1525C81.1229 22.2497 80.9626 21.2864 80.9973 20.3202V13.9631H84.403V20.1717C84.403 21.1783 84.8029 22.1438 85.5148 22.8556C86.2266 23.5675 87.1921 23.9674 88.1987 23.9674C89.2054 23.9674 90.1709 23.5675 90.8827 22.8556C91.5946 22.1438 91.9945 21.1783 91.9945 20.1717V13.9609H95.3902V20.3181L95.3809 20.3202Z"
        fill="#231F20" />
      <path
        d="M150.659 21.0447C150.694 20.0786 150.534 19.1153 150.188 18.2124C149.842 17.3096 149.318 16.4856 148.647 15.7898C147.975 15.094 147.171 14.5406 146.281 14.1626C145.391 13.7847 144.434 13.5898 143.467 13.5898C142.501 13.5898 141.544 13.7847 140.654 14.1626C139.764 14.5406 138.959 15.094 138.288 15.7898C137.617 16.4856 137.093 17.3096 136.747 18.2124C136.401 19.1153 136.241 20.0786 136.276 21.0447V27.4019H139.671V21.1954C139.671 20.1888 140.071 19.2233 140.783 18.5115C141.495 17.7996 142.46 17.3997 143.467 17.3997C144.474 17.3997 145.439 17.7996 146.151 18.5115C146.863 19.2233 147.263 20.1888 147.263 21.1954V27.404H150.668V21.0469L150.659 21.0447Z"
        fill="#231F20" />
    </svg>
  </div>
  <div class="header--navigation">
    <nav class="width-box">
      <a href="./index.html" class="logo">
        <svg width="211" height="56" viewBox="0 0 211 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.036 39.1937H16.766C16.766 33.2558 19.1248 27.561 23.3236 23.3623C27.5223 19.1635 33.2171 16.8047 39.155 16.8047V22.0727C34.6199 22.0906 30.2757 23.9002 27.0691 27.1072C23.8625 30.3142 22.0534 34.6586 22.036 39.1937Z"
            fill="#ED1B2F" />
          <path
            d="M28 56C8.376 56 0 47.874 0 28.8C0 10.971 8.4 8.152 23.706 3.016L27.658 1.7C30.5616 0.645372 33.6177 0.0711733 36.706 0C48.73 0 56 10.773 56 28.817C56 38.417 53.827 45.201 49.349 49.547C44.871 53.893 37.891 56 28 56ZM36.706 2.516C33.8838 2.5786 31.0904 3.09904 28.435 4.057L24.484 5.373C9.456 10.457 2.634 12.762 2.634 28.8C2.634 46.57 9.72 53.484 28 53.484C37.219 53.484 43.554 51.614 47.518 47.768C51.482 43.922 53.405 37.719 53.405 28.816C53.405 20.9 51.786 2.516 36.706 2.516Z"
            fill="#ED1B2F" />
          <path
            d="M89.386 13.9735C89.3433 14.6872 89.0298 15.3577 88.5093 15.8479C87.9889 16.3381 87.301 16.6111 86.586 16.6111C85.8711 16.6111 85.1831 16.3381 84.6627 15.8479C84.1423 15.3577 83.8287 14.6872 83.786 13.9735C83.8287 13.2599 84.1423 12.5894 84.6627 12.0992C85.1831 11.6089 85.8711 11.3359 86.586 11.3359C87.301 11.3359 87.9889 11.6089 88.5093 12.0992C89.0298 12.5894 89.3433 13.2599 89.386 13.9735ZM84.21 19.2415V38.5345H88.951V19.2945L84.21 19.2415Z"
            fill="#231F20" />
          <path d="M98.909 11.3662V38.5362H94.194V11.3662H98.909Z" fill="#231F20" />
          <path d="M108.734 11.3662V38.5362H104.045V11.3662H108.734Z" fill="#231F20" />
          <path
            d="M150.642 24.4701C150.005 23.8803 149.256 23.4248 148.439 23.1306C147.622 22.8365 146.755 22.7098 145.888 22.7581C143.636 22.7581 142.398 23.4581 142.398 24.6581C142.398 25.8581 143.517 26.6071 145.967 26.7651C149.589 27.0021 154.172 27.8051 154.172 32.9021C154.172 36.2871 151.406 39.2021 145.927 39.2021C144.29 39.3154 142.648 39.0688 141.117 38.4795C139.585 37.8902 138.202 36.9725 137.063 35.7911L139.394 32.4061C141.219 34.0187 143.546 34.9495 145.979 35.0401C147.77 35.0401 149.443 34.1401 149.443 32.7401C149.443 31.3401 148.35 30.8831 145.637 30.7251C142.015 30.4481 137.737 29.1311 137.737 24.7721C137.737 20.4131 142.32 18.7931 145.81 18.7931C147.16 18.7014 148.515 18.8776 149.797 19.3116C151.078 19.7457 152.261 20.429 153.278 21.3221L150.642 24.4701Z"
            fill="#231F20" />
          <path
            d="M163.311 13.9735C163.268 14.6872 162.955 15.3577 162.434 15.8479C161.914 16.3381 161.226 16.6111 160.511 16.6111C159.796 16.6111 159.108 16.3381 158.588 15.8479C158.067 15.3577 157.754 14.6872 157.711 13.9735C157.754 13.2599 158.067 12.5894 158.588 12.0992C159.108 11.6089 159.796 11.3359 160.511 11.3359C161.226 11.3359 161.914 11.6089 162.434 12.0992C162.955 12.5894 163.268 13.2599 163.311 13.9735ZM158.148 19.2415V38.5345H162.889V19.2945L158.148 19.2415Z"
            fill="#231F20" />
          <path
            d="M187.637 28.9696C187.637 31.6138 186.587 34.1497 184.717 36.0194C182.847 37.8892 180.311 38.9396 177.667 38.9396C175.023 38.9396 172.487 37.8892 170.617 36.0194C168.747 34.1497 167.697 31.6138 167.697 28.9696C167.671 27.6435 167.909 26.3254 168.398 25.0925C168.887 23.8597 169.617 22.7368 170.546 21.7895C171.474 20.8423 172.582 20.0898 173.805 19.5761C175.028 19.0624 176.341 18.7979 177.667 18.7979C178.993 18.7979 180.306 19.0624 181.529 19.5761C182.752 20.0898 183.86 20.8423 184.789 21.7895C185.717 22.7368 186.447 23.8597 186.936 25.0925C187.425 26.3254 187.664 27.6435 187.637 28.9696ZM172.437 28.9696C172.437 31.8806 174.189 34.6066 177.637 34.6066C181.085 34.6066 182.905 31.8806 182.905 28.9696C182.939 28.2494 182.828 27.5297 182.58 26.8527C182.333 26.1756 181.952 25.5547 181.462 25.0263C180.972 24.4978 180.381 24.0724 179.724 23.7749C179.067 23.4774 178.358 23.3138 177.637 23.2936C174.226 23.2936 172.437 26.0986 172.437 28.9696Z"
            fill="#231F20" />
          <path
            d="M69.802 29.6327V38.5327H74.57V29.8437C74.5717 28.4079 75.1151 27.0256 76.0918 25.9731C77.0684 24.9207 78.4063 24.2755 79.838 24.1667V19.3867C77.1743 19.4935 74.6521 20.6136 72.7867 22.5181C70.9213 24.4225 69.8537 26.9674 69.802 29.6327Z"
            fill="#231F20" />
          <path
            d="M133.533 28.4479C133.582 29.8006 133.357 31.1492 132.873 32.4132C132.389 33.6772 131.655 34.8306 130.715 35.8048C129.776 36.7789 128.649 37.5537 127.404 38.0829C126.158 38.612 124.818 38.8848 123.465 38.8848C122.111 38.8848 120.771 38.612 119.526 38.0829C118.28 37.5537 117.153 36.7789 116.214 35.8048C115.274 34.8306 114.54 33.6772 114.056 32.4132C113.572 31.1492 113.347 29.8006 113.396 28.4479V19.5479H118.164V28.2399C118.164 29.6493 118.724 31.0009 119.72 31.9975C120.717 32.9941 122.069 33.5539 123.478 33.5539C124.887 33.5539 126.239 32.9941 127.236 31.9975C128.232 31.0009 128.792 29.6493 128.792 28.2399V19.5449H133.546V28.4449L133.533 28.4479Z"
            fill="#231F20" />
          <path
            d="M210.923 29.4622C210.972 28.1096 210.747 26.761 210.263 25.497C209.779 24.233 209.045 23.0795 208.105 22.1054C207.166 21.1313 206.039 20.3565 204.794 19.8273C203.548 19.2981 202.208 19.0254 200.855 19.0254C199.501 19.0254 198.161 19.2981 196.916 19.8273C195.67 20.3565 194.543 21.1313 193.604 22.1054C192.664 23.0795 191.93 24.233 191.446 25.497C190.962 26.761 190.737 28.1096 190.786 29.4622V38.3622H195.54V29.6732C195.54 28.2639 196.1 26.9122 197.096 25.9157C198.093 24.9191 199.445 24.3592 200.854 24.3592C202.263 24.3592 203.615 24.9191 204.612 25.9157C205.608 26.9122 206.168 28.2639 206.168 29.6732V38.3652H210.936V29.4652L210.923 29.4622Z"
            fill="#231F20" />
        </svg>
      </a>
      <a class="" href="./index.html">
        <i><svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.4441 17.7974H8.18555C8.18555 15.2526 9.19648 12.812 10.9959 11.0125C12.7954 9.21308 15.236 8.20215 17.7808 8.20215V10.4599C15.8372 10.4675 13.9754 11.2431 12.6012 12.6175C11.2269 13.9919 10.4516 15.8538 10.4441 17.7974V17.7974Z"
              fill="#999999" />
            <path
              d="M13 25C4.58971 25 1 21.5174 1 13.3429C1 5.70186 4.6 4.49371 11.1597 2.29257L12.8534 1.72857C14.0978 1.27659 15.4076 1.0305 16.7311 1C21.8843 1 25 5.617 25 13.3501C25 17.4644 24.0687 20.3719 22.1496 22.2344C20.2304 24.097 17.239 25 13 25ZM16.7311 2.07829C15.5216 2.10511 14.3245 2.32816 13.1864 2.73871L11.4931 3.30271C5.05257 5.48157 2.12886 6.46943 2.12886 13.3429C2.12886 20.9586 5.16571 23.9217 13 23.9217C16.951 23.9217 19.666 23.1203 21.3649 21.472C23.0637 19.8237 23.8879 17.1653 23.8879 13.3497C23.8879 9.95714 23.194 2.07829 16.7311 2.07829Z"
              fill="#999999" stroke="#999999" stroke-width="0.4" />
          </svg>
        </i>
        <span>Home </span>
      </a>
      <a class="" href="./project.html">
        <i><svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.8702 9.28656C12.1923 9.28656 13.268 8.211 13.268 6.88898C13.268 5.56677 12.1923 4.49121 10.8702 4.49121C9.54822 4.49121 8.47266 5.56677 8.47266 6.88898C8.47266 8.211 9.54822 9.28656 10.8702 9.28656ZM10.8702 5.89746C11.417 5.89746 11.8618 6.34222 11.8618 6.88898C11.8618 7.43555 11.417 7.88031 10.8702 7.88031C10.3237 7.88031 9.87891 7.43555 9.87891 6.88898C9.87891 6.34222 10.3237 5.89746 10.8702 5.89746Z"
              fill="#999999" />
            <path
              d="M23.1237 0H0.876343C0.393128 0 0 0.393128 0 0.876343V19.7073C0 20.1905 0.393128 20.5836 0.876343 20.5836H23.1237C23.6069 20.5836 24 20.1905 24 19.7073V0.876343C24 0.393128 23.6069 0 23.1237 0ZM22.5938 1.40625V12.5347L18.171 8.11176C17.8826 7.82391 17.4137 7.8241 17.1255 8.1123L10.8704 14.3674L6.87488 10.372C6.73517 10.2321 6.54932 10.155 6.35156 10.155C6.15399 10.155 5.96832 10.2319 5.82861 10.3716L1.40625 14.794V1.40625H22.5938ZM1.40625 19.1774V16.7827L6.35156 11.8374L10.3469 15.8328C10.4868 15.9727 10.6727 16.0499 10.8704 16.0499C11.0678 16.0499 11.2537 15.9728 11.3932 15.8331L17.6484 9.57788L22.5939 14.5234V19.1774H1.40625Z"
              fill="#999999" />
          </svg>
        </i>
        <span>Project </span>
      </a>
      <a class="" href="./contact.html">
        <i><svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.7732 3.17289L12.0013 10.0215L4.22765 3.17279C3.91812 2.90009 3.4463 2.93006 3.17371 3.23939C2.90121 3.54882 2.93088 4.02064 3.24041 4.29333L11.5078 11.577C11.6488 11.7013 11.8252 11.7634 12.0014 11.7634C12.1776 11.7634 12.354 11.7013 12.4951 11.5769L20.7608 4.29323C21.0701 4.02064 21.0999 3.54872 20.8273 3.23929C20.5545 2.93016 20.0828 2.90029 19.7732 3.17289Z"
              fill="#999999" />
            <path
              d="M21.7599 0H2.2401C1.00496 0 0 1.00486 0 2.2401V14.0879C0 15.3232 1.00496 16.328 2.2401 16.328H21.7599C22.995 16.328 24 15.3232 24 14.0879V2.2401C24 1.00496 22.995 0 21.7599 0ZM22.5066 14.0879C22.5066 14.4996 22.1717 14.8346 21.7599 14.8346H2.2401C1.82832 14.8346 1.4934 14.4996 1.4934 14.0879V2.2401C1.4934 1.82842 1.82832 1.4934 2.2401 1.4934H21.7599C22.1717 1.4934 22.5066 1.82842 22.5066 2.2401V14.0879Z"
              fill="#999999" />
          </svg>
        </i>
        <span>Contact </span>
      </a>
      <a href="javascript:void(0)" class="trigger-menu">
        <i>
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill="#999999" />
            <circle cx="3" cy="13" r="3" fill="#999999" />
            <circle cx="3" cy="23" r="3" fill="#999999" />
            <circle cx="13" cy="3" r="3" fill="#999999" />
            <circle cx="13" cy="13" r="3" fill="#999999" />
            <circle cx="13" cy="23" r="3" fill="#999999" />
            <circle cx="23" cy="3" r="3" fill="#999999" />
            <circle cx="23" cy="13" r="3" fill="#999999" />
            <circle cx="23" cy="23" r="3" fill="#999999" />
          </svg>
        </i>
        {{!-- <span>
          Menu
        </span> --}}
      </a>
    </nav>
  </div>
  <div class="menu--items">
    <div>
      <div class="menu--items_logo">
        <div class="mobile trigger-menu">
          <svg width="151" height="40" viewBox="0 0 151 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.7399 27.996H11.9756C11.9756 23.7547 13.6605 19.687 16.6596 16.6879C19.6587 13.6888 23.7263 12.0039 27.9677 12.0039V15.7668C24.7284 15.7796 21.6254 17.0721 19.335 19.3629C17.0445 21.6536 15.7523 24.7567 15.7399 27.996Z"
              fill="#ED1B2F" />
            <path
              d="M20 40C5.98286 40 0 34.1957 0 20.5714C0 7.83643 6 5.82286 16.9329 2.15429L19.7557 1.21429C21.8297 0.46098 24.0126 0.0508381 26.2186 0C34.8071 0 40 7.695 40 20.5836C40 27.4407 38.4479 32.2864 35.2493 35.3907C32.0507 38.495 27.065 40 20 40ZM26.2186 1.79714C24.2027 1.84186 22.2074 2.2136 20.3107 2.89786L17.4886 3.83786C6.75429 7.46929 1.88143 9.11571 1.88143 20.5714C1.88143 33.2643 6.94286 38.2029 20 38.2029C26.585 38.2029 31.11 36.8671 33.9414 34.12C36.7729 31.3729 38.1464 26.9421 38.1464 20.5829C38.1464 14.9286 36.99 1.79714 26.2186 1.79714Z"
              fill="#ED1B2F" />
            <path
              d="M63.8467 9.98165C63.8162 10.4914 63.5922 10.9703 63.2205 11.3205C62.8488 11.6706 62.3574 11.8656 61.8467 11.8656C61.336 11.8656 60.8446 11.6706 60.4729 11.3205C60.1011 10.9703 59.8772 10.4914 59.8467 9.98165C59.8772 9.47188 60.1011 8.99299 60.4729 8.64282C60.8446 8.29266 61.336 8.09766 61.8467 8.09766C62.3574 8.09766 62.8488 8.29266 63.2205 8.64282C63.5922 8.99299 63.8162 9.47188 63.8467 9.98165ZM60.1495 13.7445V27.5252H63.536V13.7824L60.1495 13.7445Z"
              fill="#231F20" />
            <path d="M70.6491 8.11914V27.5263H67.2812V8.11914H70.6491Z" fill="#231F20" />
            <path d="M77.6667 8.11914V27.5263H74.3174V8.11914H77.6667Z" fill="#231F20" />
            <path
              d="M107.602 17.4791C107.147 17.0578 106.612 16.7324 106.028 16.5223C105.445 16.3122 104.825 16.2217 104.206 16.2562C102.597 16.2562 101.713 16.7562 101.713 17.6134C101.713 18.4705 102.512 19.0055 104.262 19.1184C106.849 19.2877 110.123 19.8612 110.123 23.502C110.123 25.9198 108.147 28.002 104.234 28.002C103.065 28.0829 101.892 27.9067 100.798 27.4857C99.7041 27.0648 98.7157 26.4094 97.9023 25.5655L99.5673 23.1477C100.871 24.2995 102.533 24.9643 104.271 25.0291C105.55 25.0291 106.745 24.3862 106.745 23.3862C106.745 22.3862 105.964 22.0598 104.027 21.947C101.439 21.7491 98.3838 20.8084 98.3838 17.6948C98.3838 14.5812 101.657 13.4241 104.15 13.4241C105.115 13.3586 106.082 13.4844 106.998 13.7944C107.913 14.1045 108.758 14.5925 109.484 15.2305L107.602 17.4791Z"
              fill="#231F20" />
            <path
              d="M116.65 9.98165C116.62 10.4914 116.396 10.9703 116.024 11.3205C115.652 11.6706 115.161 11.8656 114.65 11.8656C114.14 11.8656 113.648 11.6706 113.277 11.3205C112.905 10.9703 112.681 10.4914 112.65 9.98165C112.681 9.47188 112.905 8.99299 113.277 8.64282C113.648 8.29266 114.14 8.09766 114.65 8.09766C115.161 8.09766 115.652 8.29266 116.024 8.64282C116.396 8.99299 116.62 9.47188 116.65 9.98165ZM112.963 13.7445V27.5252H116.349V13.7824L112.963 13.7445Z"
              fill="#231F20" />
            <path
              d="M134.027 20.6932C134.027 22.582 133.276 24.3933 131.941 25.7289C130.605 27.0644 128.794 27.8147 126.905 27.8147C125.016 27.8147 123.205 27.0644 121.869 25.7289C120.534 24.3933 119.784 22.582 119.784 20.6932C119.765 19.746 119.935 18.8046 120.284 17.9239C120.634 17.0433 121.155 16.2412 121.818 15.5647C122.481 14.8881 123.273 14.3506 124.146 13.9837C125.02 13.6167 125.958 13.4277 126.905 13.4277C127.852 13.4277 128.79 13.6167 129.664 13.9837C130.537 14.3506 131.329 14.8881 131.992 15.5647C132.655 16.2412 133.177 17.0433 133.526 17.9239C133.875 18.8046 134.045 19.746 134.027 20.6932ZM123.169 20.6932C123.169 22.7725 124.421 24.7197 126.884 24.7197C129.347 24.7197 130.647 22.7725 130.647 20.6932C130.67 20.1788 130.592 19.6648 130.415 19.1812C130.238 18.6976 129.966 18.2541 129.616 17.8766C129.265 17.4991 128.843 17.1953 128.374 16.9828C127.905 16.7703 127.398 16.6534 126.884 16.639C124.447 16.639 123.169 18.6425 123.169 20.6932Z"
              fill="#231F20" />
            <path
              d="M49.8584 21.1662V27.5234H53.2641V21.3169C53.2653 20.2914 53.6535 19.304 54.3511 18.5522C55.0487 17.8005 56.0043 17.3397 57.027 17.2619V13.8477C55.1244 13.924 53.3227 14.724 51.9903 16.0843C50.6579 17.4446 49.8953 19.2624 49.8584 21.1662Z"
              fill="#231F20" />
            <path
              d="M95.3804 20.3202C95.4151 21.2864 95.2548 22.2497 94.909 23.1525C94.5632 24.0554 94.0391 24.8793 93.3678 25.5751C92.6966 26.2709 91.892 26.8243 91.0022 27.2023C90.1123 27.5803 89.1554 27.7751 88.1886 27.7751C87.2218 27.7751 86.2649 27.5803 85.3751 27.2023C84.4852 26.8243 83.6806 26.2709 83.0094 25.5751C82.3382 24.8793 81.814 24.0554 81.4682 23.1525C81.1224 22.2497 80.9621 21.2864 80.9968 20.3202V13.9631H84.4025V20.1717C84.4025 21.1783 84.8025 22.1438 85.5143 22.8556C86.2261 23.5675 87.1916 23.9674 88.1983 23.9674C89.2049 23.9674 90.1704 23.5675 90.8822 22.8556C91.5941 22.1438 91.994 21.1783 91.994 20.1717V13.9609H95.3897V20.3181L95.3804 20.3202Z"
              fill="#231F20" />
            <path
              d="M150.66 21.0447C150.694 20.0786 150.534 19.1153 150.188 18.2124C149.843 17.3096 149.318 16.4856 148.647 15.7898C147.976 15.094 147.171 14.5406 146.281 14.1626C145.392 13.7847 144.435 13.5898 143.468 13.5898C142.501 13.5898 141.544 13.7847 140.654 14.1626C139.765 14.5406 138.96 15.094 138.289 15.7898C137.617 16.4856 137.093 17.3096 136.748 18.2124C136.402 19.1153 136.241 20.0786 136.276 21.0447V27.4019H139.672V21.1954C139.672 20.1888 140.072 19.2233 140.784 18.5115C141.495 17.7996 142.461 17.3997 143.468 17.3997C144.474 17.3997 145.44 17.7996 146.152 18.5115C146.863 19.2233 147.263 20.1888 147.263 21.1954V27.404H150.669V21.0469L150.66 21.0447Z"
              fill="#231F20" />
          </svg>
        </div>

        <div class="desktop">
          <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M22.5361 39.1937H17.2661C17.2661 33.2558 19.6249 27.561 23.8237 23.3623C28.0225 19.1635 33.7172 16.8047 39.6551 16.8047V22.0727C35.12 22.0906 30.7759 23.9002 27.5692 27.1072C24.3626 30.3142 22.5535 34.6586 22.5361 39.1937Z"
              fill="#ED1B2F" />
            <path
              d="M28.5 56C8.876 56 0.5 47.874 0.5 28.8C0.5 10.971 8.9 8.152 24.206 3.016L28.158 1.7C31.0616 0.645372 34.1177 0.0711733 37.206 0C49.23 0 56.5 10.773 56.5 28.817C56.5 38.417 54.327 45.201 49.849 49.547C45.371 53.893 38.391 56 28.5 56ZM37.206 2.516C34.3838 2.5786 31.5904 3.09904 28.935 4.057L24.984 5.373C9.956 10.457 3.134 12.762 3.134 28.8C3.134 46.57 10.22 53.484 28.5 53.484C37.719 53.484 44.054 51.614 48.018 47.768C51.982 43.922 53.905 37.719 53.905 28.816C53.905 20.9 52.286 2.516 37.206 2.516Z"
              fill="#ED1B2F" />
          </svg>
        </div>
      </div>
      <a href="javascript:void(0)" class="menu--items_close">
        <button><span>Close</span></button>
      </a>
    </div>
    <ul>
      <li><a href="javascript:void(0)">Rillusion</a></li>
      <li><a href="./about.html">About</a></li>
      <li><a href="./service.html">Service</a></li>
      {{!-- <li><a href="./industries.html">Industries</a></li>
      <li><a href="#">Blog</a></li> --}}
      <li><a href="./contact.html">Contact</a></li>
      <li><a href="./project.html">Projects</a></li>
    </ul>
    <ul>
      <li><a href="javascript:void(0)">Startups</a></li>
      <li><a href="../../projects/avishkaram.hbs">Avishkaram</a></li>
      <li><a href="../../projects/motion-edu.hbs">Motion Edu</a></li>
      <li><a href="../../projects/revv-car.hbs">Revv Cars</a></li>
      <li><a href="../../projects/gamooga.hbs">Gamooga</a></li>
      <li><a href="../../projects/wealth-fund.hbs">Wealth Fund</a></li>
      <li><a href="#" class="link-disabled" data-tooltip="Coming soon">Stockal</a></li>
      {{!-- <li><a href="#" class="link-disabled" data-tooltip="Coming soon">Oven Fresh</a></li> --}}
      <li><a href="#" class="link-disabled" data-tooltip="Coming soon">Finnacle</a></li>
      {{!-- <li><a href="#" class="link-disabled" data-tooltip="Coming soon">Eat Fresh</a></li> --}}
    </ul>
    <ul>
      <li><a href="javascript:void(0)">Enterprises</a></li>
      <li><a href="../../projects/sparsh.hbs">SRF</a></li>
      <li><a href="../../projects/zifo.hbs">Zifo</a></li>
      <li><a href="#" class="link-disabled" data-tooltip="Coming soon">Shri Connect</a></li>    
      <li><a href="#" class="link-disabled" data-tooltip="Coming soon">HDFC Fund</a></li>
      <li><a href="#" class="link-disabled" data-tooltip="Coming soon">Saint Gobain</a></li>
      {{!-- <li><a href="#" class="link-disabled" data-tooltip="Coming soon">TI Cycles</a></li> --}}
    </ul>
    <ul class="menu--items_social-icon">
      <li>
        <a href="https://dribbble.com/rillusion" target="_blank">
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.67 20C5.1487 20 0.657015 15.5141 0.656738 10C0.657292 4.48587 5.1487 0.000553572 10.67 0C16.1914 0.000553572 20.6828 4.48587 20.683 10C20.6828 15.5141 16.1914 20 10.67 20Z"
              fill="#666666" />
            <path
              d="M10.1308 7.20403C8.77592 4.80762 7.32778 2.78681 7.03605 2.38574C4.70661 3.49731 2.96203 5.64185 2.40265 8.22261C2.4259 8.22261 2.45358 8.22261 2.48541 8.22261C3.26484 8.22261 6.49437 8.16005 10.1308 7.20403Z"
              fill="white" />
            <path
              d="M16.243 3.6636C14.7533 2.35772 12.8031 1.56445 10.6699 1.56445C10.0139 1.56445 9.37566 1.64002 8.76202 1.78284C9.10579 2.24728 10.5531 4.24623 11.8739 6.66285C14.7287 5.58339 16.0075 3.98578 16.243 3.6636Z"
              fill="white" />
            <path
              d="M13.1161 9.20104C13.1737 9.33611 13.2296 9.4709 13.2847 9.60487C13.9393 9.52432 14.5925 9.49304 15.213 9.49304C17.137 9.49304 18.747 9.79419 19.1271 9.87086C19.0947 7.92422 18.4 6.13591 17.2579 4.7207C16.9626 5.1035 15.5338 6.79604 12.5733 8.01556C12.7635 8.40583 12.9459 8.80219 13.1161 9.20104Z"
              fill="white" />
            <path
              d="M11.2498 10.0399C11.3428 10.01 11.4369 9.98261 11.531 9.95493C11.3295 9.50294 11.1125 9.05039 10.8845 8.60449C7.12985 9.71911 3.48569 9.8063 2.43639 9.8063C2.33952 9.8063 2.26562 9.80574 2.21469 9.80464C2.21303 9.87439 2.21109 9.94414 2.21109 10.0133C2.21137 12.159 3.01654 14.1192 4.3404 15.6108C4.69773 15.0204 7.02218 11.4053 11.2498 10.0399Z"
              fill="white" />
            <path
              d="M13.8395 11.0397C14.8916 13.9415 15.3474 16.3213 15.4604 16.9718C17.3126 15.6964 18.6326 13.7027 19.0143 11.397C18.6932 11.2991 17.3101 10.9121 15.5426 10.9121C15.0042 10.9121 14.4299 10.9489 13.8395 11.0397Z"
              fill="white" />
            <path
              d="M12.1395 11.4584C7.50557 13.071 5.75186 16.2291 5.5105 16.7032C6.93982 17.8046 8.72897 18.4614 10.6703 18.4614C11.8281 18.4614 12.9322 18.2278 13.9381 17.8054C13.8025 17.0185 13.3101 14.4803 12.1489 11.4551C12.1456 11.4562 12.1426 11.4573 12.1395 11.4584Z"
              fill="white" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.behance.net/Rillusion-ux-ui" target="_blank">
          <svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.1041 1.43879H26.3769V3.6094H19.1041V1.43879ZM15.4284 12.8238C15.4284 18.2038 9.82936 18.0269 9.82936 18.0269H4.69821H4.54754H0.656738V0.400391H4.54754H4.69821H9.82896C12.6166 0.400391 14.817 1.9393 14.817 5.09344C14.817 8.24798 12.1272 8.44795 12.1272 8.44795C15.6729 8.44795 15.4284 12.8238 15.4284 12.8238ZM22.9997 15.6038C25.9296 15.6038 25.8259 13.7075 25.8259 13.7075H28.9279C28.9279 18.7401 22.8964 18.3954 22.8964 18.3954C15.6582 18.3954 16.1237 11.657 16.1237 11.657C16.1237 11.657 16.1182 4.88513 22.8956 4.88513C30.0303 4.88513 29.0313 12.5359 29.0313 12.5359H19.8976C19.8976 15.8113 22.9997 15.6038 22.9997 15.6038Z"
              fill="#666666" />
            <path
              d="M11.0762 5.3663C11.0762 3.5332 9.82911 3.5332 9.82911 3.5332H9.16879H4.69836V7.46654H9.51108C10.3427 7.46614 11.0762 7.20018 11.0762 5.3663Z"
              fill="white" />
            <path
              d="M9.82951 10.1846H4.69836V14.8955H9.59258C10.3288 14.8745 11.6877 14.6439 11.6877 12.6056C11.6877 10.1599 9.82951 10.1846 9.82951 10.1846Z"
              fill="white" />
            <path
              d="M22.9652 7.46777C20.2424 7.46777 19.8627 10.185 19.8627 10.185H25.653C25.6534 10.185 25.688 7.46777 22.9652 7.46777Z"
              fill="white" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/rillusion_ux_ui_design/" target="_blank">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.0895 20.7998H3.22397C1.81152 20.7998 0.656738 19.7544 0.656738 18.2331V3.36675C0.656738 1.84491 1.81152 0.799805 3.22397 0.799805H18.0895C19.5017 0.799805 20.6567 1.84491 20.6567 3.36675V18.2331C20.6567 19.7544 19.5014 20.7998 18.0895 20.7998Z"
              fill="#666666" />
            <path
              d="M10.6756 14.6481C12.8938 14.6481 14.692 12.9057 14.692 10.7562C14.692 8.60674 12.8938 6.86426 10.6756 6.86426C8.45747 6.86426 6.6593 8.60674 6.6593 10.7562C6.6593 12.9057 8.45747 14.6481 10.6756 14.6481Z"
              fill="white" />
            <path
              d="M16.8924 10.9737C16.8924 14.3004 14.1092 16.9967 10.6759 16.9967C7.2427 16.9967 4.45946 14.3004 4.45946 10.9737C4.45946 10.3776 4.54942 9.80174 4.71601 9.25781H2.87903V17.7061C2.87903 18.1437 3.23665 18.5011 3.67396 18.5011H17.601C18.0386 18.5011 18.3965 18.1437 18.3965 17.7061V9.25781H16.6359C16.8022 9.80174 16.8924 10.3776 16.8924 10.9737Z"
              fill="white" />
            <path
              d="M15.2263 6.97826H17.4867C17.982 6.97826 18.3869 6.57343 18.3869 6.07809V3.92291C18.3869 3.42729 17.982 3.02246 17.4867 3.02246H15.2263C14.7307 3.02246 14.3258 3.42729 14.3258 3.92291V6.07809C14.3256 6.57315 14.7307 6.97826 15.2263 6.97826Z"
              fill="white" />
          </svg>
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/Rillusion/" target="_blank">
          <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.0427 3.51928L9.16005 3.52011C7.6837 3.52011 7.39823 4.22167 7.39823 5.25102V7.52084H10.9188L10.9171 11.076H7.39851V20.1992H3.72642V11.076H0.656738V7.52084H3.72642V4.89899C3.72642 1.85632 5.58544 0.199219 8.29947 0.199219L11.043 0.203397L11.0427 3.51928Z"
              fill="#666666" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/rillusion" target="_blank">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.14006 20.5996H0.987942V7.24029H5.14006V20.5996ZM3.06491 5.41414C1.73405 5.41414 0.656738 4.33531 0.656738 3.00627C0.65704 1.67844 1.73405 0.599609 3.06491 0.599609C4.39214 0.599609 5.47096 1.67844 5.47096 3.00627C5.47096 4.33561 4.39184 5.41414 3.06491 5.41414ZM20.6912 20.5996H16.5424V14.1028C16.5424 12.5534 16.5137 10.5608 14.3841 10.5608C12.2247 10.5608 11.8926 12.2482 11.8926 13.9907V20.5993H7.74406V7.24029H11.7263V9.06583H11.7823C12.3368 8.01541 13.6906 6.90818 15.7108 6.90818C19.9152 6.90818 20.6912 9.67505 20.6912 13.272V20.5996Z"
              fill="#666666" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://medium.com/@rillusionagency" target="_blank">
          <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M23.2887 18V17.6194L21.5202 15.8832C21.3647 15.765 21.2869 15.569 21.3193 15.3763V2.62372C21.2869 2.43099 21.3647 2.23502 21.5202 2.11679L23.3308 0.380601V0H17.0647L12.5979 11.1427L7.51566 0H0.941784V0.380601L3.06019 2.93144C3.2675 3.11769 3.37439 3.39302 3.34524 3.67159V13.6935C3.40678 14.0547 3.29341 14.424 3.03914 14.688L0.656738 17.5773V17.9579H7.41038V17.5773L5.02798 14.688C4.77209 14.424 4.65062 14.0579 4.70083 13.6935V5.02555L10.6285 17.9579H11.3168L16.4071 5.02555V15.3342C16.4071 15.6095 16.4071 15.6613 16.2274 15.8411L14.3972 17.6194V18H23.2887Z"
              fill="#666666" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
