%font-montsrt{
    font-family: 'Montserrat', sans-serif;
}

%pos-abs{
    position: absolute;
}


%txt-center{
    text-align: center;
}


%m-x-auto{
    margin-right: auto;
    margin-left: auto;
}



