@font-face {
	font-family : "Space Grotesk";
	src : url("../fonts/revv-cars/Space-Grotesk/SpaceGrotesk-Regular.otf");
}

@font-face {
	font-family : "Space Grotesk-medium";
	src : url("../fonts/revv-cars/Space-Grotesk/SpaceGrotesk-Medium.otf");
}

// dm-sans

@font-face {
	font-family : "DM Sans";
	src : url("../fonts/revv-cars/DM_Sans/DMSans-Regular.ttf");
}

//rubik

@font-face {
	font-family : "Rubik";
	src : url("../fonts/revv-cars/Rubik/Rubik-Light.ttf")  format("truetype");
}