// @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Hanuman:wght@400;700&family=Rubik:wght@300&display=swap');

*{
  // font-family: 'Hanuman', serif;
  font-family: $secondary-font;
  font-size: 16px;
  @include mobile {
    font-size: 18px;
  }
}

span{
  font-family: inherit;
  font-size: inherit;
}

.h1{
  font-size: 0;
  width: 0;
}