$base-color: #5A5A5A;
$primary-color: #09192B;
$secondary-color: #000000;
$white: #ffffff;
$black: #000000;


//$fonts
$primary-font: 'Space Grotesk', sans-serif;
$font-primary-medium: 'Space Grotesk-medium', sans-serif;
$secondary-font: 'DM Sans', sans-serif;


// media queries
$desktop-breakpoint: 1200px;
$tab-breakpoint: 768px;
$mobile-breakpoint: 576px;