$base-color: #484B6C;
$primary-color: #00CC97;
$secondary-color: #161723;
$mystic : #EEF3F4;
$mango-tango: #de7300;
$copper: #a88038;
$chenin: #e1ca72;
$bay-leaf: #74b087;
$mt-pink: #9F8198;

//backgrounds
$bg-basic : #EAF3F9;



// media queries
$desktop-breakpoint: 1200px;
$tab-breakpoint: 768px;
$mobile-breakpoint: 576px;