//font
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

$base-color : #484b6c;
$primary-color : #00cc97;
$secondary-color : #161723;
$mystic : #eef3f4;
$mango-tango : #de7300;
$copper : #a88038;
$chenin : #e1ca72;
$bay-leaf : #74b087;
$mt-pink : #9f8198;

//backgrounds
$bg-basic : #eaf3f9;



// media queries
$desktop-breakpoint : 1200px;
$tab-breakpoint : 768px;
$mobile-breakpoint : 576px;