.brand {
  @include interpolate("padding-top", 600px, 120px, 1200px, 175px);
  @include interpolate("padding-bottom", 600px, 100px, 1200px, 175px);
  
  .page-main-head{
    max-width: 445px;
  }

  h3 {
    margin-bottom: 8px;
  }

  .content-txt {
    margin-bottom: 2.2em;
    max-width: 440px;
  }

  span {
    color: $secondary-color;
  }

  .float-r {
    margin-right: 4.8rem;
  }
}