.campaignBanner {
	margin-top : 2rem;
	margin-bottom : 2rem;
	height : 15.4rem;
	background-image : url("../images/project/gamooga/gamooga-campaignBanner.png");
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	@include interpolate("height", 320px, 200px, 1200px, 1055px);
	@include mobile {
		@include size($height : 30rem);
		margin-bottom : 4rem;
	}
	@include desktop {
		margin-top : 5rem;
		margin-bottom : 8.8rem;
	}
}