.footer {
	background-image : url("../images/project/gamooga-footer.png");
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	max-width : inherit;
	@include interpolate("height", 600px, 270px, 1200px, 900px);
}